<%= error_messages_for 'bank_branch' %>

<!--[form:bank_branch]-->
<div class="form-group">
  <label for="bank_branch_branch_code" class="col-sm-3 control-label">支店コード:</label>
  <div class="col-sm-9">
    <%= text_field 'bank_branch', 'branch_code',
                       :class=>"form-control", :style=>"width:10em"  %>
  </div>
</div>

<div class="form-group">
  <label for="bank_branch_name" class="col-sm-3 control-label">支店名:</label>
  <div class="col-sm-9">
    <%= text_field 'bank_branch', 'name', :class=>"form-control"  %>
  </div>
</div>

<div class="form-group">
  <label for="bank_branch_kana_name" class="col-sm-3 control-label">Kana name:</label>
  <div class="col-sm-9">
    <%= text_field 'bank_branch', 'kana_name', :class=>"form-control"  %> カタカナ
  </div>
</div>    
<!--[eoform:bank_branch]-->

