<h1>Editing bank_branch</h1>

<%= form_tag( {:action => 'update', :id => @bank_branch},
                                  :class => "well form-horizontal" ) do %>
  <%= render :partial => 'form' %>

<p><%= link_to 'キャンセル', :action => 'show', :id => @bank_branch %>
  <%= submit_tag '更新' %>
<% end %>

