
<h1>新しい支店</h1>

<p><b>銀行:</b> <%= @bank.name %>

<%= form_tag( {:action => 'create'}, :class => "well form-horizontal") do %>
  <%= hidden_field_tag :bank, @bank.id %>
  <%= render :partial => 'form' %>

<p><%= link_to 'キャンセル', :controller => "banks", :action => 'show', :id => @bank %>
  <%= submit_tag "Create" %>
<% end %>


