
<% @page_title = "銀行支店 #{@bank_branch.name}"
   @crumbs = [{:controller => 'keiri', :action => 'index', :title => '経理'},
     {:controller => 'banks', :action => 'index', :title => '銀行の検索'},
     {:controller => 'banks', :action => 'show', :id => @bank,
      :title => "銀行 #{@bank.name}"},
             ] %>

<table>
  <tr><th align="right">金融機関コード: <td><%= @bank_branch.bank.id %>
  <tr><th align="right">銀行名: <td><%=h @bank_branch.bank.name %>
  <tr><th align="right">銀行名カナ: <td><%=h @bank_branch.bank.kana_name %>
  <tr><th align="right">支店コード: <td><%= @bank_branch.branch_code %>
  <tr><th align="right">支店名: <td><%=h @bank_branch.name %>
  <tr><th align="right">支店名カナ: <td><%=h @bank_branch.kana_name %>
</table>

<p><%= link_to '[編集...]', :action => 'edit', :id => @bank_branch %> |
  <%= link_to 'Destroy', { :action => 'destroy', :id => @bank_branch },
              :data => {:confirm => 'Are you sure?'}, :method => :post %>
  
