<% # _form から include される
   #   @param i          行番号. 0はじまり
   #   @param detail_obj 行オブジェクト
   #   @param advance 立替金フラグ
   #   @invoice          販売請求書オブジェクト
  %>
 
<%= fields_for "detail#{i}", detail_obj do |f| %>
  <tr id="r<%= i %>">
<% # line_no の前に空白を入れないこと
  %>
    <td nowrap><%= f.hidden_field "line_no", :value => (i + 1), :size => 2 %>
      <%= f.hidden_field 'advance', :value => advance %>
      <%= f.text_field 'description', 
                  :class => "form-control input-sm", :style => "width:30em" %>
    <td><%= f.text_field 'unit_price', 
                  :class => "form-control input-sm", :style => "width:8em",
                  :value => (detail_obj.unit_price != 0 ? 
                             edit_amount(detail_obj.unit_price, 
                                         @invoice.currency ? @invoice.currency.exponent : 0) : nil),
                  :onchange => "up_total(#{i},0);" %>

    <td><%= f.text_field 'qty', 
                  :class => "form-control input-sm", :style => "width:6em",
                  :onchange => "up_total(#{i},0);" %>
    <td><%= f.text_field 'unit', 
                  :class => "form-control input-sm", :style => "width:4em" %>
    <td><%= f.text_field 'amount', 
                  :class => "form-control input-sm", :style => "width:10em",
                  :value => (detail_obj.amount != 0 ? 
                             edit_amount(detail_obj.amount, 
                                         @invoice.currency ? @invoice.currency.exponent : 0) : nil),
                  :onchange => "up_total(#{i},1);" %>

    <%if advance == "true" || advance == true %>
      <td><%= f.select "vat_code", 
                       ([SiDetail::VAT_OPTS.map do |k, v| [v, k] end.find{|k,v|v==0 }]), 
                       {},
                       :style => "width:120px;",
                       :onchange => "up_subtotal();" %>
      <td>
    <%else%>
      <td><%= f.select "vat_code", 
                       (SiDetail::VAT_OPTS.map do |k, v| [v, k] end), 
                       {},
                       :style => "width:120px;",
                       :onchange => "up_subtotal();" %>
      <td>
    <%end%>

      <button type="button" style="padding:0" 
              onclick="insert_new_detail('r<%= i %>',<%=advance%>); return false;">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
  </tr>
<% end %>
