
<% # @param   @invoice 請求書
  %>

<table border="1" style="border-collapse:collapse;">
  <tr>
    <th>内容<th>単価<th colspan="2">数量<th>金額<th nowrap>消費税
  </tr>
<% details = SiDetail.find :all, 
                      :conditions => ['sales_invoice_id = ?', @invoice.id],
                      :order => 'line_no' 

   first_advance = details.find{|x|x.advance}

   sub_total = 0
   details.each_with_index {|line, i| 
   %>

  <% if first_advance && line.line_no == first_advance.line_no %>
    <th colspan="6" align="left">■■■立替金■■■
  <% end %>

    <tr <%= i != 0 ? "style=\"border-top:hidden\"" : nil %>>
      <td><%=h line.description %>
      <td align="right" nowrap><%= line.unit_price ? format_amount(line.unit_price, @invoice.currency.exponent) : '' %>
      <td align="right"><%= line.qty %>
      <td style="border-left:hidden"><%=h line.unit %>
      <td align="right" nowrap><%= format_amount(line.amount, @invoice.currency.exponent) %>
      <td><%= SiDetail::VAT_OPTS_DISP.dig(line.vat_code,2) %>
    </tr>

<% } 
   sub_total = @invoice.sub_total
   ex_vat = @invoice.ex_vat_amount %>

  <tr>
    <th colspan="4" align="right"><%= @invoice.including_tax ? '合計:' : '小計:' %>
    <td align="right"><%= format_amount(sub_total, @invoice.currency.exponent) %>
    <td colspan="4"><%=h @invoice.currency.name %>
  <tr>
    <th colspan="4" align="right"><%=h 'うち' if @invoice.including_tax %>消費税: 
    <td align="right"><%= format_amount(ex_vat, @invoice.currency.exponent) %>
    <td colspan="4"><%=h @invoice.currency.name %>
  <% unless @invoice.including_tax %>
  <tr>
    <th colspan="4" align="right">合計: 
    <td align="right"><%=@invoice.including_tax ? format_amount(sub_total, @invoice.currency.exponent) : format_amount(sub_total + ex_vat, @invoice.currency.exponent) %> 
    <td colspan="4"><%=h @invoice.currency.name %>
  <% end %>
</table>

<% ex_vat_each = @invoice.ex_vat_amount_each
   ex_subtotal_each = @invoice.ex_subtotal_each
%>
<br>
<% if ex_vat != 0  %>
  <table  border="1" style="border-collapse:collapse;">
    <tr>
      <td>税率　</td>
      <td>対象額（<%= @invoice.including_tax ? '税込み' : '税抜き' %>）</td>
      <td>消費税額　</td>
    </tr>
    <% SiDetail::VAT_OPTS_DISP.each do |i| 
      ex_subtotal = "ex_subtotal#{i[1][0]}"
      vat_total = "vat_total#{i[1][0]}"
      if i[0] != 0 && ex_subtotal_each[ex_subtotal] != 0 %>
        <tr>
            <td><%= i[1][2] %></td>
            <td align="right"><%=format_amount(ex_subtotal_each[ex_subtotal], @invoice.currency.exponent)%></td>
            <td align="right"><%=format_amount(ex_vat_each[vat_total], @invoice.currency.exponent)%></td>
        </tr>
      <% end
    end %>
  </table>
<%end%>

<blockquote>
<%= @invoice.remarks.split(/\r?\n|\r/).collect {|line| h(line)}.join("<br/>").html_safe %>
</blockquote>

<table style="margin-top:1em;">
  <tr><th align="right">お支払い約束日: <td><%= @invoice.due_day %> 
           <%=h @invoice.disable_due_day ? "【請求書に表示しません】" : nil %>

  <tr><th align="right" valign="top">振込先銀行:
    <td>
<% @invoice.our_banks.each {|b| %>
      <%=h b.format_long %><br/>
<% } %>

  <tr><th align="right">発送方法:
    <td><%=h SalesInvoice::DELIVERY_TYPE_NAMES[@invoice.delivery] %>

</table>







<% detail = SiDetail.where('sales_invoice_id = ?', @invoice.id) \
                      .select('sum(amount) as sub_total') \
                      .order("").first
   detail_total = @invoice.including_tax ? detail.sub_total.to_i : detail.sub_total.to_i + @invoice.ex_vat_amount
   journal_total = @invoice.si_journals.inject(0) {|acc, x| acc + x.amount}
   if !detail || (detail_total != journal_total) %>
<p><b style="color:red">警告：明細金額と計上金額が一致していません。どちらかを修正してください。</b>
<% end %>

