<% # -*- mode:html -*- 
  %>

<% @action_javascript = "sales_invoices_form" %>




<%= error_messages_for 'invoice' %>

<!--[form:sales_invoice]-->
<%= hidden_field_tag 'partner', @partner.id %>
<table border="0">
  <tr>
    <th align="right">カンパニー:
    <td><%=h @invoice.company_setting.name %><%= hidden_field 'invoice', 'company_setting_id' %>

  <tr>
    <th align="right" rowspan="2" valign="top" nowrap>所在地: 
    <td>〒<%= text_field 'invoice', 'zip', :size => 12 %> <%= text_field 'invoice', 'addr1', :size => 50 %>
  <tr><td><%= text_field 'invoice', 'addr2', :size => 70 %>
  <tr>
    <th align="right" valign="top" rowspan="3">宛て名: 
    <td><%= text_field 'invoice', 'contact_name1', :size => 60 %>
  <tr><td><%= text_field 'invoice', 'contact_name2', :size => 60 %> 
  <tr><td><%= text_field 'invoice', 'contact_name3', :size => 60 %> (様または御中まで入力してください)
  <tr><th align="right" nowrap>販売日/締め日: 
    <td><%= date_select2 'invoice', 'sell_day' %>
  <tr><th align="right">通貨: 
    <td><%= collection_select 'invoice', 'currency_id', Currency.find(:all), :id, :name %>
</table>
<br>
<table border=1>
  <tr>
    <td style="padding:8px 15px" onChange="up_subtotal()">
      <% 
       @checked0 = true
       @checked1 = false
       if (@invoice.id && @invoice.including_tax || params[:invoice] && params[:invoice][:including_tax] == "1")
         @checked0 = false
         @checked1 = true
       end
      %>
     <%= radio_button 'invoice', 'including_tax', 0,:checked=>@checked0 %><label for="invoice_including_tax_0">　税抜 </label>
     <%= radio_button 'invoice', 'including_tax', 1,:checked=>@checked1 %><label for="invoice_including_tax_1">　税込 </label>
    </td>
  </tr>
</table>

<p>各行は, (単価, 数量) の組か, 金額のいずれかを入力してください。

<p>税込を選択した場合は, 内税で入力してください。消費税金額は自動計算されます.

<% first_advance = @detail_lines.find{|x|x.advance} %>
<% advance_count = @detail_lines.count{|x|x.advance} %>
<% line_no_list = @detail_lines.map {|d| d.line_no } %>

<% if line_no_list.count == 0%>
  <% line_count_no_advance = 7 %>
  <% line_count_all = 10 %>
<% else %>
  <% line_count_no_advance = [7, first_advance ? first_advance.line_no-1 : line_no_list.count].max %>
  <% line_count_all = [10,advance_count > 3 ? line_count_no_advance+advance_count:line_count_no_advance+3].max %>
<% end %>

<%= hidden_field_tag "detail_lines", line_count_all   # DEBUG
  %>

<table id="detail">
  <tr bgcolor="#e0e0e0">
    <th>内容<th>単価<th>数量<th>単位<th>金額<th nowrap>消費税
  </tr>

<% new_line = SiDetail.new( :sales_invoice_id => @invoice.id )
   for i in 0..(line_count_all - 1) do %>

   <% if i == line_count_no_advance %>
     <tr id="no_detail_edit" bgcolor="#e0e0e0">
       <th colspan="6">立替金
     </tr>
     <%= render :partial => "detail_edit_row",
                :locals => {:i => i,
                            :detail_obj => (@detail_lines.find{|x|x.line_no == i+1} || new_line),
                            :advance => true} %>
   <% elsif i > line_count_no_advance  %>

     <%= render :partial => "detail_edit_row",
                :locals => {:i => i,
                            :detail_obj => (@detail_lines.find{|x|x.line_no == i+1} || new_line),
                            :advance => true} %>
   <% else %>

     <%= render :partial => "detail_edit_row",
                :locals => {:i => i,
                            :detail_obj => (@detail_lines.find{|x|x.line_no == i+1} || new_line),
                            :advance => false} %>
   <% end %>
<% end %>

  <tr>
    <td><td><th colspan="2" align="right">小計 
    <td align="right" id="subtotal" style="font-size:12pt; font-weight:bold;" nowrap>--</td>
  <tr>
    <td><td><th colspan="2" align="right">消費税
    <td align="right" id="vat_amount" nowrap>--</td>
  </tr>
  <tr>
    <td><td><th colspan="2" align="right">合計
    <td align="right" id="total" nowrap>--</td>
  </tr>
</table>

<br>
<table border="1" style="border-collapse: collapse; margin-left: 40%;">
  <tr id="tr_class">
    <td>税率　</td>
    <td>対象額 <span id=taxable_txt>(税込み)</span>　</td>
    <td>消費税額　</td>
  </tr>
  <% SiDetail::VAT_OPTS.each do |i| 
    tr_class = "tr_class#{i[0]}"
    subtotal = "subtotal#{i[0]}"
    vat = "vat#{i[0]}"
    if i[0] != 0 %>
      <tr id=<%=tr_class%>>
        <td><%=i[1]%></td>
        <td align="right" id=<%=subtotal%>>--　</td>
        <td align="right" id=<%=vat%>>--　</td>
      </tr>
    <%end
  end%>
</table>

<table style="margin-top:1em;">
  <tr><th align="right" valign="top" nowrap>備考: <td><%= text_area 'invoice', 'remarks', :cols => 60, :rows => 4 %>
</table>



<% inv_banks = @invoice.our_banks.collect {|r| r.id} %>

<table>
  <tr><th align="right" nowrap>お支払い約束日: 
    <td><%= date_select2 'invoice', 'due_day' %><br>
    <%= check_box 'invoice', 'disable_due_day' %><label for="invoice_disable_due_day">お支払い約束日を表示しない。</label>

  <tr>
    <th valign="top" align="right">振込先口座<br>(複数可): 
    <td>
      <table>
<% OurBank.find(:all, :joins => "LEFT JOIN account_titles ON our_banks.account_title_id = account_titles.id",
                      :conditions => ['account_titles.end_day IS NULL AND our_banks.company_setting_id = ?', @company.id],
                      :order => "account_titles.account_code, account_titles.suppl_code"
                   ).each_with_index {|b, i| 
     next if !b.bank_account && !b.en_bank_account %>
  <tr>
    <td valign="top"><%= check_box_tag 'ba[]', b.id, inv_banks.index(b.id), :id => "ba#{i}" %>
    <td><label for="<%="ba#{i}"%>"><%=h b.remarks %></label> <span <%= b.remarks.blank? ? nil : 'style="color:gray"' %>>
<%=h b.format_long %>
</span>
<% } %>
      </table>
  </tr>

  <tr><th align="right" nowrap>発送方法:
    <td><%= radio_button 'invoice', 'delivery', 1 %><label for="invoice_delivery_1">担当者持参</label>
      <%= radio_button 'invoice', 'delivery', 2 %><label for="invoice_delivery_2">経理から郵送</label>

</table>

