<% # -*- mode:html -*- 
  %>

<% content_for :head do %>
<script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>  
<script type="text/javascript" src="/javascripts/chosen.jquery.min.js"></script>  
<link href="/javascripts/chosen.min.css" rel="stylesheet">  
<script type="text/javascript">
$(document).ready(function() {
  $(".chosen-select").chosen();
});
</script>
<% end %>

<% line_count = [4, @journal_lines.size + 2].max %>
<%= hidden_field_tag 'journal_lines', line_count %>

<div id="dim2_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
  </div>
</div>





<table id="journal_tbl" border="0">
  <tr bgcolor="#e0e0e0"><th>勘定科目 <th>JP消費税 <th style="width:150px">請求額(消費税込)<td>
  <tr bgcolor="#e0e0e0"><th>会計部門 <th>次元2 <th colspan="2">内容

<% new_line = SiJournal.new(:sales_invoice => @invoice, :vat_id => -1)
   ac_titles = @ac_collection
   divisions = @div_collection
   for i in 0..(line_count - 1) do %>
  <%= render :partial => "journal_edit_row", 
           :locals => {:i => i, 
                       :detail_obj => (@journal_lines[i] || new_line),
                       :ac_collection => ac_titles,
                       :div_collection => divisions} %>
<% end %>

  <tr>
    <th colspan="2" align="right">合計:
    <td id="journal_total" style="font-size:12pt; font-weight:bold; border-top:black 1px solid;" align="right" nowrap>---</td>
    <td>
</table>
