<% # _journal_form から include される
   #   @param i             行番号. 0はじまり
   #   @param detail_obj    行オブジェクト
   #   @param ac_collection 勘定科目一覧
   #   @param div_collection 部門一覧
   #   @param @invoice       請求書
   #   @param @company       カンパニー 
  %>

<%= fields_for "journal#{i}", detail_obj do |f| %>
  <tr <%= raw (i % 2) != 0 ? 'class="color-row"' : nil %> id="j<%= i %>">
<% # lineno の前に空白を入れないこと
  %>
    <td nowrap><%= f.hidden_field "lineno", :value => (i + 1), :size => 2 %>
      <%= select_account_title_tag "account_title_id", @ac_collection, detail_obj[:account_title_id], "ac_changed(#{i});", "journal#{i}" %>
    <td nowrap>
      <%= f.hidden_field 'vat_id', :value=> detail_obj[:vat_id].to_i, 
                       :size => 2 %>
      <span id="journal<%= i %>_tax_name">
        <%= detail_obj[:vat_id].to_i == -1 ? "(科目に従う)" : 
            (detail_obj[:vat_id].to_i > 0 ? 
                                 Vat.find(detail_obj[:vat_id]).name : "－") %>
      </span>

    <td>
      <%= f.text_field "amount", :class => "form-control input-sm", 
              :style => "width:150px",
              :onblur => "update_journal_total();", 
              :value => edit_amount(detail_obj[:amount],
                         @invoice.currency ? @invoice.currency.exponent : 0) %>
    <td>
    <td><button type="button" style="padding:0" 
                onclick="insert_new_journal(<%= @company.id %>, 'j<%=i%>'); return false;">
        <span class="glyphicon glyphicon-plus"></span>
      </button>

  <tr <%= raw (i % 2) != 0 ? 'class="color-row"' : nil %>>
    <td><%= select_division_tag "division_id", div_collection, detail_obj[:division_id], "div_changed(#{i});", "journal#{i}" %>

    <td nowrap>
      <%= f.hidden_field "dim2_id", :value => detail_obj[:dim2_id].to_i, :size => 2 %>
      <span id="journal<%= i %>_dim2_name">
        <%= detail_obj[:dim2_id].to_i != 0 ? 
                            Dimension.find(detail_obj[:dim2_id]).name : nil %>
      </span>
      <button type="button" style="padding:0" 
              onclick="open_sel_dim2(<%= i %>, '<%= 
                   url_for(:controller => "invoices", :action => "sel_dim2",
                           :company => @company.id,
                           :only_path => true) %>');return false;">
        <span class="glyphicon glyphicon-edit"></span>
      </button>

    <td colspan="2"><%= f.text_field 'remarks', 
                                     :class => "form-control input-sm", 
                                     :style => "width:30em", 
                                     :value => detail_obj[:remarks] %>

<%   end # fields_for
  %>

