
<h2>計上</h2>

<table border="1" style="border-collapse:collapse;">
  <tr><th>勘定科目<th nowrap>会計部門 <th nowrap>次元2 
    <th colspan="2" nowrap>金額<br />(消費税込み)
    <th>JP消費税<th>内容
<% SiJournal.find(:all, :conditions => ["sales_invoice_id = ?", @invoice.id],
                  :order => "lineno, id").each_with_index {|j, i| %>
  <tr <%= i != 0 ? 'style="border-top:hidden;"' : nil %>>
    <td><%=h j.account_title.name2 %>
    <td><%=h j.division.name2 %>
    <td><%= j.dim2 ? j.dim2.name : nil %>
    <td align="right" style="border-right:hidden" nowrap><%= format_amount(j.amount, @invoice.currency.exponent) %>
    <td ><%=h @invoice.currency.name %>
    <td><% if j[:vat_code] %>
      <%= AccountTitle::VAT_NAMES[j.vat_code] %>
<% else %>
      <%= j.vat ? j.vat.name : "－" %>
<% end %>
    <td><%=h j.remarks %>
<% } %>
</table>


