<?xml version="1.0" encoding="UTF-8" ?>
<root xmlns="http://www.w3.org/1999/XSL/Format">
<layout-master-set>
  <simple-page-master master-name="PageMaster" page-width="210mm" page-height="297mm">
    <region-body margin-top="15mm" margin-left="1.5cm" margin-right="1.5cm" />
    <region-before extent="30mm" display-align="center" />
    <region-after extent="30mm" display-align="center" />
  </simple-page-master>
</layout-master-set>
<page-sequence master-reference="PageMaster" language="ja">
<!--
  <static-content flow-name="xsl-region-before">
    <block text-align="center">
      <external-graphic src="logo.png" width="20mm" content-width="scale-to-fit" />
    </block>
  </static-content>
-->
  <static-content flow-name="xsl-region-after">
<% footer = @company.si_footer.split(/\r?\n/)
   if footer.empty? %>
    <block> </block>
<% else %>
<%   footer.each {|footer| %>
    <block text-align="center" color="#666666"><%=h footer %></block>
<%   } 
   end %>
  </static-content>
  <flow flow-name="xsl-region-body">
    <block-container font-family="Mincho" font-size="10pt">
<table start-indent="1em" inline-progression-dimension="170mm" 
       table-layout="fixed">
  <table-column column-number="1" column-width="120mm" />
  <table-column column-number="2" column-width="50mm" />
  <table-body>
    <table-row>
      <table-cell>
        <block><%=h @invoice.zip %></block>
        <block><%=h @invoice.addr1 %></block>
        <block><%=h @invoice.addr2 %></block>
        <block font-size="11pt" font-family="PGothic"><%=h @invoice.contact_name1 %></block>
        <block><%=h @invoice.contact_name2 %></block>
        <block><%=h @invoice.contact_name3 %></block>
      </table-cell>
      <table-cell>
        <block text-align="right" font-family="PGothic" font-size="16pt">請    求    書</block>
        <block text-align="right" margin-top="2em">請求書番号 <%= @invoice.si_number %></block>
        <block text-align="right"><%= @invoice.sell_day.year %>年<%= @invoice.sell_day.mon %>月<%= @invoice.sell_day.day %>日</block>
      </table-cell>
    </table-row>
  </table-body>
</table>

<block-container margin-top="1em" start-indent="52mm">
  <block><%= @contact.zip %></block>
  <block><%=h @contact.addr1 %></block>
  <block><%=h @contact.addr2 %></block>
  <block font-family="PGothic" font-size="11pt"><%=h @company.name %></block>
  <block><%=h @contact.name %></block>
  <block>Tel. <%= @contact.tel %>　担当 <%=h @invoice.issued_by.name %></block>
  <% if @company.tax_reg_number %>
    <block>登録番号　<%=h @company.tax_reg_number %></block>
  <% end %>
</block-container>
      <table width="7.5cm" table-layout="fixed" border-style="solid" border-color="#000000">
        <table-body>
          <table-row font-family="PGothic">
            <table-cell padding="3pt" width="4.0cm">
              <block font-size="12pt">ご請求額 (税込)</block>
            </table-cell>

<% # 先に総額を計算する
   sub_total = @invoice.sub_total
   ex_vat = @invoice.ex_vat_amount
   first_advance = @invoice.si_details.find{|x|x.advance} 
%>

            <table-cell padding="2pt" width="4.0cm"><block font-size="12pt">
              <%= format_amount( @invoice.including_tax ? sub_total : (sub_total + ex_vat), @invoice.currency.exponent)%>
              <%=h @invoice.currency.name %></block>
            </table-cell>
          </table-row>
        </table-body>
      </table>
      <block margin-top="1em">下記のとおりご請求申し上げます。</block>
<table margin-top="8pt" inline-progression-dimension="180mm" 
       table-layout="fixed">
  <table-column column-number="1" column-width="95mm" />
  <table-column column-number="2" column-width="23mm" />
  <table-column column-number="3" column-width="19mm" />
  <table-column column-number="4" column-width="8mm" />
  <table-column column-number="5" column-width="26mm" />
  <table-column column-number="6" column-width="13mm" />
  <table-body>
    <table-row color="white" background-color="#333333">
      <table-cell padding="2pt" border-style="solid">
              <block text-align="center">内容</block>
      </table-cell>
      <table-cell padding="2pt" border-style="solid">
              <block text-align="center">単価</block>
      </table-cell>
      <table-cell padding="2pt" border-style="solid" number-columns-spanned="2">
              <block text-align="center">数量</block>
      </table-cell>
      <table-cell padding="2pt" border-style="solid">
              <block text-align="center">金額</block>
      </table-cell>
      <table-cell padding="2pt" border-style="solid">
              <block text-align="center">税</block>
      </table-cell>
    </table-row>

<% (0.. [8, @invoice.si_details.size].max-1).each {|i|
   d = @invoice.si_details[i] %>

    <% if d && first_advance && d.line_no == first_advance.line_no %>
      <table-row>
        <table-cell padding-top="6pt" padding-left="1em" border-left-style="solid" >
          <block>■■■立替金■■■</block>
        </table-cell>
        <table-cell padding-right="4pt" padding-top="6pt" border-left-style="solid">
          <block text-align="right" font-family="Helvetica"></block>
        </table-cell>
        <table-cell padding-top="6pt" border-left-style="solid">
          <block text-align="right" font-family="Helvetica"></block>
        </table-cell>
        <table-cell padding-top="6pt">
          <block></block>
        </table-cell>
        <table-cell padding-right="4pt" padding-top="6pt" border-left-style="solid" block-progression-dimension.minimum="14pt">
          <block text-align="right" font-family="Helvetica"></block>
        </table-cell>
        <table-cell padding-top="6pt" padding-right="6pt" border-left-style="solid" border-right-style="solid" block-progression-dimension.minimum="14pt">
          <block text-align="right"></block>
        </table-cell>
      </table-row>
    <% end %>

    <table-row>
      <table-cell padding-top="6pt" padding-left="1em"
                  border-left-style="solid" >
        <block><%=h d ? d.description : nil %></block>
      </table-cell>
      <table-cell padding-right="4pt" padding-top="6pt" border-left-style="solid">
        <block text-align="right" font-family="Helvetica">
<% if d && d.unit_price %>
<%= format_amount(d.unit_price, @invoice.currency.exponent) %>
<% end %>
        </block>
      </table-cell>
      <table-cell padding-top="6pt" border-left-style="solid">
        <block text-align="right" font-family="Helvetica"><%= d && d.qty ? format_amount(d.qty, 0) : nil %></block>
      </table-cell>
      <table-cell padding-top="6pt">
        <block><%=h d ? d.unit : nil %></block>
      </table-cell>
      <table-cell padding-right="4pt" padding-top="6pt" border-left-style="solid" block-progression-dimension.minimum="14pt">
        <block text-align="right" font-family="Helvetica">
<% if d && d.amount != 0 %>
<%= format_amount(d.amount, @invoice.currency.exponent) %>
<% end %>
        </block>
      </table-cell>
      <table-cell padding-top="6pt" padding-right="6pt" border-left-style="solid" border-right-style="solid"
        block-progression-dimension.minimum="14pt">
        <block text-align="right">
          <% if d && d.amount != 0 %>
            <%=SiDetail::VAT_OPTS_DISP.dig(d.vat_code,2)%>
          <% end %>
        </block>
      </table-cell>
    </table-row>
<% } %>
<% if ex_vat != 0 %>
    <table-row>
          <table-cell padding="2pt" padding-right="1em" border-top-style="solid" 
                      number-columns-spanned="4">
              <block text-align="right"><%= @invoice.including_tax ? '合計' : '小計' %></block>
            </table-cell>
          <table-cell padding="2pt" padding-right="1em" border-style="solid"
                      number-columns-spanned="2">
              <block text-align="right">
                <inline font-family="Helvetica"><%= format_amount(sub_total, @invoice.currency.exponent) %></inline>
                <%=h @invoice.currency.name %>
              </block>
            </table-cell>
        </table-row>
    <table-row>
          <table-cell padding="2pt" padding-right="1em" number-columns-spanned="4">
              <block text-align="right"><%= 'うち' if @invoice.including_tax %>消費税</block>
            </table-cell>
          <table-cell padding="2pt" padding-right="1em" border-style="solid" 
                      number-columns-spanned="2">
              <block text-align="right">
                <inline font-family="Helvetica"><%= format_amount(ex_vat, @invoice.currency.exponent) %></inline>
                <%=h @invoice.currency.name %>
              </block>
            </table-cell>
        </table-row>
<% end %>
<% if !@invoice.including_tax ||  ex_vat == 0 %>
    <table-row <%= raw (!ex_vat || ex_vat == 0.00) ? 'border-top-style="solid"' : nil %> >
      <table-cell padding="2pt" padding-right="1em" number-columns-spanned="4">
        <block text-align="right">合計</block>
      </table-cell>
      <table-cell padding="2pt" padding-right="1em" border-style="solid"
                  number-columns-spanned="2">
        <block text-align="right">
          <inline font-family="Helvetica"><%= format_amount(sub_total + ex_vat, @invoice.currency.exponent) %></inline>
          <%=h @invoice.currency.name %>
        </block>
      </table-cell>
    </table-row>
<% end %>
  </table-body>
</table>

<% if ex_vat != 0   %>
  <table margin-top="8pt" inline-progression-dimension="180mm" table-layout="fixed" font-size="9pt">
    <table-column column-number="1" column-width="74mm" />
    <table-column column-number="2" column-width="20mm" />
    <table-column column-number="3" column-width="45mm" />
    <table-column column-number="4" column-width="45mm" />
    <table-body>
      <table-row>
        <% ex_vat_each = @invoice.ex_vat_amount_each
          ex_subtotal_each = @invoice.ex_subtotal_each
         %>
        <table-cell><block>
          <% if ex_subtotal_each["ex_subtotal8_r"] > 0 %>
             *「軽8%」は軽減税率の対象品目です。
          <% end %>
        </block></table-cell>

        <table-cell padding="2pt" border-style="solid">
                <block text-align="center">税率</block>
        </table-cell>
        <table-cell padding="2pt" border-style="solid">
                <block text-align="center">対象額<%= @invoice.including_tax ? '(税込み)' : '(税抜き)' %></block>
        </table-cell>
        <table-cell padding="2pt" border-style="solid">
                <block text-align="center">消費税額</block>
        </table-cell>
      </table-row>
      <% SiDetail::VAT_OPTS_DISP.each do |i| 
        ex_subtotal = "ex_subtotal#{i[1][0]}"
        vat_total = "vat_total#{i[1][0]}"
        if i[0] != 0 && ex_subtotal_each[ex_subtotal] != 0 %>
          <table-row>
            <table-cell><block></block></table-cell>
            <table-cell padding="2pt" border-style="solid"><block text-align="right"><inline padding-right="6pt"><%= i[1][2] %></inline></block></table-cell>
            <table-cell padding="2pt" border-style="solid">
                    <block text-align="right"><inline padding-right="3pt" font-family="Helvetica"><%=format_amount(ex_subtotal_each[ex_subtotal], @invoice.currency.exponent)%></inline>
                    <inline padding-right="6pt"><%=h @invoice.currency.name %></inline></block>
            </table-cell>
            <table-cell padding="2pt" border-style="solid">
                    <block text-align="right"><inline padding-right="3pt" font-family="Helvetica"><%=format_amount(ex_vat_each[vat_total], @invoice.currency.exponent)%></inline>
                    <inline padding-right="6pt"><%=h @invoice.currency.name %></inline></block>
            </table-cell>
          </table-row>
        <% end
      end %>
    </table-body>
  </table>
<% end %>

<!--block margin-top="2mm" font-size="9pt">*「軽8%」は軽減税率の対象品目です。</block-->
    
<% if !@invoice.disable_due_day %>
    <block margin-top="4mm">お支払い約束日: <%= @invoice.due_day.year %>年<%= @invoice.due_day.mon %>月<%= @invoice.due_day.day %>日
    </block>
<% end %>
<% if !@invoice.our_banks.empty? %>
    <block margin-top="4mm">お振込みは下記口座へお願いいたします。なお、振込手数料はご負担ください。</block>
    <block-container start-indent="1em" margin-top="1em">
<%   kana_name = nil
     @invoice.our_banks.each {|acc| 
       b = acc.bank_account
       if b 
         kana_name = b.kana_name %>
      <block><%=h "#{b.bank_branch.bank.name} #{b.bank_branch.name} (#{BankAccount::ACTYPE_NAMES[b.ac_type]}) #{b.ac_number}" %></block>
<%     else %>
      <block><%=h "#{acc.en_bank_account.format_long}" %></block>
<%     end %>
<%   } %>
      <block>口座名義: <%=h normalize(kana_name) %></block>
    </block-container>
<% end %>
<% @invoice.remarks.split(/\r?\n|\r/).each_with_index {|line, i| 
     if i == 0
       margin = ' margin-top="2em"'
     elsif line.strip == ''
       margin = ' margin-top="1em"' 
     else 
       margin = ""
     end %>
<block<%= margin.html_safe %>><%=h line %></block>
<% } %>
  </block-container>
  </flow>
</page-sequence>
</root>
