<?xml version="1.0" encoding="UTF-8" ?>
<root xmlns="http://www.w3.org/1999/XSL/Format">
<layout-master-set>
  <simple-page-master master-name="PageMaster" page-width="210mm" page-height="297mm">
    <region-body margin-top="2.5cm" margin-left="1.5cm" margin-right="1.5cm" />
    <region-before extent="30mm" display-align="center" />
    <region-after extent="30mm" display-align="center" />
  </simple-page-master>
</layout-master-set>
<page-sequence master-reference="PageMaster" language="en">
<% if @company.logo_image %>
  <static-content flow-name="xsl-region-before">
    <block text-align="center">
      <external-graphic src="logo.png" width="20mm" content-width="scale-to-fit" />
    </block>
  </static-content>
<% end %>
  <static-content flow-name="xsl-region-after">
<% footer = @company.si_footer.split(/\r?\n/)
   if footer.empty? %>
    <block> </block>
<% else %>
<%   footer.each {|footer| %>
    <block text-align="center" color="#666666"><%=h footer %></block>
<%   } 
   end %>
  </static-content>
<flow flow-name="xsl-region-body">
  <block-container font-family="Times-Roman" font-size="10pt">
<table start-indent="1em" inline-progression-dimension="170mm"
       table-layout="fixed">
  <table-column column-number="1" column-width="102mm" />
  <table-column column-number="2" column-width="68mm" />
  <table-body>
    <table-row>
      <table-cell>
        <block font-family="Helvetica">TO:</block>
        <block><%=h @invoice.contact_name1 %></block>
        <block><%=h @invoice.contact_name2 %></block>
        <block><%=h @invoice.contact_name3 %></block>
        <block><%=h @invoice.addr1 %></block>
        <block><%=h @invoice.addr2 %></block>
        <block><%=h @invoice.zip %></block>
      </table-cell>
      <table-cell>
        <block text-align="right" font-family="Helvetica" font-size="20pt" 
               font-weight="bold">INVOICE</block>
        <block margin-top="1em" font-family="Helvetica" font-size="12pt"><%=h @company.name_en %></block>
        <block margin-top="1em"><%=h @contact.addr1 %></block>
        <block><%=h @contact.addr2 %></block>
        <block><%=h @contact.addr3 %></block>
        <block>Phone <%= @contact.tel %></block>
        <% if @company.tax_reg_number %>
          <block>Tax Registration Number: <%=h @company.tax_reg_number %></block>
        <% end %>
      </table-cell>
    </table-row>
  </table-body>
</table>

  <block-container text-align="right">
      <block margin-top="1em">INVOICE# <%= @invoice.si_number %></block>
      <block>DATE: <%= @invoice.sell_day.day %> <%= Date::MONTHNAMES[@invoice.sell_day.mon] %> <%= @invoice.sell_day.year %></block>
  </block-container>

<table margin-top="18pt" inline-progression-dimension="180mm"
       table-layout="fixed">
  <table-column column-number="1" column-width="88mm" />
  <table-column column-number="2" column-width="25mm" />
  <table-column column-number="3" column-width="20mm" />
  <table-column column-number="4" column-width="10mm" />
  <table-column column-number="5" column-width="28mm" />
  <table-column column-number="6" column-width="13mm" />
  <table-body>
    <table-row color="white" background-color="#222222">
      <table-cell padding="2pt" border-style="solid">
        <block text-align="center" font-size="8pt">DESCRIPTION</block>
      </table-cell>
      <table-cell padding="2pt" border-style="solid">
        <block text-align="center" font-size="8pt">UNIT PRICE</block>
      </table-cell>
      <table-cell padding="2pt" border-style="solid" number-columns-spanned="2">
        <block text-align="center" font-size="8pt">QUANTITY</block>
      </table-cell>
      <table-cell padding="2pt" border-style="solid">
        <block text-align="center" font-size="8pt">AMOUNT</block>
      </table-cell>
      <table-cell padding="2pt" border-style="solid">
        <block text-align="center" font-size="8pt">TAX</block>
      </table-cell>
    </table-row>

<% 
   sub_total = @invoice.sub_total
   ex_vat = @invoice.ex_vat_amount
   (0.. [8, @invoice.si_details.size].max - 1).each {|i|
     d = @invoice.si_details[i] 
     first_advance = @invoice.si_details.find{|x|x.advance}
%>

    <% if d && first_advance && d.line_no == first_advance.line_no %>
      <table-row>
        <table-cell padding-top="6pt" padding-left="1em" border-left-style="solid">
          <block>===　　payment in place of others　　===</block>
        </table-cell>
        <table-cell padding-right="2pt" padding-top="6pt" border-left-style="solid">
          <block text-align="right" font-family="Helvetica"></block>
        </table-cell>
        <table-cell padding-top="6pt" border-left-style="solid">
          <block text-align="right" font-family="Helvetica"></block>
        </table-cell>
        <table-cell padding-top="6pt">
          <block></block>
        </table-cell>
        <table-cell padding-top="6pt" padding-right="6pt" border-left-style="solid" block-progression-dimension.minimum="14pt">
          <block text-align="right" font-family="Helvetica" ></block>
        </table-cell>
        <table-cell padding-top="6pt" padding-right="3pt" border-left-style="solid" border-right-style="solid" block-progression-dimension.minimum="14pt">
          <block text-align="right" font-family="Helvetica"></block>
        </table-cell>
      </table-row>
    <% end %>

    <table-row>
      <table-cell padding-top="6pt" padding-left="1em" border-left-style="solid">
        <block><%=h d ? d.description : nil %></block>
      </table-cell>
      <table-cell padding-right="2pt" padding-top="6pt" border-left-style="solid">
        <block text-align="right" font-family="Helvetica">
<% if d && d.unit_price %>
<%= format_amount(d.unit_price, @invoice.currency.exponent) %>
<% end %>
        </block>
      </table-cell>
      <table-cell padding-top="6pt" border-left-style="solid">
        <block text-align="right" font-family="Helvetica"><%= d ? d.qty : nil %></block>
      </table-cell>
      <table-cell padding-top="6pt">
        <block><%=h d ? d.unit : nil %></block>
      </table-cell>
      <table-cell padding-top="6pt" padding-right="6pt" border-left-style="solid" 
                  block-progression-dimension.minimum="14pt">
        <block text-align="right" font-family="Helvetica" >
<% if d && d.amount != 0 %>
<%= format_amount(d.amount, @invoice.currency.exponent) %>
<% end %>
        </block>
      </table-cell>
      <table-cell padding-top="6pt" padding-right="3pt" border-left-style="solid" border-right-style="solid"
        block-progression-dimension.minimum="14pt">
        <block text-align="right" font-family="Helvetica">
<% if d && d.amount != 0  %>
  <%=SiDetail::VAT_OPTS_DISP.dig(d.vat_code,3)%>
<% end %>
        </block>
      </table-cell>
    </table-row>
<% } %>    
<% if ex_vat && ex_vat != 0.00 %>
    <table-row border-top-style="solid">
      <table-cell padding="2pt" padding-right="1em" number-columns-spanned="4">
        <block text-align="right"><%= @invoice.including_tax ? 'TOTAL DUE' : 'SUBTOTAL' %></block>
      </table-cell>
      <table-cell padding="2pt" padding-right="0.6em" border-style="solid" number-columns-spanned="2">
        <block text-align="right" font-family="Helvetica">
            <%= @invoice.currency.code %> <%= format_amount(sub_total, @invoice.currency.exponent) %>
        </block>
      </table-cell>
    </table-row>
    <table-row>
      <table-cell padding="2pt" padding-right="1em" number-columns-spanned="4">
              <block text-align="right"><%= 'including' if @invoice.including_tax %> Japanease Consumption Tax</block>
      </table-cell>
      <table-cell padding="2pt" padding-right="0.6em" border-style="solid" number-columns-spanned="2">
        <block text-align="right" font-family="Helvetica">
            <%= @invoice.currency.code %> <%= format_amount(ex_vat, @invoice.currency.exponent) %>
        </block>
      </table-cell>
    </table-row>
<% end %>
<% if !@invoice.including_tax ||  (!ex_vat || ex_vat == 0.00) %>
    <table-row <%= raw (!ex_vat || ex_vat == 0.00) ? 'border-top-style="solid"' : nil %> >
      <table-cell padding="2pt" padding-right="1em" number-columns-spanned="4">
        <block text-align="right">TOTAL DUE</block>
      </table-cell>
      <table-cell padding="2pt" padding-right="0.6em" border-style="solid" 
                  number-columns-spanned="2">
              <block text-align="right" font-family="Helvetica"><%= @invoice.currency.code %> <%=@invoice.including_tax ? format_amount(sub_total, @invoice.currency.exponent) : format_amount(sub_total + ex_vat, @invoice.currency.exponent) %></block>

      </table-cell>
    </table-row>
<% end %>
  </table-body>
</table>

<% if ex_vat != 0  %>
  <table margin-top="8pt" inline-progression-dimension="180mm" table-layout="fixed" font-size="9pt">
    <table-column column-number="1" column-width="74mm" />
    <table-column column-number="2" column-width="20mm" />
    <table-column column-number="3" column-width="45mm" />
    <table-column column-number="4" column-width="45mm" />
    <table-body>
      <table-row>
        <% ex_vat_each = @invoice.ex_vat_amount_each
          ex_subtotal_each = @invoice.ex_subtotal_each
         %>
        <table-cell><block>
          <% if ex_subtotal_each["ex_subtotal8_r"] > 0 %>
            * “R8%” means the reduced tax rate of 8%
          <% end %>
        </block></table-cell>
        <table-cell padding="2pt" border-style="solid">
                <block text-align="center">Tax rate</block>
        </table-cell>
        <table-cell padding="2pt" border-style="solid">
                <block text-align="center"><%= @invoice.including_tax ? 'Amount(incl.tax)' : 'Taxable amount' %></block>
        </table-cell>
        <table-cell padding="2pt" border-style="solid">
                <block text-align="center">Consumption tax amount</block>
        </table-cell>
      </table-row>
      <% SiDetail::VAT_OPTS_DISP.each do |i| 
        ex_subtotal = "ex_subtotal#{i[1][0]}"
        vat_total = "vat_total#{i[1][0]}"
        if i[0] != 0 && ex_subtotal_each[ex_subtotal] != 0 %>
          <table-row>
            <table-cell><block></block></table-cell>
            <table-cell padding="2pt" border-style="solid">
                <block text-align="right"><inline padding-right="6pt" font-family="Helvetica"><%= i[1][3] %></inline></block>
            </table-cell>
            <table-cell padding="2pt" border-style="solid">
                <block text-align="right">
                    <inline padding-right="3pt" font-family="Helvetica"><%=format_amount(ex_subtotal_each[ex_subtotal], @invoice.currency.exponent)%></inline>
                    <inline padding-right="6pt" font-family="Helvetica"><%= @invoice.currency.code %></inline>
                </block>
            </table-cell>
            <table-cell padding="2pt" border-style="solid">
                <block text-align="right">
                    <inline padding-right="3pt" font-family="Helvetica"><%=format_amount(ex_vat_each[vat_total], @invoice.currency.exponent)%></inline>
                    <inline padding-right="6pt" font-family="Helvetica"><%= @invoice.currency.code %></inline>
                </block>
            </table-cell>
          </table-row>
        <% end 
      end %>
    </table-body>
  </table>
<% end %>
<!--block margin-top="2mm" font-size="9pt">* “R8%” means the reduced tax rate of 8%</block-->

<% if !@invoice.disable_due_day %>
    <block margin-top="4mm">DUE DATE: <%= @invoice.due_day.day %> <%= Date::MONTHNAMES[@invoice.due_day.mon] %> <%= @invoice.due_day.year %>
    </block>
<% end %>

<% if !@invoice.our_banks.empty? 
     if @invoice.disable_due_day %>
    <block margin-top="4mm" font-weight="bold">Please arrange payment without deduction, within 30 days after receipt of the invoice, and quote invoice reference number <%=h @invoice.si_number %>.</block>
<%   else %>
    <block margin-top="4mm" font-weight="bold">Please arrange payment without deduction, and quote invoice reference number <%=h @invoice.si_number %>.</block>
<%   end %>
<%   acc = @invoice.our_banks.find(:all, :conditions => 'en_bank_account_id IS NOT NULL').first.en_bank_account %>
<table start-indent="1em" margin-top="1em" inline-progression-dimension="140mm" table-layout="fixed">
  <table-column column-number="1" column-width="40mm" />
  <table-column column-number="2" column-width="100mm" />
  <table-body>
    <table-row>
      <table-cell><block>Transfer To: </block></table-cell>
      <table-cell><block><%=h acc.bank_name %></block></table-cell></table-row>
    <table-row>
      <table-cell><block>Bank Address: </block></table-cell>
      <table-cell>
        <block><%=h acc.bank_addr1 %></block>
        <block><%=h acc.bank_addr2 %></block></table-cell>
    </table-row>
    <table-row>
      <table-cell><block>SWIFT Code: </block></table-cell>
      <table-cell><block><%=h acc.swift_code %></block></table-cell></table-row>
    <table-row>
      <table-cell><block>Account No: </block></table-cell>
      <table-cell><block><%=h acc.account_no %></block></table-cell>
    </table-row>
    <table-row>
      <table-cell><block>For Account of: </block></table-cell>
      <table-cell><block><%=h acc.account_name %></block></table-cell>
    </table-row>

<!--
    <table-row>
      <table-cell><block>Currency: </block></table-cell>
      <table-cell><block><%=h @invoice.currency.code %></block></table-cell>
    </table-row>
-->

  </table-body>
</table>
<% end %>

<% @invoice.remarks.split(/\r?\n|\r/).each_with_index {|line, i| 
     if i == 0
       margin = ' margin-top="2em"'
     elsif line.strip == ''
       margin = ' margin-top="1em"' 
     end %>
<block<%= margin.to_s.html_safe %>><%=h line %></block>
<% } %>
  </block-container>
</flow>
</page-sequence>
</root>
