
<h1>請求先を変更</h1>

<p><b>現在の請求先:</b> <%= @invoice.partner.name %>

<p>変更先:
<%= form_tag :action => 'change_partner2' do %>
  <%= hidden_field_tag 'id', @invoice.id %>
  <%= render :partial => 'partners/search' %>
<% end %>

<p><%= link_to 'キャンセル', :action => 'show', :id => @invoice %>
