
<% @page_title = "計上データの編集" %>

<% @action_javascript = "sales_invoices_form" %>
<%= content_for :head do %>
  <script type="text/javascript" src="/bootstrap/modal.js"></script>
<% end %>



<% d_amount = @invoice.si_details.inject(0) {|acc, x| acc + x.amount} %>

<table>
  <tr><th align="right">通貨: <td><%=h @invoice.currency.name %>

  <tr><th align="right">明細行の合計金額 (消費税込み):
    <td nowrap align="right" style="font-size:14pt;">
      <%= format_amount( (@invoice.including_tax ? d_amount : d_amount + @invoice.ex_vat_amount), @invoice.currency.exponent) %>
      <%=h @invoice.currency.name %>
</table>





<%= error_messages_for 'invoice' %>

<%= form_tag :action => 'update_journals', :id => @invoice do %>
  <%= hidden_field 'invoice', 'lock_version' %>

  <%= render :partial => 'journal_form' %>


<p><%= link_to 'キャンセル', :action => 'show', :id => @invoice %>
  <%= submit_tag '更新' %>
<% end %>

<script type="text/javascript">
update_journal_total();
</script>

