<% # -*- coding:utf-8 -*- 
   @page_title = "販売請求書の編集"
  %>



<%= form_tag :action => 'update', :id => @invoice do %>
  <%= hidden_field 'invoice', 'lock_version' %>
  <%= render :partial => 'form' %>
  <hr>
  <h5>経理あてメモ</h5>
  <%= text_area 'invoice', 'keiri_memo', :size => "70x5" %>
<p><%= link_to 'キャンセル', :action => 'show', :id => @invoice %>
  <%= submit_tag '更新' %>
<% end %>


<script type="text/javascript">
up_subtotal();
</script>
