<h1>Listing sales_invoices</h1>

<table>
  <tr>
  <% for column in SalesInvoice.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for sales_invoice in @sales_invoices %>
  <tr>
  <% for column in SalesInvoice.content_columns %>
    <td><%=h sales_invoice.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => sales_invoice %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => sales_invoice %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => sales_invoice }, :confirm => 'Are you sure?', :method => :post %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @sales_invoice_pages.current.previous } if @sales_invoice_pages.current.previous %>
<%= link_to 'Next page', { :page => @sales_invoice_pages.current.next } if @sales_invoice_pages.current.next %> 

<br />

<%= link_to 'New sales_invoice', :action => 'new' %>
