"use strict";
var tbl = $('#detail')[0];
// 明細の行数
$('#detail_lines')[0].value = Number($('#detail_lines')[0].value) + 1;

$('#<%= @ref_row %>').before('<%= escape_javascript render(:partial => "detail_edit_row", :locals => {:i => @newid, 
                     :detail_obj => @detail_obj, :advance => params[:advance]} ) %>');

// 行番号を振りなおす
var lineno = 0;
for (var idx = 0; idx < tbl.rows.length - 4; idx += 1) {
  // 立替金見出し行はスキップ
  if (tbl.rows[idx+1].id == "no_detail_edit"){
    continue;
  }
    var attr = document.createAttribute("class");
    attr.value = (lineno % 2) != 0 ? "color-row" : "";
    tbl.rows.item(idx + 1).attributes.setNamedItem(attr);
    tbl.rows.item(idx + 1).cells.item(0).firstChild.value = lineno + 1;
    lineno++;
}
