<a href="/">トップ</a> &gt;
<h1>過去の販売請求書の一覧</h1>

<%= error_messages_for 'search' %>
<div class="panel panel-default">
  <div class="panel-body">
    <%= form_tag( {:action => "list"}, :method => "get" ) do %>
        <b>コストセンタ検索:</b>
      <%= select_cost_center_tag "cost_center", @cost_centers, @cdiv.id if @cdiv.present? %>
      <%= submit_tag "検索", :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <%= form_tag({:action => 'list'}, :method => 'get', 
                              :class => "form-inline", :role => "form") do %>
      <%= render :partial => 'search' %>
    <% end %>
  </div>
  <div class="panel-footer">
    <table>
      <tr><td align="right">勘定科目・・<td>明細行のなかでその科目を使っている請求書を検索します。
      <tr><td align="right">JE番号・・<td>SBOの仕分番号: 完全一致
      <tr><td align="right">請求書番号・・<td>各支払依頼に入力された請求書番号: 完全一致
      <tr><td align="right">内容テキスト・・<td>内容を検索 (部分検索) します。２行目以降も対象となります。
    </table>
  </div>
</div>

<%= will_paginate @sales_invoices %>

<table class="table table-condensed">
  <tr><th>販売先<th>内容 (1行目)<th>販売日<th colspan="2">金額
<% @sales_invoices.each {|inv| %>
  <tr>
    <td><%= link_to h(inv.partner.name), :controller => 'partners', :action => 'show', :id => inv.partner %>
    <td><%=h inv.first_detail_remarks %> 
    <td><%= inv.sell_day %>
    <td><%= inv.currency.code %>
    <td align="right"><%= format_amount(inv.amount_total, inv.currency.exponent) %>
    <td nowrap><%= link_to '[詳細]', :controller => 'sales_invoices', :action => 'show', :id => inv, :prev => 'list' %> 
  </tr>
<% } %>
</table>

<%= will_paginate @sales_invoices %>

