<% # -*- coding:utf-8 -*- 
   @page_title = "新しい販売請求書"
  %>



<%= form_tag :action => 'create' do %>
  <%= hidden_field 'invoice', 'lock_version' %>
  <%= render :partial => 'form' %>






<h2>計上</h2>

<%= render :partial => 'journal_form' %>

<hr>
<h5>経理あてメモ</h5>
<%= text_area 'invoice', 'keiri_memo', :size => "70x5" %>



<p><%= link_to 'キャンセル', :controller => 'partners', :action => 'show',
           :id => @partner, :company => @company.id %>
  <%= submit_tag "作成" %>
<% end %>


<script type="text/javascript">
up_subtotal();
</script>
