<a href="/">トップ</a> &gt;

<% company = @invoice.company_setting 
   fixed_day = company.fixed_day %>

<p align="right">印刷: <%= format_time(Time.now) %></p>
<h1 class="slip">請求書発行依頼</h1>

<div align="right">
<table border="1" cellspacing="0" cellpadding="3" style="border-collapse:collapse;border:solid black 1px;">
  <tr><td width=60> 照合 <td width=60> 承認 <td nowrap>経理担当 <td nowrap>経理承認
  <tr style="height:40pt"><td>     <td> <td> <td>
</table>
</div>



<table border="0">
  <tr><th align="right">作成者: 
    <td><%=h @invoice.created_by.default_division.name %> <%=h @invoice.created_by.name %>
  <tr><th align="right">カンパニー:
    <td><%=h company.name %>
  <tr><th align="right">請求先: 
    <td><%= @invoice.partner.zaimu_id %> <%=h @invoice.partner.name %>

  <tr><th align="left">(送付先)
  <tr><th align="right" valign="top" nowrap>所在地: 
    <td>〒 <%=h @invoice.zip %><br />
      <%=h @invoice.addr1 %><br />
      <%=h @invoice.addr2 %>
  <tr><th align="right" valign="top">宛て名:
    <td><%=h @invoice.contact_name1 %><br />
      <%=h @invoice.contact_name2 %><br />
      <%=h @invoice.contact_name3 %>

  <tr><th align="left">(請求内容)
  <tr><th align="right">販売日/締め日:
    <td><%= @invoice.sell_day %>
<% jday = if @invoice.journal_day
            @invoice.journal_day != @invoice.sell_day ? @invoice.journal_day : nil
          elsif @invoice.sell_day <= fixed_day
            fixed_day + 1
          else
            nil
          end
   if jday %>
<b>(計上日: <%= jday %>)</b>
<% end %>
  <tr><th align="right">通貨: 
    <td><%=h @invoice.currency.name %>
  <tr><th align="right">消費税: 
    <td><%=h @invoice.including_tax ? '税込' : '税抜' %>
</table>

<%= render :partial => 'detail' %>

<%= render :partial => 'journals' %>

<h2>経理宛てメモ</h2>

<% if @invoice.keiri_memo.blank? %>
  <p>－－－
<% else %>
  <%= simple_format(@invoice.keiri_memo) %>
<% end %>

<p style="color:#000066">--------<br>
※先方からの注文書（写）そのほか内容の分かるものを添付し、承認を受けて、財務経理部まで回付してください。</p>

