
<h1>PDF生成エラー</h1>

<% fp = File.open(@err_fname, "r") %>
<pre><% while line = fp.gets %><%= line %><% end %></pre>
<% fp.close %>


<% fp = File.open(@xml_fname, "r") %>
<pre><% i = 1; while line = fp.gets %><%= sprintf("%05d", i) %> <%= line %><% i += 1; end %></pre>
<% fp.close %>


