<% # -*- mode:html -*-
   @page_title = '販売請求書' + (@invoice.state == 30 ? ' [cancelled]' : '')
   @crumbs = [
     {:controller => 'partners', :action => 'index', :title => '取引先の検索'},
     {:controller => 'partners', :action => 'show', :id => @invoice.partner,
      :company => @invoice.company_setting,
      :title => "取引先 #{@invoice.partner.name}"}
   ] %>




<table>
  <tr><th align="right">カンパニー:
    <td><%=h @invoice.company_setting.name %>
  <tr><th align="right">請求先:
    <td><%= @invoice.partner.zaimu_id %> <%=h @invoice.partner.name %>
<% if @invoice.state < Invoice::SIGNED_OFF ||
      current_user.has_role?(:keiri) && @invoice.state < 30 %>
<%= link_to '[請求先を変更...]', :action => 'change_partner', :id => @invoice %>
<% else %>
<span style="color:gray">[請求先を変更...]</span>
<% end %>
  <tr><th align="right">請求書#: 
    <td><%= @invoice.si_number ? @invoice.si_number : '(未発行)' %> 
  <tr><th align="right">JE番号: 
    <td><%= @invoice.je_number ? @invoice.je_number : '(未発行)' %> 
  <tr><td colspan="2">(送付先)
  <tr><th align="right" valign="top">所在地: 
    <td>〒<%=h @invoice.zip %> &nbsp; <%=h @invoice.addr1 %><br/>
      <%=h @invoice.addr2 %>
  <tr><th align="right" valign="top">宛て名:
    <td><%=h @invoice.contact_name1 %><br />
      <%=h @invoice.contact_name2 %><br />
      <%=h @invoice.contact_name3 %>
  <tr><th align="right">販売日/締め日:
    <td><%= @invoice.sell_day %>
  <tr><th align="right">通貨: 
    <td><%= @invoice.currency.name %>
  <tr><th align="right">消費税: 
    <td><%= @invoice.including_tax ? '税込' : '税抜' %>
</table>



<%= render :partial => 'detail' %>



<% if @invoice.si_number ||
                    (current_user.has_role?(:keiri) && @invoice.state == 20)
     enable_delete = 2 # キャンセルボタン
   elsif @invoice.state < Invoice::SIGNED_OFF ||
      current_user.has_role?(:keiri) && @invoice.state < 20
     enable_delete = 1
   end %>

<p><% if @invoice.editable_by(current_user) %>
  <%= link_to '[編集...]', {:action => 'edit', :id => @invoice},
      (@invoice.state == 20 ? {:data => {:confirm => '編集しますか？ 会計システムのデータは手動で更新してください。'}} : nil) %> 
<% else %>
  <span style="color:gray">[編集...]</span>
<% end %>

<% case enable_delete 
   when 1 %>
<%= link_to '[削除]', {:action => 'destroy', :id => @invoice},
            :data => {:confirm => '本当に削除しますか？'}, :method => :post %>
<% when 2 %>
<%= link_to '[Void this]', {:action => 'cancel_invoice', :id => @invoice},
            :data => {:confirm => '本当にvoidしますか？ 会計システムのデータは手動で取り消してください。'}, :method => :post %>
<% else %>
  <span style="color:gray">[削除]</span>
<% end %>

<% if @invoice.state < 30 %>
  <%= link_to '[請求書発行依頼を印刷]', :action => 'print_request', :id => @invoice %> 
<% else %>
  <span style="color:gray">[請求書発行依頼を印刷]</span>
<% end %>

| <%= link_to '[コピーして起票...]', :action => 'copy_new', :id => @invoice %>









<% ##########################################################################
  %>
<%= render :partial => 'journals' %>

<p><b>債権科目:</b> <%=h @invoice.receivable_account.name2 %>



<% if @invoice.editable_by(current_user) %>
<p><%= link_to '[仕訳のみ編集...]', {:action => 'edit_journals', :id => @invoice},
           (@invoice.state == 20 ? {:data => {:confirm => '編集しますか？ 会計システムのデータは手動で更新してください。'}} : nil) %>
<%   else %>
<p style="color:gray">[仕訳のみ編集...]</p>
<% end %>

<% if current_user.has_role?(:keiri) %>
<p>
<%   if @invoice.state < SalesInvoice::SIGNED_OFF %>
  <%= link_to '[承認]', {:action => 'sign_off', :id => @invoice}, :method => :post %> | 
<%   else %>
  <span style="color:gray">[承認]</span> |
<%   end %>
<%   if @invoice.state != 30 %>
  <%= link_to '[請求書印刷]', :action => 'print_invoice', :id => @invoice, :lang => "ja" %>
&nbsp; <%= link_to '[Print invoice (en)]', :action => 'print_invoice', :id => @invoice, :lang => "en" %>
<%   else %>
  <span style="color:gray">[請求書印刷] [Print invoice (en)]</span>
<%   end %>
<% end %>









<% ##########################################################################
  %>

<h2>経理宛てメモ</h2>
<% if @invoice.keiri_memo.blank? %>
  <p>－－－
<% else %>
  <%= simple_format(@invoice.keiri_memo) %>
<% end %>


<h2>入金</h2>

<% rs = Receiving.find :all, 
                       :conditions => ['sales_invoice_id = ?', @invoice.id]
   if rs.empty? %>
<p>入金はありません。
<% else %>
<table>
<%   rs.each {|r| 
       cancelled = r.cash_slip.state == 30 ? 
                         "style=\"text-decoration:line-through\"".html_safe :
                         nil %>
  <tr <%= cancelled %> >
    <td><%= r.cash_slip.date %> 
    <td align="right" <%= r.cash_slip.state == 30 ? "style='text-decoration:line-through'" : nil %> ><%= format_amount(r.amount, @invoice.currency.exponent) %>
    <td><%=h @invoice.currency.name %> 
<%     if current_user.has_role?(:keiri) %>
<%= link_to "[詳細]", :controller => "payment_slips", :action => "show", 
                     :id => r.cash_slip %>
<%     end %>
  </tr>
<%   } %>
</table>
<% end %>






<h2>履歴</h2>

<p>created by <%=h @invoice.created_by.name %> at <%= format_time(@invoice.created_at) %>

<% logs = SiLog.find(:all, 
                   :conditions => ['sales_invoice_id = ?', @invoice.id],
                   :order => 'done_at') 
   logs.each {|log| %>
<p><%= SiLog::KIND_NAMES[log.kind] %> by <%=h log.done_by.name %> 
  at <%= format_time(log.done_at) %> <%=h log.remarks %>
<% } %>

<% if @invoice.state == 20 %>
<p><em>会計システム連動済み</em>; 計上日: <%= @invoice.journal_day %>, exported at <%= @invoice.journal_export_at %>
<% end %>
