
<h1>請求書発行依頼の承認</h1>

<table>
  <tr>
    <th>請求先 <th>内容(1行目) <th>販売日 <th colspan="2">金額 <th>作成日
<% @invoices.each {|inv| %>
  <tr>
    <td><%=h inv.partner.name %>
    <td><%= inv.si_journals.first ? inv.si_journals.first.remarks : "" %>
    <td><%= inv.sell_day %>
    <td align="right" nowrap><%= format_amount(inv.amount_total, inv.currency.exponent) %>
    <td><%=h inv.currency.name %>
    <td><%= inv.created_at.strftime("%Y-%m-%d") %>
    <td nowrap><%= link_to '詳細', :action => 'show', :id => inv %> 
    <td nowrap><%= link_to '承認', :action => 'sign_off', :id => inv %>
<% } %>
</table>

