"use strict";

//税込ラジオボタンの値を取得
var including_tax = 0;
var elements = document.getElementsByName("invoice[including_tax]");
for ( var a="", i=elements.length; i--; ) {
  if ( elements[i].checked ) {
    including_tax = elements[i].value ;
    break ;
  }
}
var s = <%= @s %>
var t = <%= @t %>
var vat_t = 0

<% @vat_opts.each do |i| %>
  var t_each<%=i[0] %> = 0
<%end%>

if ( including_tax == 0 ){
//税抜

  for (var i = 0; i < <%=@tbl%> - 1; i++) {
    var v = parseFloat( $('#detail' + i + '_amount').val() );
    if ( !isNaN(v) ) {
      s += v;
      <% @vat_opts_disp.each do |y| %>
        if ( $('#detail' + i + '_vat_code').val() == <%=y[0]=%> ){
          t += v * <%=y[1][1]%>;
          t_each<%=y[0]%> += v;
         }
      <% end %>
    }
  }

  $('#subtotal')[0].innerHTML = my_round(s, 4);
  $('#total')[0].innerHTML = my_round(s, 4) + my_rounddown(t, 4);

  if(t == 0 ){
    $('#tr_class').hide();
  }else{
    $('#tr_class').show();
}

  <% @vat_opts.each do |i| %>
    if(t_each<%=i[0] %> == 0 ){
      $('#tr_class<%=i[0] %>').hide();
    }else if (<%=i[0] %> != 0){
      $('#tr_class<%=i[0] %>').show();
      $('#subtotal<%=i[0] %>')[0].innerHTML = my_round(t_each<%=i[0] %>, 4);
　　　　
      $('#vat<%=i[0] %>')[0].innerHTML = my_rounddown(t_each<%=i[0] %>*<%= @vat_opts_disp[i[0]][1] %>, 4);
　　　　vat_t += (my_rounddown(t_each<%=i[0] %>*<%= @vat_opts_disp[i[0]][1] %>, 4));
      $('#taxable_txt')[0].innerHTML = "(税抜き)";
    }
  <%end%>
  $('#vat_amount')[0].innerHTML = vat_t;  //消費税額合計

}else{
//税込

  for (var i = 0; i < <%=@tbl%> - 1; i++) {
    var v = parseFloat( $('#detail' + i + '_amount').val() );
    if ( !isNaN(v) ) {
      <% @vat_opts_disp.each do |y| %>
        if ( $('#detail' + i + '_vat_code').val() == <%=y[0]=%> ){
          var vat = Math.floor(Math.ceil(v / (1 + <%=y[1][1]%>))*<%=y[1][1]%>); //消費税額
          t += vat;              //消費税額合計
          s += v;          //小計
          t_each<%=y[0]%> += v;  //税率ごとの税込み金額
         }
      <% end %>
    }
  }

  $('#subtotal')[0].innerHTML = my_round(s, 4);  //小計(税込)
  $('#total')[0].innerHTML = my_round(s, 4);  //合計

  if(t == 0 ){
    $('#tr_class').hide();
  }else{
    $('#tr_class').show();
  }
  <% @vat_opts.each do |i| %>
    if(t_each<%=i[0] %> == 0 ){
      $('#tr_class<%=i[0] %>').hide();
    }else if (<%=i[0] %> != 0){
      $('#tr_class<%=i[0] %>').show();
     
      var vat_each = 0

      var vat_each_temp = t_each<%=i[0] %> / (1 + <%= @vat_opts_disp[i[0]][1] %>)
      if (vat_each_temp >= 0){
        vat_each_temp = Math.ceil(vat_each_temp)
      }else{
        vat_each_temp = Math.floor(vat_each_temp)
       }

      var vat_each_temp2 = vat_each_temp * <%= @vat_opts_disp[i[0]][1] %>
      vat_each = my_rounddown(vat_each_temp2, 4)

      $('#vat<%=i[0] %>')[0].innerHTML = vat_each;
      $('#subtotal<%=i[0] %>')[0].innerHTML = my_round(t_each<%=i[0] %>, 4);//税率ごとの対象額(税込)
      vat_t += vat_each;
      $('#taxable_txt')[0].innerHTML = "(税込み)";
    }
  <%end%>

  $('#vat_amount')[0].innerHTML = vat_t;  //消費税額合計

}

