
<% if @tax == -1 %>
  $('#journal<%= @line %>_vat_id')[0].value = -1;
  $('#journal<%= @line %>_tax_name').text('(科目に従う)');
<% else %>
  $('#journal<%= @line %>_vat_id')[0].value = <%= @tax %>;
  $('#journal<%= @line %>_tax_name').text('<%=j @tax != 0 ? raw(Vat.find(@tax).name) : "－" %>');
<% end %>

$('#journal<%= @line %>_dim2_id')[0].value = <%= @dim2 ? @dim2.id : 0 %>;
$('#journal<%= @line %>_dim2_name').text('<%=j @dim2 ? raw(@dim2.name) : '(部門に従う)' %>');

$('#dim2_modal').modal('hide');
