
<% # @param f フォーム
  %>

<%= f.error_messages %>

<table>
  <tr><th align="right">小口グループ:
    <td><%= f.select :petty_group_id,
            @petty_groups.map { |r| ["#{r.company.name}/#{r.name}", r.id]} %>
  </tr>
  <tr><th align="right">リポート名:
    <td><%= f.text_field :report_name %>
  </tr>

</table>
