
<% @page_title = "経費エントリの編集" %>

<% # @param @expense_report 経費精算リポート
   # @param @entries    エントリ行の配列
  %>


<%= form_tag :action => 'update_expense_entries', :id => @expense_report do %>


<% line_count = [4, @entries.size + 2].max %>
<%= hidden_field_tag 'lines', line_count %>




<table id="entry_tbl" border="0">
  <tr bgcolor="#e0e0e0">
    <th>経費タイプ <th>取引日 <th style="width:150px">取引金額
    <th>承認金額 <th>取引先 <th>国内/海外 <th>業務目的 
  </tr>
<% new_line = PettyExpenseEntry.new(:petty_expense_id => @expense_report)
   ac_titles = AccountTitle.addable.collect {|r| [r.name2, r.id]}
   divisions = Division.addable(@expense_report.petty_group.company).collect {|r| [r.name2, r.id]}

   for i in 0..(line_count - 1) do %>
<%= fields_for "entry#{i}", (@entries[i] || new_line) do |f| %>
  <tr>
    <td><%= f.hidden_field :report_entry_key %>
      <%= f.text_field :expense_type_name %>
    <td><%= f.date_select :transaction_date %>
    <td align="right" nowrap><%= f.text_field :spend_amount %>
    <td align="right" nowrap><%= f.text_field :approved_amount %>
    <td><%= f.text_field :vendor_description %>
    <td><%= f.hidden_field :foreign_or_domestic, {:value => "HOME"} %>HOME
    <td><%= f.text_field :description %>
  </tr>
<%   end %>  
<% end %>

  <tr>
    <th colspan="2" align="right">合計:
    <td id="journal_total" style="font-size:12pt; font-weight:bold; border-top:black 1px solid;" align="right" nowrap>---</td>
    <td>
</table>



<p><%= link_to 'キャンセル', :action => 'show', :id => @expense_report %>
  <%= submit_tag '更新' %>
  
<% end # form
  %>

