
<h1>経費精算リポートの編集</h1>

<%= form_for :expense_report,
             :url => {:action => "update", :id => @expense_report},
             :html => {:class => "form-horizontal"} do |f| %>
  <%= render :partial => 'form', :locals => {:f =>f} %>

  <div class="form-group">
    <%= link_to 'キャンセル', :action => "show", :id => @expense_report %>
    <%= f.submit '更新', :class => "btn btn-primary" %>
  </div>

<% end %>
