<% # -*- coding:utf-8; mode:html -*-
   @page_title = "小口経費精算"
   @crumbs = [
   ] 
  %>



<p><a href="/petty_expenses/list">経費精算リポートの一覧</a>


<h2>アクティブな社員未収入金</h2>

<p>回収したら, 入金伝票を作成する。

<table class="table table-condensed">
  <tr>
    <th>Report ID
    <th>社員
    <th>リポート名
    <th>経理承認日
    <th>未回収残高

<% @expenses.each do |report| %>
  <tr>
    <td><%= link_to report.report_id, :action => "show", :id => report %>
    <td><%= report.user.name %>
    <td><%= report.report_name %>
    <td><%= report.processing_date %>
    <td><%= report.remain_receivable_amount %>
<% end %>
</table>




<h2>アクティブな社員仮払金</h2>

<p>残っているときは, 早期に精算するよう, 督促する。

<table class="table table-condensed">
  <tr>
    <th>CA Key
    <th>社員
    <th>経理承認日
    <th>名前

<% @cash_advances.each do |ca| %>
  <tr>
    <td><%= link_to ca.ca_key, :controller => "petty_cash_advances", 
                               :action => "show", :id => ca %>
    <td><%= ca.user.name %>
    <td><%= ca.processing_date %>
    <td><%= ca.name %>
<% end %>
</table>






<h2>最近の支払い</h2>

<table class="table table-condensed">
  <tr>
    <th>バッチID
    <th>締め日
    <th>金額
<% @petty_pays.each do |pay| %>
  <tr>
    <td><%= link_to pay.demand_batch_id, :controller => "petty_pays",
                    :action => "list", :batch_id => pay.demand_batch_id %>
    <td><%= pay.demand_batch_close_date %>
    <td align="right"><%= pay.amount %>
<% end %>
</table>

<p><a href="/petty_pays">小口の支払いの一覧</a>




<h2>仕訳出力</h2>

<p><%= link_to "[仕訳出力...]", :controller => "taisho", :action => "export_petty" %>
