<% # -*- coding:utf-8; mode:html -*-
   @page_title = "経費精算リポートの一覧"
   @crumbs = [
     {:controller => 'petty_expenses', :action => 'index', 
                                                 :title => '小口経費精算'} 
   ] 
  %>


<%= will_paginate @expense_reports %>

<table class="table table-condensed">
  <tr>
    <th>申請者
    <th>リポート名
    <th>申請者による提出日
    <th>経理承認日
  </tr>
<% @expense_reports.each do |report| %>
  <tr>
    <td><%= report.user.name %>
    <td><%= report.report_name %>
    <td><%= report.submit_date %>
    <td><%= report.processing_date %>
    <td><%= link_to "詳細", :action => "show", :id => report %>
<% end %>
</table>

<%= will_paginate @expense_reports %>

<p><%= link_to "新しい経費精算リポート...", :action => "new" %>

