
<h1>新しい経費精算リポート</h1>

<%= form_for :expense_report, :url => {:action => "create"},
                             :html => {:class => "form-horizontal"} do |f| %>
  <%= render :partial => 'form', :locals => {:f =>f} %>

  <div class="form-group">
    <%= link_to 'キャンセル', :action => "list" %>
    <%= f.submit '作成', :class => "btn btn-primary" %>
  </div>

<% end %>
  
