<% # -*- coding:utf-8; mode:html -*-
   @page_title = "経費精算リポート: " + @expense_report.report_name
   @crumbs = [
     {:controller => 'petty_expenses', :action => 'index', 
                                        :title => '小口経費精算'}, 
     {:controller => 'petty_expenses', :action => 'list', 
                                        :title => '経費精算リポートの一覧'} 
   ] 
  %>

<table>
  <tr><th align="right">Report ID:<td><%= @expense_report.report_id %>
  <tr><th align="right">小口グループ: <td><%= @expense_report.petty_group.name %>
  <tr><th align="right">申請者: 
    <td><%= @expense_report.user.worker_code %> <%= @expense_report.user.name %>
  <tr><th align="right">リポート名: <td><%= @expense_report.report_name %>
  <tr><th align="right">申請者による提出日: <td><%= @expense_report.submit_date %>
  <tr><th align="right">経理承認日: <td><%= @expense_report.processing_date %>

  <tr><th align="right">社員への支払額:     <td><%= @expense_report.emp_amount_total %>
  <tr><th align="right">カード会社への支払額:<td><%= @expense_report.cc_amount_total %>
  <tr><th align="right">社員からの回収額:<td><%= @expense_report.receivable_amount_total %>
</table>

<p><%= link_to "編集...", :action => "edit", :id => @expense_report %> |
  <%= link_to "削除", {:action => "destroy", :id => @expense_report},
              :data => {:confirm => "本当に削除しますか?"}, :method => :post %>

  
<% if @expense_report.receivable_amount_total != 0 %>
<p><%= link_to "[新しい入金伝票...]", :controller => "payment_slips", 
               :action => "new", :company => @expense_report.petty_group.company, 
               :petty_payback => @expense_report, :slip_type => 1 %>
<% else %>
<p><span style="color:gray">[新しい入金伝票...]</span>
<% end %>


<h2>経費</h2>

<p><%= link_to "経費エントリを編集...", :action => "edit_expense_entries",
                                 :id => @expense_report %>
  
<table class="table table-condensed">
  <tr>
    <th nowrap>取引日
    <th>経費タイプ
    <th nowrap>取引金額
    <th>承認金額
    <th>現金/CC
    <th>取引先
    <th>国内/海外
    <th nowrap>業務目的

<% # alloc 部分
  %>
    <th>勘定科目
    <th colspan="2">会計部門
    <th>税
    <th>Payer type
    <th>Payee type
    <th nowrap>金額

<% @expense_report.entries.each do |entry| %>
  <tr>
    <td><%= entry.transaction_date %>
    <td><%= entry.expense_type_name %>
    <td align="right" nowrap><%= entry.spend_amount %>
      <%= entry.spend_currency_code %>
    <td align="right" nowrap><%= entry.approved_amount %>
      <%= @expense_report.reimb_currency.code %>
    <td><%= entry.payment_code %>
    <td><%= entry.vendor_description %>
    <td><%= entry.foreign_or_domestic %>
    <td><%= entry.description %>

<%   entry.allocations.each_with_index do |alloc, i| 
       if i != 0 %>
  <tr>
    <td><td><td><td><td><td><td><td>
<%     end %>     
    <td><%= alloc.account_title.name %>
    <td nowrap><%= alloc.division.division_code %>
    <td><%= alloc.division.name %>
    <td><%= alloc.vat_code %>
    <td><%= alloc.payer_payment_type %>
    <td><%= alloc.payee_payment_type %>
    <td align="right" nowrap><%= alloc.amount %> 
<%   end %>
  </tr>
<% end %>
  <tr>
    <th align="right" colspan="3">合計:
    <td nowrap align="right"><%= @expense_report.total_approved_amount %> 
      <%= @expense_report.reimb_currency.code %>
  </tr>
</table>




<h2>仮払いの使用</h2>

<% ca_total = 0.0 %>

<table class="table table-condensed">
  <tr>
    <th>仮払いID
    <th nowrap colspan="2">金額
<% @expense_report.ca_offsets.each do |ca_offset| 
     ca_total += ca_offset.amount %>
  <tr>
    <td><%= ca_offset.cash_advance.ca_key %>
    <td nowrap align="right"><%= ca_offset.amount %>
    <td><%= ca_offset.currency.code %>
<% end %>
  <tr>
    <th align="right">合計:<td nowrap align="right"><%= ca_total %>
</table>



<h2>支払い</h2>

<table>
<% @expense_report.pays.each do |pay| %>
  <tr>
    <td><%= pay.demand_batch_close_date %>
    <td><%= pay.amount %> <%= pay.currency.code %>
<% end %>
</table>
