<%= form_for(@petty_payee) do |f| %>
  <% if @petty_payee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@petty_payee.errors.count, "error") %> prohibited this petty_payee from being saved:</h2>

      <ul>
      <% @petty_payee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
