<p id="notice"><%= notice %></p>

<h1>Listing Petty Payees</h1>

<table class="table">
  <tr>
    <th>コード
    <th>名前
    <th>備考
    <th>未収入金a/c
    <th>未払金a/c
  </tr>

<% @petty_payees.each do |petty_payee| %>
  <tr>
    <td><%= petty_payee.payment_type %>
    <td><%= petty_payee.name %>
    <td><%= petty_payee.remarks %>
    <td><%= petty_payee.ar_title_id ? petty_payee.ar_title.name : nil %>
    <td><%= petty_payee.ap_title_id ? petty_payee.ap_title.name : nil %>
      
    <td><%= link_to 'Show', :action => 'show', :id => petty_payee %></td>
  </tr>
<% end %>
</table>


<p><%= link_to 'New Petty payee', :action => 'new' %>
