<h1>Editing action_group</h1>

<%= form_for(@action_group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @action_group %> |
<%= link_to 'Back', action_groups_path %>
