<h1>Listing action_groups</h1>

<table>
  <tr>
  </tr>

<% @action_groups.each do |action_group| %>
  <tr>
    <td><%= link_to 'Show', action_group %></td>
    <td><%= link_to 'Edit', edit_action_group_path(action_group) %></td>
    <td><%= link_to 'Destroy', action_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New action_group', new_action_group_path %>