<% # 明細編集の1行分
   # @param detail_obj 明細行
   # @param i 行番号. 0始まり
   # @param ac_collection 勘定科目リスト
   # @param div_collection 会計部門リスト
  %>


<%= fields_for "detail#{i}", detail_obj do |f| %>
  <tr <%= raw (i % 2) != 0 ? 'class="color-row"' : nil %> id="r<%= i %>">
<% # lineno の前に空白を入れないこと
  %>
    <td nowrap><%= f.hidden_field "lineno", :value => (i + 1), :size => 2 %>
      <%= select_account_title_tag "account_title_id", @ac_collection, detail_obj[:account_title_id], "ac_changed(#{i});", "detail#{i}" %>
    <td nowrap>
      <%= f.hidden_field 'vat_id', :value=> detail_obj[:vat_id].to_i, 
                       :size => 2 %>
      <span id="detail<%= i %>_tax_name">
        <%= detail_obj[:vat_id].to_i == -1 ? "(科目に従う)" : 
            (detail_obj[:vat_id].to_i > 0 ? 
                                 Vat.find(detail_obj[:vat_id]).name : "－") %>
      </span>

    <td>
      <%= f.text_field "amount", :class => "form-control input-sm", 
              :style => "width:170px",
              :onblur => "up_total();", 
              :value => edit_amount(detail_obj[:amount],
                         invoice.currency ? invoice.currency.exponent : 0) %>
    <td>
    <td><button type="button" style="padding:0" 
                onclick="insert_new_detail(<%= @company.id %>, 'r<%=i%>'); return false;">
        <span class="glyphicon glyphicon-plus"></span>
      </button>

  <tr <%= raw (i % 2) != 0 ? 'class="color-row"' : nil %>>
    <td><%= select_division_tag "division_id", div_collection, detail_obj[:division_id], "div_changed(#{i});", "detail#{i}" %>

    <td nowrap>
      <%= f.hidden_field "dim2_id", :value => detail_obj[:dim2_id].to_i, 
                         :size => 2 %>
      <span id="detail<%= i %>_dim2_name">
        <%= detail_obj[:dim2_id].to_i != 0 ? 
                            Dimension.find(detail_obj[:dim2_id]).name : nil %>
      </span>
      <button type="button" style="padding:0" 
              onclick="open_sel_dim2(<%= i %>, '<%= 
                   url_for(:action => "sel_dim2", :company => @company.id,
                           :only_path => true) %>');return false;">
        <span class="glyphicon glyphicon-edit"></span>
      </button>

    <td colspan="2"><%= f.text_field 'remarks', 
                                     :class => "form-control input-sm", 
                                     :style => "width:30em", 
                                     :value => detail_obj[:remarks] %>

<%   end # fields_for
  %>
