
<% # 明細行の表
   # 印刷するので, 枠線が必要
   # @param @invoice
  %>

<table border="1" style="border-collapse:collapse;">
  <tr>
    <th nowrap>勘定科目<th nowrap>会計部門 <th nowrap>次元2 
    <th nowrap>支払額<br />(消費税込み)<th nowrap>JP消費税<th nowrap>内容
  </tr>
<% total = 0
   InvoiceDetail.find(:all, :conditions => ["invoice_id = ?", @invoice.id],
                      :order => "lineno, id").each do |r| 
     total += r.amount %>
  <tr><td><%=h r.account_title.name2 %>
    <td><%=h r.division.name2 %>
    <td><%= r.dim2 ? r.dim2.name : nil %>
    <td align="right" nowrap><%= format_amount(r.amount, @invoice.currency.exponent) %>
    <td><% if r[:vat_code] %>
      <%= InvoiceDetail::VAT_NAMES[r.vat_code] %>
<% else %>
      <%= r.vat ? r.vat.name : "－" %>
<% end %>

    <td><%=h r.remarks %>
<% end %>

<% # 材料仕入 ################################################################
  %>
<% if !@invoice.mat_receivings.empty? 
     total += @invoice.amount_of_mat_receivings

     mat_js = MatReceiving.journals(@invoice) %>
<%   mat_js.each do |order_type, xx| 
       xx.each do |mat_type, x| %>
<%       x.each do |fixed_asset_flag, y| %>
<%         if order_type == "P" && fixed_asset_flag 
             y.each do |mat| %>
  <tr>
<% # 勘定科目
  %>       
    <td>P-order [Mat-type = <%= mat_type %>] FA
    <td>
    <td>
    <td align="right" nowrap>
      <%= format_amount( nominal_amount(mat.total_amount + mat.tax_amount,
                                        @invoice.currency.exponent),
                         @invoice.currency.exponent ) %>
    <td><%= mat.tax_code %>
<% # 内容
  %>	 
    <td>PN <%= mat.part_no %> <%= mat.part.description[0..9] %> / SN <%= mat.part_serial %>
<%           end # of y.each
           else %>
<%           # P-order FA 以外は、グルーピングする
             y.each do |tax_code, z| %>
  <tr>
    <td><%= order_type %> 
      [Mat-type = <%= mat_type %>]
<%           if order_type == "P" || order_type == "L" %>
      <%= fixed_asset_flag ? "FA" : "Non-FA" %>
<%           end %>
    <td>
    <td>
    <td align="right" nowrap>
      <%= format_amount( nominal_amount(mat_js[order_type][mat_type][fixed_asset_flag][tax_code], @invoice.currency.exponent),
                         @invoice.currency.exponent ) %>
    <td><%= tax_code %>
<% # 内容
  %>	 
    <td>材料仕入 計
<%           end # of y.each
           end 
         end # of x.each
       end # of xx.each
     end %>
<% end %>

<% # 輸入消費税 ##############################################################
  %>
<% if !@invoice.import_declarations.empty?
     total += @invoice.amount_of_import_vat %>
  <tr>
    <td><%=h AccountTitle.vat_payment.name2 %>
    <td>-
    <td>-
    <td align="right" nowrap><%= format_amount(@invoice.amount_of_import_vat, 0) %>
    <td>-
    <td>輸入消費税 計
  </tr>
<% end %>

  <tr>
    <th colspan="3" align="right">合計額:
    <td align="right" nowrap><em class="pp"><%= format_amount(total, @invoice.currency.exponent) %></em><td colspan="2"><%=h @invoice.currency.name %>
  </tr>
</table>

