<% content_for :head do %>
<script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>  
<script type="text/javascript" src="/javascripts/chosen.jquery.min.js"></script>  
<link href="/javascripts/chosen.min.css" rel="stylesheet">  
<script type="text/javascript">
$(document).ready(function() {
  $(".chosen-select").chosen();
});
</script>
<% end %>

<% @action_javascript = "invoices_form" %>




<%= error_messages_for 'invoice' %>


<% line_count = [12, @detail_lines.size + 2].max %>
<%= hidden_field_tag 'lines', line_count %>

<!--[form:invoice]-->
<table>
  <tr><th align="right">カンパニー:
    <td><%=h @invoice.company_setting.name %><%= hidden_field 'invoice', 'company_setting_id' %>

  <tr><th align="right">稟議決裁# (opt.): 
    <td><%= text_field 'invoice', 'approval', :class => "form-control", :style => "width:200px" %>
  <tr><th align="right">支払先: <td><%=h @partner.name %> <%=h @partner.remarks %>
  <tr><th align="right">請求書# (opt.): 
    <td><%= text_field 'invoice', 'invoice_no', :class => "form-control", :style => "width:200px" %> 
  <tr><th align="right" nowrap>購入日/締め日: <td><%= date_select2 'invoice', 'buy_day' %> 請求書受領月ではなく購入・サービス提供月の日。前払いは支払月の日。
  <tr><th align="right" valign="top">支払日:
    <td><%= date_select2 'invoice', 'due_day' %> 
  <tr><th align="right" valign="top" nowrap>振込先口座:
    <td>
<% bank_accounts = @partner.all_bank_accounts
   if bank_accounts.size > 0 %>
      <select name="bank_account" class="form-control">
<%   bank_accounts.each_with_index do |ba, i| %>
        <option value="<%= (ba.is_a?(BankAccount) ? "j/" : "e/") + ba.id.to_s %>" <%= ba.id == @invoice.bank_account_id || ba.id == @invoice.en_bank_account_id ? "selected" : "" %> ><%=h ba.format_long %>
<%   end %>
      </select> 
      <div class="checkbox">
        <label>
          <%= check_box_tag 'no_bank', '1', @no_bank %> 振込先口座が選択肢にない / 自動引き落とし・窓口納付
        </label>
      </div>
<% else %>
  (銀行口座の設定がありません。)
<% end %>
  <tr><th align="right">通貨:
    <td><%= collection_select 'invoice', 'currency_id',
              Currency.find(:all), :id, :name, {}, :class => "form-control", :style => "width:170px" %>
</table>



<div id="dim2_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
  </div>
</div>








<h2>明細</h2>
<p>金額を空白/0にするとその行を削除します。

<table id="detail" border="0">
  <tr bgcolor="#e0e0e0"><th>勘定科目 <th nowrap>JP消費税 <th style="width:150px">支払額(消費税込)  <td></tr>
  <tr bgcolor="#e0e0e0"><th>会計部門 <th nowrap>次元2 <th>内容    <td></tr>
<% for i in 0..(line_count - 1) do 
     detail_obj = @detail_lines[i] || 
                InvoiceDetail.new(:division => current_user.default_division,
                                  :invoice_id => @invoice.id,
                                  :vat_id => -1) %>
  <%= render :partial => "detail_edit_row", 
                    :locals => {:i => i, :ac_collection => @ac_collection,
                             :div_collection => @div_collection,
                             :detail_obj => detail_obj, :invoice => @invoice}  %>
<% end %>
<% if params[:action] != "copy_new" && @invoice.import_declarations.size > 0 %>
  <tr>
    <td><%=h AccountTitle.vat_payment.name2 %><td align="right"><%= @invoice.amount_of_import_vat %>
    <td>輸入消費税
<% end %>
  <tr id="total_line">
    <th colspan="2" align="right" style="font-size:12pt;">合計: 
    <td id="total" style="font-size:12pt; font-weight:bold; border-top:black 1px solid;" align="right" nowrap>---</td>
</table>
<!--[eoform:invoice]-->

