
<% # 材料仕入セクション
   # @param @invoice 請求書
  %>

<table border="1" style="border-collapse:collapse;">
  <tr>
    <th rowspan="2">booking type
    <th rowspan="2">order type
    <th rowspan="2">order no.
      
    <th colspan="5">part
    <th rowspan="2">part serial
    <th rowspan="2">delivery date
    <th rowspan="2">receiving no.
    <th rowspan="2">qty
    <th rowspan="2">amount<br />excl. tax
    <th rowspan="2">tax code
    <th rowspan="2">tax amount
    <th rowspan="2">charge<br />incl. tax
  <tr>
    <th>part no.
    <th>desc.
    <th>mat. type
    <th>mat. class
    <th>fixed asset?

<% @invoice.mat_receivings.each do |mat| 
     part = MatPart.where("part_no = ?", mat.part_no).first %>
  <tr>
    <td><%= case mat.booking_type
            when "D"; "Debit"
            when "C"; "Credit"
            else mat.booking_type end %>

    <td><%= mat.order_type %>
    <td><%= mat.order_no %>
    <td><%= link_to mat.part_no, 
               :controller => "mat_parts", :action => "show", :id => part %>
    <td><%= mat.part.description %>
    <td><%= mat.part.mat_type %>
    <td><%= mat.part_mat_class %>
    <td><%= mat.fixed_asset_flag ? "Fixed Asset" : nil %>
    <td><%= mat.part_serial %>

    <td><%= mat.delivery_date %>
    <td><%= mat.receiving_no %>
    <td align="right"><%= mat.quantity %>

    <td align="right" nowrap><%= mat.total_amount %>
    <td><%= mat.tax_code %>
    <td align="right"><%= mat.tax_amount %>
    <td align="right" nowrap><%= format_amount(mat.amount_of_charges, 
                                               mat.currency.exponent) %>
    <td nowrap>
<%   if (mat.order_type == "P" || mat.order_type == "L" || 
                                                 mat.order_type == "R") %>
      <%= link_to "編集...", {:controller => "mat_receivings", 
                           :action => "edit", :id => mat, :invoice => @invoice},
                  (@invoice.state == 20 ? {:data => {:confirm => '編集しますか？ 会計システムのデータは手動で更新してください。'}} : nil) %>
<%   else %>
      <span style="color:gray">編集...</span>
<%   end %>
<% end %>
</table>
