
<%= form_tag :action => 'related_import2' do %>
  <%= hidden_field_tag 'id', @invoice.id %>
  <%= error_messages_for 'search' %>
<%= text_field_tag 'text', "", :size => 40 %>
を含む  <%= submit_tag '検索' %>

<p>I/D申告番号、AWB番号を検索します。
<% end %>
