<% # invoices/listp からも include される 
  %>

<% content_for :head do %>
<script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/javascripts/chosen.jquery.min.js"></script>
<link href="/javascripts/chosen.min.css" rel="stylesheet">  
<script type="text/javascript">
$(document).ready(function() {
  $(".chosen-select").chosen();
});
</script>
<% end %>



  <b>条件検索:</b><br>
  <div class="form-group">
    <%= hidden_field_tag "cost_center", @cdiv.id if @cdiv.present? %>
    <%= hidden_field_tag "partner", @partner.id if @partner.present? %>
    <%= hidden_field_tag "company", @company.id if @company.present? %>
    <label class="sr-only">勘定科目:</label>
    <%= select_account_title_tag "account_titles", @ac_collection, @selected, "", "search" %>

  </div>

  <div class="form-group">
    <label class="sr-only">JE番号:</label>
    <%= text_field "search", "je_number", :size => 10, :class => "form-control",
                                     :placeholder => "JE番号" %>
  </div>

  <div class="form-group">
    <label class="sr-only">請求書番号:</label>
    <%= text_field "search", "si_number", :size => 10, :class => "form-control",
                                     :placeholder => "請求書番号" %>
  </div>
 
  <div class="form-group">
    <label class="sr-only">内容:</label>
    <%= text_field 'search', 'remarks', :size => 40, :class => "form-control",
                                     :placeholder => "内容テキスト" %>
  </div>
 
  <button type="submit" class="btn btn-primary">
    <span class="glyphicon glyphicon-search"></span> 検索
  </button>
