<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">消費税・次元2の選択</h4>
    </div>
    <div class="modal-body">

<%= hidden_field :sel, :line %>

<table>
  <tr><th align="right" valign="top">勘定科目: 
    <td><%= @ac ? "#{@ac.account_code}/#{@ac.suppl_code} #{@ac.name}" : "－" %>
      <p><b>課税売上/仕入:</b> 
<% if @ac %>
  <%= @ac.tax_side == 1 ? "売上" : (@ac.tax_side == 2 ? "仕入" : "不課税(対象外)") %>
<% else %>
  －
<% end %>
    <th align="right">JP消費税:
    <td>
<% if @ac %>
<%   if @ac.tax_side != 0 %>
      <%= select :sel, :tax, @taxes, {}, :class => "form-control" %>
<%   else %>
      －
      <%= hidden_field :sel, :tax, :value => 0 %>
<%   end %>
<% else %>
      (科目に従う)
      <%= hidden_field :sel, :tax, :value => -1 %>
<% end %>

  <tr><th align="right">会計部門:
    <td><%= @division ? "#{@division.division_code} #{@division.name}" : nil %>

    <th align="right">次元2:
    <td><%= collection_select :sel, :dim2, @dim2, :id, :name, 
                              {}, :class => "form-control" %>
</table>

    </div> <!-- model-body -->
    <div class="modal-footer">
      <button type="button" class="btn" data-dismiss="modal">キャンセル</button>
      <button type="button" onclick="update_dim2(); return false;" class="btn btn-primary">更新</button>
    </div>
  </div>
</div><!-- .modal-dialog -->
