
<% # @param @invoice 
   # @param @partner
  %>


<table>
  <tr><th align="right">カンパニー:
    <td><%=h @invoice.company_setting.name %>

  <tr><th align="right">稟議決裁#:
    <td><%=h @invoice.approval %>
  <tr><th align="right">転記元:
    <td><%= @invoice.origin_no %>

  <tr><th align="right" nowrap>支払先: 
    <td><%=h @partner.name %> <%= @partner.remarks.blank? ? '' : h("/ " + @partner.remarks) %> 
<% if @invoice.state < Invoice::SIGNED_OFF ||
      current_user.has_role?(:keiri) && @invoice.payment_state < 20 %>
<%= link_to '[支払先を変更...]', {:action => 'change_partner', :id => @invoice},
            (@invoice.state == 20 ? {:data => {:confirm => '編集しますか？ 会計システムでも手動で、取引先を振替えてください。'}} : nil) %>
<% else %>
<span style="color:gray">[支払先を変更...]</span>
<% end %>
  <tr><th align="right">請求書#: <td><%=h @invoice.invoice_no %>
  <tr><th align="right">JE番号: 
    <td><%= @invoice.je_number ? @invoice.je_number : '(未発行)' %> 
  <tr><th align="right" nowrap>購入日/締め日: <td><%= @invoice.buy_day %>
  <tr><th align="right">支払日: 
<% if @invoice.due_day < Date.today + 5 && 
                                       @invoice.state < Invoice::SIGNED_OFF %>
    <td style="color:red;font-weight:bold"><%= @invoice.due_day %> ※期限切れ! 遠い日に変更してください。</td>
<% else %>
    <td><%= @invoice.due_day %>
<% end %>
<% if @invoice.state < 20 %>
<%   entry_day = [@invoice.buy_day, @invoice.company_setting.fixed_gl_day + 1].max
     if @invoice.due_day < entry_day %>
      <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Warning</strong> 計上日が<%= entry_day %>です。支払日を計上日以降にしてください。
      </div>
<%   end %>
<% end %>

  <tr><th align="right" nowrap>振込先口座: 
    <td><% if @invoice.bank_account %>
<%=h @invoice.bank_account.format_long() %>
<% elsif @invoice.en_bank_account %>
<%=h @invoice.en_bank_account.format_long %>
<% else %>
(銀行口座の設定がありません)
<% end %>
  <tr><th align="right">通貨: <td><%=h @invoice.currency.name %>
</table>



<% # 明細表 ##############################
  %>
<%= render :partial => 'invoices/detail' %>
