
<h1>請求書の支払先を変更</h1>

<p>現在の支払先: <%= @invoice.partner.name %>

<p>変更先:
<%= form_tag( {:action => 'change_partner2'}, :class => "form-inline") do %>
  <%= hidden_field_tag 'id', @invoice.id %>
  <%= render :partial => 'partners/search' %>
<% end %>

<p><%= link_to 'キャンセル', :action => 'show', :id => @invoice %>
