
<h1>請求書の支払先を変更</h1>

<p>現在の支払先: <%= @invoice.partner.name %>

<p>変更先:
<%= form_tag :action => 'change_partner2' do %>
  <%= hidden_field_tag 'id', @invoice.id %>
  <%= render :partial => 'partners/search' %>
<% end %>

<p><%= link_to 'キャンセル', :action => 'show', :id => @invoice %>




<div style="background-color:#e5ecf9;border-top:solid 1px #0000cc; padding:2px">
<em style="font-weight:bold;font-style:normal"><%=h @search.text %></em> の検索結果 <%= @partners.size %>件
</div>

<p>変更先をクリックしてください。

<% for partner in @partners %>
<p><%= link_to h(partner.name), {:action => 'change_partner_do', :id => @invoice, :partner => partner }, :method => 'post' %> <%=h partner.kana_name %> <%=h partner.remarks %> 
<% end %>
