
<h1>請求書の編集</h1>

<%= form_tag( {:action => 'update', :id => @invoice} ) do %>
  <%= hidden_field 'invoice', 'lock_version' %>
<%   if params[:prev] %>
  <%= hidden_field_tag 'prev', params[:prev] %>
<%   end %>
  <%= render :partial => 'form' %>

<p>変更点: <%= text_field_tag 'message', '', :size => 80 %>

<%   if params[:prev] && params[:prev] == 'signoff' %>
<p><%= link_to 'キャンセル', :action => 'sign_off_list' %>
<%   else %>
<p><%= link_to 'キャンセル', :action => 'show', :id => @invoice %> 
<%   end %>
  <input type="button" onClick="submit();" value="更新" />
<%   if current_user.has_role?(:keiri) && @invoice.state.to_i < Invoice::SIGNED_OFF %>
  <%= hidden_field_tag "update_approval", "" %>
  <input type="button" onClick="$('#update_approval').val(1); submit();" value="更新 &amp; 承認" />
<%   end
   end %>

<script type="text/javascript">
up_total();
</script>
