"use strict";

var tbl = $('#detail')[0];

// 明細の行数
var rid = $('#lines')[0].value;
$('#lines')[0].value = Number(rid) + 1;

$('#<%= @ref_row %>').before('<%= escape_javascript render(:partial => "detail_edit_row", :locals => {:i => @newid, :ac_collection => @ac_collection, 
                     :div_collection => @div_collection,
                     :detail_obj => @detail_obj, :invoice => @invoice}) %>');

// 追加行のコンボボックスにchosen適用
$(document).ready(function() {
  $(".chosen-select").chosen();
});

// 行番号を振りなおす
var lineno = 0;
for (var idx = 2; idx < tbl.rows.length - 1; idx += 2) {
	// alert(tbl.rows.item(idx).attributes); // NamedNodeMap
	var attr = document.createAttribute("class");
	attr.value = (lineno % 2) != 0 ? "color-row" : "";
	tbl.rows.item(idx    ).attributes.setNamedItem(attr);
	tbl.rows.item(idx + 1).attributes.setNamedItem(attr.cloneNode(true));

	// alert(tbl.rows.item(idx).cells.item(0).value);
	// attr = document.createAttribute("value");
	// attr.value = lineno;
	// alert(tbl.rows.item(idx).cells.item(0).firstChild);
	tbl.rows.item(idx).cells.item(0).firstChild.value = lineno + 1;
	lineno++;
}
