
<h1>請求書の新たな受入れ</h1>

<p style="color:#000066;font-weight:bold">(1) 部品システムで登録するもの、(2) 給与扱いになるもの、は登録しないでください。</p>

<p style="color:red;font-weight:bold;">定例払いのものは、できる限り、翌月4営業日以内に支払依頼を作成してください。</p>

<%= form_tag :action => 'create', :id => @partner do %>
<%   if params[:prev] %>
  <%= hidden_field_tag 'prev', params[:prev] %>
<%   end %>
  <%= render :partial => 'form' %>

<% if params[:prev] && params[:prev] == 'list' %>
<p><%= link_to 'キャンセル', :controller => 'invoices', :action => 'list' %> 
<% else %>
<p><%= link_to 'キャンセル', :controller => 'partners', :action => 'show',
                           :id => @partner, :company => @company %> 
<% end %>
  <input type="button" onClick="submit();" value="作成" />
<% end %>
