
<a href="/">トップ</a> &gt;
<h1>支払依頼の印刷</h1>

<p><b>作成者:</b> <%=h current_user.name %>

<p>印刷するものにチェックを入れて、[印刷 (プレビュー)] ボタンを押してください。

<%= form_tag( {:action => "payment_list"}, :method => :get ) do %>
  <label><%= check_box_tag :only_mm_in %> 材料仕入のみを表示</label>
  <%= submit_tag "一覧" %>
<% end %>

<hr />

<% if @invoices.empty? %>
<p><em style="color:red">印刷していない請求書はありません。</em>　再印刷は、請求書の画面から [支払依頼を印刷] をおこなってください。

<% else %>
<%=  form_tag :action => 'print_out' do %>
<%     @invoices.each {|inv| 
         @invoice = inv; @partner = inv.partner %>
    <hr />
    <%= check_box_tag 'pp[]', inv.id, true %> 
    <%= link_to "別ウィンドウで表示", {:action => "show", :id => @invoice}, :target => "otherwnd" %>
    <%= render :partial => 'show' %>
<%     } %>
<p><%= submit_tag '印刷 (プレビュー)', :class => "btn btn-primary" %>
<%   end %>

<p style="font-weight:bold;color:#000066">(1) 次に表示される画面を ファイル -&gt; 印刷 で印刷して、(2) 請求書をホチキス止めし、(3) 財務経理部まで回付してください。
<% end # if 
  %>
