<a href="/">トップ</a> &gt;
<%= link_to '支払依頼の印刷', :action => 'payment_list' %> &gt;

<% @invoices.each_with_index {|inv, i| 
     company = inv.company_setting
     fixed_day = company.fixed_day
     if i > 0 %>
<hr style="page-break-after:always" />
<%   else %>
<hr />
<%   end %>

<p align="right">印刷: <%= format_time(Time.now) %></p>
<% if inv.amount_total >= 0 %>
<h1 class="slip">支払依頼</h1>
<% else %>
<h1 class="slip">Credit Memo Report</h1>
<% end %>

<div align="right">
<table border="1" cellspacing="0" cellpadding="3" style="border-collapse:collapse;border:solid black 1px;">
  <tr><td width=60> 照合 <td width=60> 承認 <td nowrap>経理担当 <td nowrap>経理承認
  <tr style="height:40pt"><td>     <td> <td> <td>
</table>
</div>

<table border="0">
  <tr><th align="right">作成者: 
    <td><%=h inv.division.name %> 
      <%= inv.created_by ? inv.created_by.name : nil %>

  <tr><th align="right">カンパニー:
    <td><%=h company.name %>

  <tr><th align="right">稟議決裁#: <td><%=h inv.approval %>

  <tr><th align="right">転記元: <td><%= inv.origin_no %>
      
  <tr><th align="right" valign="top">支払先: 
    <td>
<% if inv.bank_account %>
  <%=h inv.partner.name %> <br>
  <em class="pp"><%= inv.bank_account.zaimu_ac %></em> &nbsp; 
  <%=h inv.bank_account.format_long() %>
<% elsif inv.en_bank_account %>
<em class="pp"><%= inv.partner.zaimu_id %></em> &nbsp;
  <%=h inv.partner.name %> <br />
  <%=h inv.en_bank_account.format_long %>
<% else %>
<em class="pp"><%= inv.partner.zaimu_id %></em> &nbsp;
  <%=h inv.partner.name %> <br />
（銀行口座の設定がありません）
<% end %>

  <tr><th align="right">請求書#: <td><%=h inv.invoice_no %>
  <tr><th align="right" nowrap>購入日/締め日: <td><%= inv.buy_day %> 
<% jday = if inv.journal_day 
            if inv.journal_day != inv.buy_day 
              inv.journal_day
            else
              nil
            end
          elsif inv.buy_day <= fixed_day 
            fixed_day + 1
          else 
            nil
          end
   if jday %>
(計上日: <%= jday %>)
<% end %>
  <tr><th align="right" nowrap>支払日: <td><em class="pp"><%=h inv.due_day %></em>
  <tr><th align="right">通貨: <td><%= inv.currency.name %>
</table>



<% @invoice = inv %>
<%= render :partial => 'detail' %>





<% if !@invoice.mat_receivings.empty? %>
  <h3>■資材(Part)仕入</h3>
  <%= render :partial => "list_mat_receivings" %>
<% end %>





<% if !@invoice.attach_files.empty? %>
<h2>アップロードされたファイル</h2>
<ul>
<%   @invoice.attach_files.each {|a| %>
<li>(<%=h a.attach_kind.name %>) <%=h a.original_filename %>
<%   } %>
</ul>
<% end %>



<hr style="border:solid 1px #999" />
<%= Messages::INVOICE_FOOTER.html_safe %>

<% } # @invoices.each_with_index
  %>
