
<h1>輸入報告を紐付け step 2</h2>

<%= render :partial => "related_import_search" %>



<hr />
<table>
  <tr><th align="right">カンパニー: <td><%= @invoice.company_setting.name %>
  <tr><th align="right">検索テキスト:  <td><%= @text %>
</table>

<p>すでに別の支払依頼に紐付けされているものは、表示されません。

<table class="table table-condensed">
  <tr>
    <th>輸入許可日
    <th>I/D#<th>AWB番号<th>輸出者名<th>内容など<th>関税 (円)<th>消費税 (円)
<% @declarations.each {|r| %>
<tr>
  <td><%= r.permit_date %>
  <td><%= r.format_declaration_number %>
  <td><%= r.format_bl_number %>
  <td><%=h r.exporter_name %>
  <td><%=h r.description %>
  <td align="right"><%= format_amount(r.customs_tariff, 0) %>
  <td align="right"><%= format_amount(r.consumption_tax, 0) %>
  <td nowrap><%= link_to '選択', {:action => 'related_import3', :id => @invoice, :decl => r}, :method => 'post' %>
<% } %>
</table>

<p><%= link_to 'キャンセル', :action => 'show', :id => @invoice %>
