<% # -*- mode:html -*-
   @page_title = '請求書' + (@invoice.payment_state == 20 ? ' [cancelled]' : '')
   @crumbs = [
     {:controller => 'partners', :action => 'index', :title => '取引先の検索'},
     {:controller => 'partners', :action => 'show', :id => @invoice.partner,
      :company => @invoice.company_setting,
      :title => "取引先 #{@invoice.partner.name}" }
   ] %>

<% @partner = @invoice.partner %>

<% # ヘッダ+明細表 #############################################################
  %>
<%= render :partial => 'show' %>


<% if @invoice.state < Invoice::SIGNED_OFF || 
      current_user.has_role?(:keiri) && @invoice.payment_state < 20
     # 会計システム連動後も編集できる.
     enable_edit = true
   end
   if @invoice.state < Invoice::SIGNED_OFF ||
      current_user.has_role?(:keiri) && @invoice.state < 20
     enable_delete = true
   end
   if current_user.has_role?(:keiri) && @invoice.state == 20 &&
      @invoice.payment_state < 20
     enable_cancel = true
   end %>

<% if !@invoice.import_declarations.empty? && @invoice.currency.code != "JPY" %>
<p><em style="color:red">輸入報告のひも付けは、請求書の通貨が JPY でなければなりません！！</em>
<% end %>

<p><% if enable_edit %> 
  <%= link_to '[編集...]', {:action => 'edit', :id => @invoice}, 
              (@invoice.state == 20 ? {:data => {:confirm => '編集しますか？ 会計システムのデータは手動で更新してください。'}} : nil) %>
<% else %>
<span style="color:gray">[編集...]</span>
<% end %>

<% if enable_delete %>
<%= link_to '[削除]', {:action => 'destroy', :id => @invoice, :prev => @prev},
            :data => {:confirm => '本当に削除しますか？'}, :method => :post %>
<% elsif enable_cancel %>
<%= link_to '[Void this]', {:action => 'cancel_invoice', :id => @invoice},
            :data => {:confirm => '本当にvoidしますか？ 会計システムのデータは手動で取り消してください。'}, :method => :post %>
<% else %>
<span style="color:gray">[削除]</span>
<% end %>

<% if @invoice.payment_state < 20 %>
<%   if @invoice.amount_total >= 0 %>
  <%= link_to '[支払依頼を印刷]', {:action => 'print_out', 'pp[]' => @invoice}, :method => :post %>
<%   else %>
  <%= link_to '[Credit Memo Report を印刷]', {:action => 'print_out', 'pp[]' => @invoice}, :method => :post %>
<%   end %>
<% else %>
<span style="color:gray">[支払依頼を印刷]</span>
<% end %>
| <%= link_to '[コピーして起票...]', :action => 'copy_new', :id => @invoice %>






<% # 資材セクション #######################################################
  %>

<% if !@invoice.mat_receivings.empty? %>
  <h3>■資材(Part)仕入</h3>
  <%= render :partial => "list_mat_receivings" %>
<% end %>




  <h3>■輸入報告 (仮払消費税等の計上)</h3>

<% if @invoice.import_declarations.empty? %>
<p>※輸入消費税がある場合は、輸入報告を作成して紐付けてください。
<% else %>
<table border=1 style="border-collapse:collapse;">
  <tr><th>輸入許可日<th>ID#<th>輸出者名<th>内容など<th>消費税等の額(円)
<%   vat_amount = 0
     @invoice.import_declarations.each {|r| 
       vat_amount += r.consumption_tax + r.vat_local %>
  <tr>
    <td><%= r.permit_date %>
    <td><%= r.format_declaration_number %>
    <td><%=h r.exporter_name %>
    <td><%=h r.description %>
    <td align="right" nowrap><%= format_amount(r.consumption_tax + r.vat_local, 0) %>
    <td nowrap><%= link_to '[詳細]', :controller => 'import_declarations', 
                            :action => 'show', :id => r %>
<%     if enable_edit %>
      <%= link_to "[外す]", 
            {:action => "remove_import", :id => @invoice, :import => r}, 
            (@invoice.state == 20 ? {:data => {:confirm => "関連づけを外しますか？　データ連動ずみです。会計システムのデータは手動で更新してください。"}, :method => :post} : {:method => :post}) %>
<%     else %>
      <span style="color:gray">[外す]</span>
<%     end %>
<%   } %>
</table>
<% end %>

<% if enable_edit && @invoice.currency.code == "JPY"
     confirm = (@invoice.state == 20 ? 
                {:data => {:confirm => "データ連動ずみです。会計システムのデータは手動で更新してください。"}} : nil) %>
<p><%= link_to '[既存の輸入報告を紐付け...]', 
               {:action => 'related_import', :id => @invoice}, confirm %>
  <%= link_to '[新しい輸入報告...]', 
              {:controller => 'import_declarations', :action => 'new', :invoice => @invoice}, confirm %>
<% else %>
<p><span style="color:gray">[既存の輸入報告を紐付け...]</span>
  <span style="color:gray">[新しい輸入報告...]</span>
<% end %>



<% if current_user.has_role?(:keiri) && @invoice.state < Invoice::SIGNED_OFF %>
<p><%= link_to '[承認]', {:action => 'sign_off', :id => @invoice}, :method => :post %>
<% else %>
<p><span style="color:gray">[承認]</span>
<% end %>




<h2>関連ファイル</h2>

<p>※納品書、請求明細などをアップロードしておくと、後で参照できます。

<%= render :partial => 'attach_files/list', :locals => {:target => @invoice} %>

<p><%= link_to 'ファイルをアップロード...', :controller => 'attach_files',
               :action => 'new', :invoice => @invoice %>






<% if !@invoice.bank_account_id %>

<h2>支払い実績</h2>

<% payments = Payment.find :all, :conditions => ["invoice_id = ?", @invoice.id]
   if !payments.empty? %>
<table>
  <tr><th>日付<th colspan="2">金額
<%   payments.each do |r| %>
  <tr><td><%= r.payment_slip.date %>
    <td align="right"><%= format_amount(r.amount, @invoice.currency.exponent) %>
    <td><%= @invoice .currency.code %>
<%     if current_user.has_role?(:keiri) %>
    <td><%= link_to "[出金伝票]", :controller => "payment_slips", :action => "show", :id => r.payment_slip %>
<%     end %>
<%   end %>
</table>
<% end %>

<% end %>





<h2>履歴</h2>

<p>created 
<% if @invoice.created_by %>
  by <%=h @invoice.created_by.name %> 
<% end %>
  at <%= format_time(@invoice.created_at) %>

<% logs = InvoiceLog.find(:all, :conditions => ['invoice_id = ?', @invoice.id], 
                                :order => 'done_at') %>
<% logs.each {|log| %>
<p><%= InvoiceLog::KIND_NAMES[log.kind] %> 
  by <%=h log.done_by.name %> 
  at <%= format_time(log.done_at) %> 
<%=h log.remarks %>

<%   if log.object_id == logs.last.object_id && log.done_by.id == current_user.id %>
<%=     form_tag :action => "up_remarks", :id => log.id do %>
(remarks) <%= text_field_tag('last_log', log.remarks, :size => 60) %>
<%= submit_tag '更新' %>
<%     end %>
<%   end %>
<% } %>

<% if @invoice.state == 20 %>
<p><em>会計システム連動済み</em>; <b>計上日:</b> <%= @invoice.journal_day %>, exported at <%= @invoice.journal_export_at %>
<% end %>

