<a href="/">トップ</a> &gt;
<a href="/keiri">経理</a> &gt;
<h1>支払依頼の承認</h1>


<% @invoices.each {|inv| 
     @invoice = inv; @partner = inv.partner %>
<hr />
<%= render :partial => 'show' %>
<p><%= link_to '[詳細]', :action => 'show', :id => @invoice %> 
  <%= link_to '[編集...]', :action => 'edit', :id => @invoice, :prev => 'signoff' %>

  <%= link_to '[削除]', {:action => 'destroy', :id => @invoice, :prev => 'signoff'}, 
                        :data => {:confirm => '本当に削除しますか？'}, 
                        :method => :post %>

 | <%= link_to '[承認]', {:action => 'sign_off', :id => @invoice, :prev => 'signoff'}, :method => 'post' %>
<% } %>




<%= will_paginate @invoices %>

