
<%= error_messages_for :dimension %>

<table>
  <tr><th align="right">Active:
    <td><%= f.check_box :active %>

  <tr><th align="right">次元2コード:
    <td><%= f.text_field :dim_code %>

  <tr><th align="right">名前:
    <td><%= f.text_field :name %>
</table>
