
<h1>次元の編集</h1>


<%= form_for @dimension, :url => {:action => "update", :id => @dimension}, 
                                      :html => {:class => "well"} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= link_to 'キャンセル', :action => "show", :id => @dimension %>
      <button type="submit" class="btn btn-primary">更新</button>
    </div>
  </div>
<% end %>
