<% # -*- coding:utf-8 -*-
   @page_title = "次元2の一覧"
   @crumbs = [
     {:controller => "keiri", :title => "経理"},
] %>



<%= will_paginate @dimensions %>

<table class="table table-condensed">
  <tr>
    <th>次元2コード</th>
    <th>名前</th>
    <th>Active?
  </tr>

<% @dimensions.each do |dimension| %>
  <tr>
    <td><%= dimension.dim_code %>
    <td><%= dimension.name %>
    <td><%= dimension.active ? "Yes" : "" %>
    <td><%= link_to '詳細', :action => "show", :id => dimension %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @dimensions %>



<p><%= link_to '新しい次元2...', :action => "new" %>
