
<h1>新しい次元</h1>

<%= form_for @dimension, :url => {:action => "create"}, 
                                      :html => {:class => "well"} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= link_to 'キャンセル', :action => "index" %>
      <button type="submit" class="btn btn-primary">作成</button>
    </div>
  </div>
<% end %>

