
<% @crumbs = [
     {:title => "経理", :controller => "keiri"},
     {:title => "次元2の一覧", :action => "index"}
   ]
   @page_title = @dimension.name 
  %>
   
<% if @error %>
<div id="errorExplanation">
  <%= @error %>
</div>
<% end %>

<table>
  <tr><th align="right">Active:
    <td><%= @dimension.active %>

  <tr><th align="right">軸:
    <td><%= @dimension.axis %>

  <tr><th align="right">次元コード:
    <td><%= @dimension.dim_code %>

  <tr><th align="right">名前:
    <td><%= @dimension.name %>
</table>

<p><%= link_to '編集...', :action => "edit", :id => @dimension %> |
  <%= link_to '削除', {:action => "destroy", :id => @dimension}, 
              :data => {:confirm => 'Are you sure?'}, :method => :delete %>
