
<%= error_messages_for 'partner' %>

<ul>
  <li>社名変更のときは、名前を新社名に変更し、メモに旧社名を入力してください。
  <li>事業移管などで、それまでとは別の法人に支払先が変わったときは、新しく取引先を登録してください。
</ul>


  <div class="row mb-3">
    <%= form.label :name, "名前:", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field 'name', :size => 60 %> 株式会社 -&gt; (株) と省略してください。
    </div>
  </div>

  <div class="row mb-3">  
    <%= form.label :kana_name, "フリガナ:", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field 'kana_name', :size => 60 %> (全角カタカナ)
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :hq_zip, "本社所在地:", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      〒<%= form.text_field 'hq_zip', :size => 8 %> xxx-xxxx<br />
      <%= form.text_field 'hq_addr', :size => 60 %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :industry, "主な業種:", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field 'industry', :size => 60 %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :remarks, "メモ (取引条件など):", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_area 'remarks', :rows => 10 %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :zaimu_id, "会計コード:", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field 'zaimu_id', :size => 10 %> (整数; 自動採番。指定するときのみ入力。)
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :tdb_code, "TDB企業コード:", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field 'tdb_code', :size => 10 %> (opt.)
    </div>
  </div>


