

<% # invoices/change_partner からも include される 
  %>



  <%= error_messages_for 'search' %>

  <div class="row mb-3" >
    <label for="search_code" class="col-sm-2 col-form-label">取引先コード:</label>
    <div class="col-sm-10">
      <%= text_field "search", "code", :size => 10, :class => "form-control",
                     :placeholder => "取引先コード" %>
    </div>
  </div>

  <div class="row mb-3">
    <label for="search_text" class="col-sm-2 col-form-label">テキスト:</label>
    <div class="col-sm-10">
      <%= text_field 'search', 'text', :size => 60, :class => "form-control",
                                     :placeholder => "検索テキスト" %>
    </div>
  </div>
  
    <button type="submit" class="btn btn-primary" style="vertical-align: top">
      <span class="glyphicon glyphicon-search"></span> 検索
    </button>

  </div>

<div class="form-group">
  <table>
    <tr><td width="140"></td><td><h7>前方一致検索・・前方一致検索は先頭に「|」をつけてください。（例：「|スター」→「スター」で始まるものを検索）</h7></td></tr>
    <tr><td width="140"></td><td><h7>後方一致検索・・後方一致検索は末尾に「|」をつけてください。（例：「フライヤー|」→「フライヤー」で終わるものを検索）</h7></td></tr>
    <tr><td width="140" height="10"></td><td></td></tr>
    <tr><td width="140">取引先コード・・</td><td>会計コード (数字6桁) or ベンダコード (英数): 完全一致</td></tr>
    <tr><td width="140">検索テキスト・・</td><td>名前（法人名または屋号）、remarks欄を検索 (部分検索) します。振りがなはカタカナ。</td></tr>
  </table>
</div>
