<h1>取引先の編集</h1>

<%= form_tag( {:action => 'update', :id => @partner}, :class => "well") do %>
  <%= hidden_field 'partner', 'lock_version' %>
  <%= render :partial => 'form' %>
<p><%= link_to 'キャンセル', :action => 'show', :id => @partner %> 
  <%= submit_tag '更新', :class => "btn btn-primary" %>
<% end %>



