<% # -*- coding:utf-8 -*-
   @page_title = '取引先の検索' 
   @crumbs = [] %>


<%= form_tag({:action => 'search'}, :method => 'get', data:{turbo:false},
                          :class => "form-inline", :role => "form") do %>
  <%= render :partial => 'search' %>
<% end %>
