
<h1>新しい取引先</h1>

<%= form_with(model:@partner, url:{action:'create'}, class: "well" ) do |form| %>
  <%= render partial: 'form', locals:{form:form} %>

<p><%= link_to 'キャンセル', {action: 'index'}, class: "btn btn-secondary" %>
  <%= submit_tag "作成", class:"btn btn-primary" %>
<% end %>

