<% # -*- coding:utf-8;mode:html -*-
   @page_title = '取引先の検索' 
   @crumbs = [] %>


<%= form_tag({:action => 'search'}, :method => 'get', 
                          :class => "form-inline", :role => "form") do %>
  <%= render :partial => 'search' %>
<% end %>

<%== pagy_nav(@pagy) %>

<div style="background-color:#e5ecf9;border-top:solid 1px #0000cc; padding:2px">
<em style="font-weight:bold;font-style:normal"><%=h @search.text %></em> の検索結果 <%= @result_count %>件
</div>

<table class="table table-condensed">
  <tr>
    <th class="col-sm-1">取引先(代表)コード
    <th class="col-sm-4">名前
    <th class="col-sm-4">業種
    <th>
<% for partner in @partners %>
  <tr>
    <td nowrap><%= partner.zaimu_id %>
    <td><%= link_to h(partner.name), :action => 'show', :id => partner %>
    <td><%= partner.industry %>
    <td><%=h partner.remarks %>
<% end %>
</table>


<p><%= link_to '[新しい取引先...]', :action => 'new' %>  登録がない場合のみ。<em>二重登録しないように注意してください。</em>


<%== pagy_nav(@pagy)  %>
