<% # -*- coding:utf-8 -*-
   @page_title = "取引先 " + @partner.name
   @crumbs = [
     {:controller => 'partners', :action => 'index', :title => '取引先の検索'} 
   ] 
  %>

<% if @error %>
<div id="errorExplanation">
  <%= @error %>
</div>
<% end %>




<table>
  <tr><th align="right">名前:     <td><%=h @partner.name %>
  <tr><th align="right">フリガナ: <td><%=h @partner.kana_name %>
  <tr><th align="right">本社所在地: <td><%=h @partner.hq_zip %> <%=h @partner.hq_addr %>
  <tr><th align="right">主業: <td><%=h @partner.industry %>

  <tr><th align="right">取引先(代表)コード: <td><%= @partner.zaimu_id %>
  <tr><th align="right" nowrap>TDB企業コード: <td><%= @partner.tdb_code %>
  <tr><th align="right" nowrap>直近の信用調査:
      <% ci = CreditInquiry.where('partner_id = ?', @partner.id)
                           .order(report_date:"DESC").limit(1).take %>
      <% if ci %>
    <td>評点 <%= ci.score.to_i != 0 ? ci.score : 'なし' %> (<%= ci.report_date %>)
<%   if ci.remarks.strip != '' %>
/ <%=h ci.remarks %>
<%   end
   else %>
<td>―
<% end %>
 <%= link_to '[信用調査の履歴]', :controller => 'credit_inquiries', :action => 'index', :partner => @partner %>

  <tr><th align="right">メモ (支払条件など): <td><%=h @partner.remarks %>
  <tr><th align="right">作成/更新日: 
    <td>
<% if @partner.created_at != @partner.updated_at %>
<%=h @partner.created_by ? @partner.created_by.name + ' on ' : nil %>
<%= @partner.created_at.strftime("%Y-%m-%d") %>;
<% end %>
<%=h @partner.updated_by ? @partner.updated_by.name + ' on ' : nil %> 
<%= @partner.updated_at.strftime("%Y-%m-%d") %> 
</table>

<p><%= link_to '[編集...]', :action => 'edit', :id => @partner %> 

<% if @invoices.empty? && @partner.bank_accounts.empty? &&
                                                  @sales_invoices.empty? %>
  <%= link_to '[削除]', {:action => 'destroy', :id => @partner},
              :data => {:confirm => '本当に削除しますか？'}, :method => :post %>
<% else %>
  <span style="color:gray;">[削除]</span>
<% end %>

| <%= link_to "[取引先銀行口座の一覧]", bank_accounts_partner_path(@partner) %>
  <%= link_to "[アドレス一覧]", bp_addresses_partner_path(@partner) %>



<h2>関連ファイル</h2>

<%= render :partial => 'attach_files/list', :locals => {:target => @partner} %>

<p><%= link_to 'ファイルをアップロード...', 
               :controller => 'attach_files', :action => 'new', :partner => @partner %>







<hr />

<%= form_tag( {:action => "show", :id => @partner}, :method => "get", :class => "form-inline" ) do %>
  <div class="form-group">
    <label>カンパニー:
      <select name="company" class="form-control">
        <%= options_from_collection_for_select current_user.accessible_companies,
                   :id, :name, {:selected => @company.id} %>
      </select>
    </label>
  </div>
  <%= submit_tag "表示切り替え", :class => "btn" %>
<% end %>

<p><b>表示中のカンパニー:</b> <%= @company ? @company.name : nil %>  


  
  
  <h3>受入れ(購買)請求書 / Credit Memo</h3>

<% today = Date.today %>

  <%= link_to "過去分を一覧表示", :controller => "invoices", :action => "listp",
                               :partner => @partner, :company => @company %>

<table class="table table-condensed">
  <tr><th>内容 (1行目)<th nowrap>請求書#<th nowrap>購入日<th>支払日
    <th colspan="2">支払額
<% @invoices.each {|inv| %>
  <tr <%= inv.state == 0 ? 'style="font-weight:bold; color:blue"'.html_safe : nil %>>
    <td <%= inv.payment_state == 20 ? 'style="text-decoration:line-through"'.html_safe : nil %>><%=h inv.first_detail_remarks %> 
      /<%=h inv.invoice_details.first ? inv.invoice_details.first.division.name : '' %>
    <td><%=h inv.invoice_no %>
    <td><%= format_date_short inv.buy_day, today %>
    <td <%= raw inv.due_day < today + 4 && inv.state < Invoice::SIGNED_OFF ? 'style="color:red;font-weight:bold"'.html_safe : nil %>><%= format_date_short inv.due_day, today %>
    <td align="right" <%= inv.payment_state == 20 ? 'style="text-decoration:line-through"'.html_safe : nil %> nowrap><%= format_amount(inv.amount_total, inv.currency.exponent) %>
    <td><%= inv.currency.name %>
    <td nowrap><%= link_to '[詳細]', :controller => 'invoices', :action => 'show', :id => inv %> 
<% } %>
</table>
<p style="margin-bottom:1em">
  <%= link_to "過去分を一覧表示", :controller => "invoices", :action => "listp",
                               :partner => @partner, :company => @company %>
</p>





<p><%= link_to "新しい請求書の受入れ...",
       {:controller => "invoices", :action => "new", :partner => @partner, :company => @company}, :class => "btn btn-success" %>

  過去に類似案件があるときは, [詳細] でその支払いの内容を確認し, [コピーして起票] をクリックしてください。







  <h3>販売請求書</h3>

  <%= link_to "過去分を一覧表示", :controller => "sales_invoices", :action => "listp",
                               :partner => @partner, :company => @company %>

<table class="table table-condensed">
  <tr>
    <th>内容 (1行目)
    <th>請求書#
    <th>販売日
    <th colspan="2">請求額
  </tr>
<% @sales_invoices.each {|r| %>
  <tr <%= r.state == 0 ? 'style="font-weight:bold; color:blue"'.html_safe : nil %>>
    <td <%= raw r.state == 30 ? 'style="text-decoration:line-through"'.html_safe : nil %>><%= r.si_journals.first ? h(r.si_journals.first.remarks) : '' %>
    <td><%= r.si_number %>
    <td><%= format_date_short(r.sell_day, today) %>
    <td nowrap align="right" <%= raw r.state == 30 ? 'style="text-decoration:line-through"'.html_safe : nil %>><%= format_amount(r.amount_total, r.currency.exponent) %>
    <td><%= r.currency.name %>
    <td nowrap><%= link_to '詳細', :controller => 'sales_invoices', :action => 'show', :id => r %> 
<% } %>
</table>
  <%= link_to "過去分を一覧表示", :controller => "sales_invoices", :action => "listp",
                               :partner => @partner, :company => @company %>
<%= will_paginate @sales_invoices, :param_name => "sipage" %>




<p><%= link_to "新しい販売請求書...",
       {:controller => "sales_invoices", :action => "new", :partner => @partner, :company => @company}, :class => "btn btn-success" %>

  過去に類似案件があるときは, [コピーして起票] で新しく起票してください。

