
<%= error_messages_for 'attach_kind' %>

<!--[form:attach_kind]-->
<div class="form-group">
  <label for="attach_kind_sort" class="col-sm-2 control-label">表示順:</label>
  <div class="col-sm-10">
    <%= text_field 'attach_kind', 'sort', :class => "form-control", :style => "width:100px" %>
    省略した場合は、最後尾
  </div>
</div>

<div class="form-group">
  <label for="attach_kind_name" class="col-sm-2 control-label">名前:</label>
  <div class="col-sm-10">
    <%= text_field 'attach_kind', 'name', :class => "form-control" %>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <div class="checkbox">
      <label>
	<%= check_box 'attach_kind', 'enable_invoice' %>
	請求書に添付可能
      </label>
    </div>
  </div>
</div>

<!--[eoform:attach_kind]-->

