
<h1>Editing attach_kind</h1>

<%= form_tag( {:action => 'update', :id => @attach_kind},
                              :class => "form-horizontal well") do %>
  <%= render :partial => 'form' %>

<p><%= link_to 'キャンセル', :action => 'show', :id => @attach_kind %>
  <%= submit_tag '更新' %>
<% end %>
