<a href="/">トップ</a> &gt;
<a href="/keiri">経理</a> &gt;
<h1>ファイル種別の一覧</h1>

<table class="table table-condensed">
  <tr>
    <th>表示順
    <th>名前
    <th>請求書に添付可能?
  </tr>
  
<% for attach_kind in @attach_kinds %>
  <tr>
    <td><%= attach_kind.sort %>
    <td><%= attach_kind.name %>
    <td><%= attach_kind.enable_invoice != 0 ? "Yes" : "" %>

    <td><%= link_to 'Show', :action => 'show', :id => attach_kind %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @attach_kinds %>


<p><%= link_to 'New attach_kind', :action => 'new' %>
