<h1>New attach_kind</h1>

<%= form_tag( {:action => 'create'}, :class => "form-horizontal well") do %>
  <%= render :partial => 'form' %>

<p><%= link_to 'キャンセル', :action => 'index' %>
  <%= submit_tag "Create" %>
<% end %>


