
<% @crumbs = [
     {:title => "経理", :controller => "keiri"},
     {:title => "ファイル種別の一覧", :action => "index"}
   ]
   @page_title = "ファイル種別 #{@attach_kind.name}"
  %>


<% for column in AttachKind.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @attach_kind.send(column.name) %>
</p>
<% end %>

<p><%= link_to '編集...', :action => 'edit', :id => @attach_kind %> |
  <%= link_to '削除', {:action => "destroy", :id => @attach_kind}, 
              :data => {:confirm => 'Are you sure?'}, :method => :delete %>
