
<% # @param @invoice 紐付いている(購買)請求書
  %>

<%= error_messages_for :import_declaration %>

<table>
  <tr><th align="right">輸入者: 
    <td>
<% if @import_declaration.company_id %>
      <%= @import_declaration.company.name %>
<% else %>
      <%= f.collection_select 'company_id', Company.find(:all), :id, :name %>
<% end %>
      
  <tr><th align="right">輸入許可日: <td><%= date_select2 'import_declaration', 'permit_date' %>
  <tr><th align="right">申告番号: <td><%= f.text_field 'declaration_number' %>


  <tr><th align="right">輸出者 (仕出人) 名: 
    <td><%= f.text_field 'exporter_name', :size => 60 %>

  <tr><th align="right">AWB (B/L) 番号: <td><%= f.text_field 'bl_number' %>
  <tr><th align="right" valign="top">内容など: <td><%= f.text_area 'description', :rows => 5 %>

  <tr><th align="right">仕入書価格: 
    <td>
<%= f.select 'invoice_incoterm_id', 
           ImportDeclaration::Incoterms.collect {|k, v| [v, k]} %>
<%= f.text_field 'invoice_price', 
             :value => edit_amount(@import_declaration.invoice_price, 
                       @import_declaration.invoice_currency ?
                           @import_declaration.invoice_currency.exponent : 0) %>
<%= collection_select 'import_declaration', 'invoice_currency_id',
                 Currency.find(:all), :id, :name %>

  <tr><th align="right">D 関税: 
    <td><%= f.text_field 'customs_tariff', :size => 20 %> 円
  <tr><th align="right">F 消費税: 
    <td><%= f.text_field 'consumption_tax', :size => 20 %> 円
  <tr><th align="right">A 地方消費税: 
    <td><%= f.text_field 'vat_local', :size => 20 %> 円
</table>
