
<h1>輸入報告の編集</h1>


<%= form_for :import_declaration,
         :url => {:action => 'update', :id => @import_declaration } do |f| %>
  <%= render :partial => 'form', :locals => {:f =>f} %>

<p><%= link_to 'キャンセル', :action => 'show', :id => @import_declaration %> 
  <%= f.submit "更新" %>
</p>
<% end %>

