
<% @page_title = "輸入報告の一覧" 
   @crumbs = [] %>

<table class="table table-condensed">
  <tr>
    <th>輸入許可日
    <th>申告番号
    <th>AWB (B/L)
    <th>輸出者 (仕出人)
    <th>内容
    <th>消費税(国税;円)
    <th>地方消費税
    <th>元帳計上日
  </tr>

<% for import_declaration in @import_declarations %>
  <tr>
    <td><%= import_declaration.permit_date %>
    <td><%= import_declaration.format_declaration_number %>
    <td><%= (import_declaration.bl_number[0..2]||"") + "-" + (import_declaration.bl_number[3.. -1]||"") %>
    <td><%= import_declaration.exporter_name %>
    <td><%= import_declaration.description %>
    <td align="right" nowrap><%= format_amount(import_declaration.consumption_tax, 0) %>
    <td align="right" nowrap><%= format_amount(import_declaration.vat_local, 0) %>
    <td><%= (inv = import_declaration.invoices.first) ? inv.journal_day : nil %>
    <td nowrap><%= link_to '詳細', :action => 'show', :id => import_declaration %></td>
  
  </tr>
<% end %>
</table>

<%= will_paginate @import_declarations %>

<p><%= link_to '新しい輸入報告...', :action => 'new' %>
