
<h1>新しい輸入報告</h1>


<%= form_for :import_declaration, :url => {:action => 'create'},
             :html => {:class => "well"} do |f| %>
<% if @invoice %>
  <%= hidden_field_tag 'invoice', @invoice.id %>
<% end %>

<%= render :partial => 'form', :locals => {:f => f} %>

<p>
<% if @invoice %>
<%= link_to 'キャンセル', :controller => 'invoices', :action => 'show', :id => @invoice %>
<% else %>
<%= link_to 'キャンセル', :action => 'index' %>
<% end %>
  <%= f.submit "作成" %>
</p>
<% end %>

