
<h1>請求書と関連付ける</h1>

<%= form_tag :action => 'ref_invoice2' do %>
  <%= hidden_field_tag 'id', @import_declaration.id %>
  <%= error_messages_for 'search' %>

<%= text_field 'search', 'text', :size => 60 %>
  を含む <%= submit_tag '検索' %>
<p>請求書番号, 内容欄を検索します。

<% end %>

<p><%= link_to 'キャンセル', :action => 'show', :id => @import_declaration %>

