
<% @page_title = "輸入報告 #{@import_declaration.format_declaration_number}"
   @crumbs = [
     {:controller => 'import_declarations', :action => 'index', :title => '輸入報告の一覧'} 
   ] 
  %>



<% if @import_declaration.invoices.empty? 
     editable = 1; can_delete = true
   else
     can_delete = false
     inv = @import_declaration.invoices.first
     if inv.state < Invoice::SIGNED_OFF
       editable = 1
     elsif current_user.has_role?(:keiri)
       # 会計システム連動ずみ
       editable = inv.state == 20 ? 2 : 1
     else
       editable = 0
     end
   end %>



<table>
  <tr><th align="right">輸入者: <td><%= @import_declaration.company.name %>
  <tr><th align="right">輸入許可日: <td><%= @import_declaration.permit_date %>
  <tr><th align="right">申告番号: 
    <td><%= @import_declaration.format_declaration_number %>

  <tr><th align="right">輸出者 (仕出人) 名: 
    <td><%=h @import_declaration.exporter_name %>
  <tr><th align="right">AWB (B/L) 番号: 
    <td><%= @import_declaration.format_bl_number %>
  <tr><th align="right">内容など: <td><%=h @import_declaration.description %>
  <tr><th align="right">仕入書価格: 
    <td>
<%= ImportDeclaration::Incoterms[@import_declaration.invoice_incoterm_id.to_i] %>
<%= format_amount(@import_declaration.invoice_price, 
                            @import_declaration.invoice_currency.exponent) %> 
      <%=h @import_declaration.invoice_currency.name %>
  <tr><th align="right" valign="top">税額:
    <td>
      <table>
        <tr><th align="right">関税: 
          <td align="right"><%= format_amount(@import_declaration.customs_tariff, 0) %> <td>円
        <tr><th align="right">消費税: 
          <td align="right"><%= format_amount(@import_declaration.consumption_tax, 0) %><td>円
        <tr><th align="right">地方消費税: 
          <td align="right"><%= format_amount(@import_declaration.vat_local, 0) %> <td>円
        <tr><th align="right" >合計:
          <td align="right" style="border-top:solid 1px black;"><%= format_amount(@import_declaration.customs_tariff + @import_declaration.consumption_tax + @import_declaration.vat_local, 0) %>
          <td style="border-top:solid 1px black;">円
      </table>
</table>

<p><% if editable == 1 || editable == 2 %>
  <%= link_to '[編集...]', {:action => 'edit', :id => @import_declaration},
      (editable == 2 ? {:data => {:confirm => "編集しますか？ データ連動済みです。会計システムのデータは手動で更新してください。"}} : nil) %>
<% else %>
  <span style="color:gray;">[編集]</span>
<% end %>

| <% if can_delete %>
  <%= link_to '[削除]', {:action => 'destroy', :id => @import_declaration}, 
                        :data => {:confirm => '本当に削除しますか？'},
                        :method => :post %>
<% else %>
  <span style="color:gray">[削除]</span> (参照している請求書があります。)
<% end %>






<h2>この輸入報告を含む請求書</h2>

<table>
<% @import_declaration.imports_invoices.each {|r| %>
  <tr>
    <th align="right">消費税等:
    <td><%=h r.invoice.partner.name %>
    <td><%= r.invoice.buy_day %>
<% if @import_declaration.company.id != r.invoice.company_setting.id %>
<em style="color:red;font-weight:bold;">警告: カンパニーが違います! どちらかのカンパニーを変更してください。</em>
<% end %>
    <td><%= link_to '[詳細]', :controller => 'invoices', :action => 'show', :id => r.invoice %>
<%   if editable == 1 %>
  <%= link_to '[関連付けを外す]', {:action => 'remove_ref', :ii => r},
              :data => {:confirm => '本当に外しますか？'}, :method => 'post' %>
<%   else %>
  <span style="color:gray;">[関連付けを外す]</span>
<%   end %>
<% } %> 
</table>









<h2>履歴</h2>

<p>created by <%=h @import_declaration.created_by.name %> at <%= format_time(@import_declaration.created_at) %> 

<% if @import_declaration.created_at != @import_declaration.updated_at %>
<p>updated at <%= format_time(@import_declaration.updated_at) %>
<% end %>
