<h1>Editing our_branch</h1>

<%= error_messages_for :our_branch %>

<%= form_for(@our_branch) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @our_branch %> |
<%= link_to 'Back', our_branches_path %>
