
<h1>自社店舗の一覧</h1>

<table>
  <tr>
    <th>店舗コード
    <th>名前
  </tr>

<% for our_branch in @our_branches %>
  <tr>
    <td><%= our_branch.branch_code %>
    <td><%=h our_branch.name %>

    <td><%= link_to 'Show', our_branch %></td>
    <td><%= link_to 'Edit', edit_our_branch_path(our_branch) %></td>
    <td><%= link_to 'Destroy', our_branch, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新しい自社店舗...', new_our_branch_path %>
