
<h1>新しい店舗</h1>

<%= error_messages_for :our_branch %>

<%= form_for(@our_branch) do |f| %>
<table>
  <tr><th align="right">店舗コード: <td><%= f.text_field 'branch_code' %>
  <tr><th align="right">名前: <td><%= f.text_field 'name' %>
</table>

<p><%= link_to 'キャンセル', our_branches_path %> <%= f.submit "作成" %></p>
<% end %>

