
<table>
  <tr><th align="right">Active: <td><%= f.check_box 'active' %>
  <tr><th align="right">名前: <td><%= f.text_field 'name' %>
  <tr><th align="right">フリガナ: <td><%= f.text_field 'kana_name' %> (全角カタカナ)

</table>
