<a href="/">トップ</a> &gt;
<a href="/human_resources/">Human Resources</a> &gt;
<a href="/qualifications/">資格の一覧</a> &gt;

<h1>資格 - 社員リスト</h1>

<% @qualifications.each {|qualification| %>
<h3><%=h qualification.name %></h3>

<%   wqs = UsersQualification.find :all, 
                     :conditions => ['qualification_id = ?', qualification.id]
     if wqs.empty? %>
<p>保有社員はいません。
<%   else %>
<table>
<%     wqs.each {|wq| %>
  <tr>
    <td><%= wq.user.worker_code %>
    <td><%= wq.effective_day %> 
    <td><%=h wq.user.name %>
<%     } %>
</table>
<%   end %>
<% } %>
