
<h1>資格の編集</h1>

<%= form_for :qualification,
             :url => {:action => 'update', :id => @qualification} do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :locals => {:f => f} %>

<p><%= link_to 'キャンセル', :action => 'show', :id => @qualification %> |
  <%= f.submit '更新' %>
  </p>
<% end %>

