<a href="/">トップ</a> &gt;
<a href="/human_resources/">Human Resources</a> &gt;

<h1>資格の一覧</h1>

<table class="table">
  <tr>
    <th>名前 <th>Active
  </tr>

<% @qualifications.each do |qualification| %>
  <tr>
    <td><%=h qualification.name %>
    <td><%= qualification.active ? "&#x2713;Yes".html_safe : "□No" %>
    <td><%= link_to '詳細', :action => 'show', :id => qualification %></td>
  </tr>
<% end %>
</table>

<p><%= link_to 'すべての資格と社員の組み合わせ', :action => 'all' %> | <%= link_to '新しい資格...', :action => 'new' %>
