
<h1>新しい資格</h1>

<%= form_for :qualification, :url => {:action => 'create'} do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :locals => {:f => f} %>

<p><%= link_to 'キャンセル', :action => 'index' %> <%= f.submit '作成' %>
<% end %>

