<a href="/">トップ</a> &gt;
<a href="/human_resources/">Human Resources</a> &gt;
<a href="/qualifications/">資格の一覧</a> &gt;

<h1><%=h @qualification.name %></h1>

<table>
  <tr><th align="right">Active:
    <td><%= @qualification.active ? "&#x2713;active".html_safe : "□ inactive" %>
  <tr><th align="right">名前: <td><%=h @qualification.name %>
  <tr><th align="right">振りがな: <td><%=h @qualification.kana_name %>

</table>

<p><%= link_to '編集...', :action => 'edit', :id => @qualification %> |
  <%= link_to '削除', {:action => 'destroy', :id => @qualification},
             :data => {:confirm => 'Are you sure?'}, :method => :delete %>



<h2>保有している社員</h2>

<% uds = UsersQualification.find :all, 
                 :conditions => ['qualification_id = ?', @qualification.id] %>

<table class="table">
  <tr>
    <th>社員コード<th>氏名<th>発効日<th>有効期限
  </tr>
<% uds.each {|ud| %>
<tr>
  <td><%= ud.user.worker_code %>
  <td><%= link_to h(ud.user.name), :controller => 'users', :action => 'show', :id => ud.user %>
  <td><%= ud.effective_day %>
  <td><%= ud.expire_day %>
<% } %>
</table>
