
<% # 入出金一覧のなかで、1レコード分を描画する
   # @param slip_ary  [Array of PaymentSlip] 伝票１枚分のレコード 
   # @param row_color
  %>

<% # 取引先の一覧
   partner_ids = Partner.find_by_sql([<<EOF, slip_ary.first.id, slip_ary.first.id])
(SELECT sales_invoices.partner_id AS id
     FROM receivings LEFT JOIN sales_invoices 
                         ON receivings.sales_invoice_id = sales_invoices.id
     WHERE receivings.cash_slip_id = ?)
UNION
(SELECT invoices.partner_id
     FROM payments JOIN invoices ON payments.invoice_id = invoices.id
     WHERE payments.payment_slip_id = ?)
EOF

   slip_ary.each_with_index do |line, idx| %>
<%   if idx == 0 %>
    <td rowspan="<%= slip_ary.size %>"><%= line.date %>
    <td rowspan="<%= slip_ary.size %>"><%= (partner_ids.map do |x|
					      Partner.find_by_id(x.id).try(:name) end).join(" / ") %>
<%   else %>
  <tr <%= row_color %> >
<%   end %>

<%   cash_amt = line.cash_amount.to_i
     our_bank = line.our_bank_id ? OurBank.find(line.our_bank_id) : nil
     if !our_bank
       # 入金・出金情報がない => 伝票を表示できるようにするため, 空行を表示
  %>
    <td>(empty) 
    <td>(empty)
    <td>
    <td>(empty)
    <td>
<%   elsif cash_amt >= 0 
       # 入金列 
  %>
    <td><%= our_bank.name %>
    <td nowrap align="right"><%= format_amount(cash_amt, 
                                               our_bank.currency.exponent) %>
    <td nowrap><%= our_bank.currency.code %>
    <td>
    <td>
<%   else 
       # 出金列
  %>
    <td><%= our_bank.name %>
    <td>
    <td>
    <td nowrap align="right"><%= format_amount(-cash_amt,
                                               our_bank.currency.exponent) %>
    <td nowrap><%= our_bank.currency.code %>
<%   end %>
    <td nowrap>
<%   if idx == 0 %>
      <%= link_to '[詳細]', :controller => "payment_slips", 
                           :action => 'show', :id => line %>
<%   end %>
<% end # of slip_ary.each_with_index
  %>
