
<% @page_title = "入金伝票の編集" %>

<%= form_for :receiving_slip, 
                    :url => {:action => 'update', :id => @receiving_slip}, 
                    :method => 'post', :html => {:class => "well"} do |f| %>
  <%= f.error_messages %>


<table>
  <tr><th align="right" nowrap>カンパニー: 
    <td><%=h @our_bank.company_setting.name %> <%= hidden_field_tag 'receiving_slip[our_bank_id]', @our_bank.id %>
  <tr><th align="right">銀行口座: 
    <td><%= f.select :our_bank_id, 
                 grouped_options_for_select(
                         OurBank.grouped_list(@our_bank.company_setting),
                         @our_bank.id) %>
  <tr>
    <th align="right">日付: <td><%= date_select2 'receiving_slip', 'date' %>
  </tr>
</table>

<p><%= link_to 'キャンセル', :action => 'show', :id => @receiving_slip %>
  <%= f.submit '更新' %>

<% end %>
