<% # -*- coding:utf-8 -*- 
  %>

<% @page_title = "入出金の一覧"
   @crumbs = [
   ] %>





<%= form_tag({:action => 'list'}, :method => 'get') do %>
  <%= hidden_field_tag 'company', @company.id %>
<table>
  <tr><th align="right">カンパニー:
    <td><%=h @company.name %> <%= link_to "カンパニーの切り替え", :action => "index" %>
  <tr><th align="right">銀行口座:
    <td>
      <select name="our_bank" class="form-control">
        <option value="">(すべての口座)</option>
        <%= grouped_options_for_select( OurBank.grouped_list @company ) %>
      </select>
  <tr><th align="right">期間:
    <td><%= date_select2 "term", "st" %> &nbsp;〜&nbsp;
      <%= date_select2 "term", "ed" %>
  <tr><td colspan="2" align="center"><%= submit_tag 'フィルタ' %>
</table>
<% end %>





<hr />
<table>
  <tr><th align="right">銀行口座: 
    <td><%=h @our_bank ? @our_bank.format_long : '(なし)' %>
  <tr><th align="right">期間:
    <td><%= @term ? "#{@term.st} 〜 #{@term.ed}" : "(なし)" %>
</table>

<p>※会計システムで直接起票したものは、表示されません。





<table class="table table-condensed">
  <tr>
    <th>日付<th>相手先
    <th>口座
    <th colspan="2" nowrap>入金額
    <th colspan="2" nowrap>出金額
  </tr>
<% slip_id = nil
   slip_ary = []
   @cash_slips.each_with_index do |line, idx|
     # break if idx >= 25   # TODO: fixme!!!

     # 1枚の伝票に複数の銀行口座がある
     if slip_id != line.id 
       if !slip_ary.empty? 
         row_color = cycle("", "class=\"color-row\"".html_safe)
         cancelled = if slip_ary.first.state == 0 
                       "style=\"color:blue;font-weight:bold\"".html_safe
                     elsif slip_ary.first.state == 30 
                       "style=\"text-decoration:line-through\"".html_safe 
                     else
                       nil 
                     end %>

  <tr <%= row_color %> <%= cancelled %> >
    <%= render :partial => "list_slip", 
               :locals => {:slip_ary => slip_ary, :row_color => row_color} %>
  </tr>
<%     end
       slip_id = line.id
       slip_ary = [line]
     else
       slip_ary << line
     end
   end # of @cash_slips.each_with_index

   if !slip_ary.empty? 
     row_color = cycle("", "class=\"color-row\"".html_safe)
     cancelled = if slip_ary.first.state == 0 
                       "style=\"color:blue;font-weight:bold\"".html_safe
                     elsif slip_ary.first.state == 30 
                       "style=\"text-decoration:line-through\"".html_safe 
                     else
                       nil 
                     end %>

  <tr <%= row_color %> <%= cancelled %> >
    <%= render :partial => "list_slip", 
               :locals => {:slip_ary => slip_ary, :row_color => row_color} %>
  </tr>
<% end %>
</table>


<%= will_paginate @cash_slips %>




<p><%= link_to '[新しい入金...]', :controller => 'payment_slips', 
               :action => 'new', :company => @company, :slip_type => 1 %>
  <%= link_to '[新しい出金...]', :controller => 'payment_slips', 
              :action => 'new', :company => @company, :slip_type => 2 %>

