<% # -*- coding:utf-8;mode:html -*- 
  %>

<h1>債権消し込み</h1>

<table>
  <tr><th align="right" nowrap>カンパニー: 
    <td><%=h @company.name %>
  <tr><th align="right">入金日:
    <td><%= @cash_slip.date %>
</table>



<%= form_tag({:action => 'remain', :id => @cash_slip}, :method => 'get') do %>
  <%= hidden_field_tag "currency", @currency.id %>
<% if @ap_partner %>
  <%= hidden_field_tag "ap_partner", @ap_partner.id %>
<% end %>  
<table style="margin-top:1em">
  <tr><th align="right">通貨:
    <td><%= @currency.name %> 
  <tr><th align="right">取引先:
    <td><%= @ap_partner ? @ap_partner.name : nil %>	  
  <tr><th align="right">期日: 
    <td><%= date_select2 'due', 'day' %> より以前で未入金のもの <%= submit_tag 'フィルタ' %>
</table>
<% end %>


<div style="margin:1em 0 1em 0;background-color:#e5ecf9;border-top:solid 1px #0000cc; padding:2px">
通貨が <b><%= @currency.name %></b>, 期日が <b><%= @due_day %></b> 以前で未入金:
</div>


<p>※当方負担手数料がある場合、(債権消込み額 － 手数料) が入金額になります。

<%= form_tag( {:action => 'add_receivings', :id => @cash_slip}, 
                                                  :method => 'post' ) do %>

<table>
  <tr>
    <th>取引先
    <th>請求書#
    <th>内容 (1行目)
    <th nowrap>入金期日
    <th>
    <th>残金
    <th>債権消込み額
    <th>手数料(円)
  </tr>

<% today = Date.today
   for inv in @invoices %>
  <tr bgcolor="<%= cycle("white", "#d0f0d0") %>">
    <td><%=h inv.partner.name %>
    <td><%=h inv.si_number %>
    <td><%= inv.si_journals.first.remarks %>
    <td><% if inv.due_day < today %>
<b style="color:#ff3300"><%= inv.due_day %></b>
<% else %>
<%= inv.due_day %>
<% end %>
    <td nowrap><%= link_to "[詳細]", {:controller => 'sales_invoices', :action => 'show', :id => inv.id}, :target => "_" %>

    <td align="right" nowrap><%= format_amount(inv.remain_amount, inv.currency.exponent) %>
    <td><%= text_field_tag "inv[#{inv.id}][amount]", nil, :size => 12 %>
    <td><%= text_field_tag "inv[#{inv.id}][charge]", nil, :size => 6 %>
  </tr>
<% end %>
</table>

<p><%= link_to 'キャンセル', :controller => "payment_slips", :action => 'show', 
                           :id => @cash_slip %> 
  <%= submit_tag '追加' %>
<% end # of form_tag %>


