<h1>Editing work_action</h1>

<%= form_tag :action => 'update', :id => @work_action do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @work_action %> |
<%= link_to 'Back', :action => 'list' %>
