
<h1>実行計画の一覧</h1>

<%= form_tag({:action => 'list'}, :method => 'get') do %>
<p><b>コストセンタ:</b> <%= select_tag 'cost_center', 
      options_from_collection_for_select(@cost_centers, 'id', 'name') %>
<%= submit_tag '表示' %>
<% end %>

<hr />


<table>
  <tr>
  <% for column in WorkAction.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for work_action in @work_actions %>
  <tr>
  <% for column in WorkAction.content_columns %>
    <td><%=h work_action.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => work_action %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => work_action %></td>
    <td><%= link_to 'Destroy', { :action => 'destroy', :id => work_action }, :confirm => 'Are you sure?', :method => 'post' %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Previous page', { :page => @work_action_pages.current.previous } if @work_action_pages.current.previous %>
<%= link_to 'Next page', { :page => @work_action_pages.current.next } if @work_action_pages.current.next %> 

<br />

<%= link_to 'New work_action', :action => 'new' %>
