
<a href="/">トップ</a> &gt;
<h1>計画</h1>

<% first = @amounts.first %>

<table>
  <tr><th align="right">元帳区分: <td><%=h first.kubun.long_name %>
  <tr><th align="right">申請部門: 
    <td><%=h @work_action.division_id ? @work_action.division.name : nil %>
  <tr><th align="right">内容: <td><%=h @work_action.name %>
  <tr><th align="right">支払先など: <td><%=h @work_action.partners %>
</table>

<table border="1" style="margin-top:1em;border-collapse:collapse">
  <tr bgcolor="#e0e0e0">
    <th>計上 (負担) 部門
    <th>勘定科目
<% @amounts.each {|r| %>
    <td><%= sprintf("%04d-%02d", r.date.year, r.date.mon) %>
<% } %>
  </tr>
  <tr>
    <td><%=h first.division.name %>
    <td><%=h first.account_title.name %>
<% @amounts.each {|r| %>
    <td align="right"><%= format_amount(r.amount, 0) %>
<% } %>
  </tr>
</table>

<!--
<%= link_to 'Edit', :action => 'edit', :id => @work_action %> |
<%= link_to 'Back', :action => 'list' %>
-->
