<%= error_messages_for 'currency' %>

<!--[form:currency]-->
<table>
  <tr><th align="right">名前: <td><%= text_field 'currency', 'name', :size => 10 %>
  <tr><th align="right">コード: <td><%= text_field 'currency', 'code', :size => 10 %> (3レター)
  <tr><th align="right">小数点以下桁数: 
<% if @currency.exponent.nil? %>
  <td><%= text_field 'currency', 'exponent', :size => 5 %> (後から変更できません)
<% else %>
  <td><%= @currency.exponent %>
<% end %>
</table>
<!--[eoform:currency]-->
