
<h1>為替レートの編集</h1>

<p><b>適用日:</b> <%= @day %>

<%= form_tag :action => 'update_rate' do %>
  <%= hidden_field_tag 'day', @day %>
<table>
<% Currency.find(:all).each {|c| %>
  <tr>
    <td><%=h c.name %><td><%= text_field 'rate', c.code %>
  </tr>
<% } %>
</table>
<%= link_to "キャンセル", :action => "rate" %>
<%= submit_tag '更新' %>
<% end %>
