<a href="/">トップ</a> &gt; 
<a href="/keiri">経理</a> &gt;
<h1>通貨マスタ</h1>


<table class="table table-condensed">
  <tr>
    <th>名前 <th>通貨コード  <th>桁数

<% for currency in @currencies %>
  <tr>
    <td><%=h currency.name %>
    <td><%= currency.code %>
    <td><%= currency.exponent %>
    <td nowrap><%= link_to '詳細', {:action => 'show', :id => currency} %></td>
  </tr>
<% end %>
</table>

<p><%= link_to '新しい通貨...', {:action => 'new'} %> | <%= link_to '為替レート', {:action => 'rate'} %>

