<a href="/">トップ</a> &gt; 
<a href="/keiri">経理</a> &gt;
<a href="/currencies">通貨マスタ</a> &gt;
<h1>為替レート</h1>


<% if @error %>
<div id="errorExplanation">
  <%= @error %>
</div>
<% end %>



<p>適用日のそれぞれ <em style="font-weight:bold">当日</em> から適用します。

<%= form_tag :action => 'create_rate' do %>
<table>
  <tr><th>適用日
<%   @currencies.each {|c| %>
    <td><u><%=h c.name %></u>
<%   } %>
  <tr>
    <td><%= date_select2 'new', 'day' %>
<%   @currencies.each {|c| %>
    <td><%= text_field_tag "v.#{c.id}", "", :size => 6 %>
<%   } %>
    <td><%= submit_tag '追加' %>
  </tr>
<%   # 履歴表示
     @dates.each {|day_r| %>
  <tr><td><%=h day_r.date %>
<%     @currencies.each {|c| 
         r = CurrencyRate.find :first, 
                    :conditions => ['currency_id = ? AND date = ?', 
                                    c.id, day_r.date] %>
    <td><%= (r ? r.rate : "") %>
<%     } %>
    <td nowrap><%= link_to '編集...', :action => 'edit_rate', :day => day_r.date %>
    <td nowrap><%= link_to '削除', {:action => 'destroy_rate', :day => day_r.date}, {:data => {:confirm => '本当に削除しますか？'}, :method => :post} %>
<%   } %>
</table>

<% end %>

<%= will_paginate @dates %>







<h2>有効期限</h2>

<p>有効期限日を超える伝票日付の、外貨建ての会計伝票は会計システムに連動しません。

<p><b>現在の有効期限:</b> <%= @limit.day.to_s %>

<%= form_tag :action => 'update_limit' do %>
<p><%= date_select2 'limit', 'day' %>
<p><%= submit_tag '更新' %>
<% end %>
