<a href="/">トップ</a> &gt; 
<a href="/keiri">経理</a> &gt;
<a href="/currencies">通貨マスタ</a> &gt;
<h1>通貨 <%= @currency.name %></h1>



<% for column in Currency.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @currency.send(column.name) %>
</p>
<% end %>

<p><%= link_to '編集...', :action => 'edit', :id => @currency %>
  <%= button_to '削除', {:action => 'destroy', :id => @currency},
                     :data => {:turbo_confirm => 'Are you sure?'}, :method => :delete %>
