
<table>
  <tr>
    <th>社員番号
    <th>氏名
    <th>部門名
<% @danglings.each do |worker| %>
  <tr>
    <td><%= worker.worker_code %>
    <td><%=h worker.name %>
    <td><%=h worker.default_division.name %>
<% end %>
</table>
