<a href="/">トップ</a> &gt;
<h1>Human Resources</h1>



<p><a href="/qualifications">資格マスタ</a>

<p><a href="/worker_positions">役職マスタ</a>

<p><a href="/human_resources/role_list">ロールの一覧</a>

<p><a href="dangling_workers">部門が正しくない可能性のある社員</a>  アクティブでない部門に所属する社員





<h2>システム連携</h2>

<p><%= link_to '社員マスタのインポート...', :action => 'import_workers' %>
