
<a href="/">トップ</a> &gt;
<a href="/human_resources/">Human Resources</a> &gt;
<h1>ロールの一覧</h1>

<% [:keiri_flag, :marketing_flag, :hrd_flag, :apar_flag].each {|k| %>
<h2><%=h k %></h2>

<%   workers = User.find :all, 
                         :conditions => ["#{k.to_s} IS TRUE"]
     map = {}
     # アクティブな社員だけを集める
     workers.each {|worker|
       map[worker.default_division] = [] if !map[worker.default_division]
       map[worker.default_division] << worker if worker.active != 0
     } %>
<table border="0">
<%   map.each {|d, ary| %>
  <tr><td><%=h d.name %>
    <td><%=h ary.collect {|x| 
               x.active == 0 ? "!!!#{x.name}!!!" : x.name}.join(" / ") %>
<%   } %>
</table>
<% } %>
