
<%= error_messages_for 'bank' %>

<!--[form:bank]-->
<table>
  <tr><th align="right">金融機関コード: 
<% if !@bank.id || controller.params[:action] == "create" %>
  <td><%= text_field_tag 'bank_code', nil, :size => 10 %> (後から変更できません。)
<% else %>
  <td><%= @bank.id %>
<% end %>

<tr><th align="right">名前: <td><%= text_field 'bank', 'name'  %>

<tr><th align="right">フリガナ: <td><%= text_field 'bank', 'kana_name'  %>
</table>
<!--[eoform:bank]-->

