
<%= form_tag({:action => 'search'}, {:method => 'get'}) do %>
  <%= error_messages_for 'search' %>
<table>
  <tr><th align="right">銀行名: <td><%= text_field 'search', 'bank_name', :size => 45 %> AND
  <tr><th align="right">支店名: <td><%= text_field 'search', 'branch_name', :size => 45 %>
</table>
<p><%= submit_tag '検索' %>
<p>銀行名のみのときは銀行を、支店名のみまたは (銀行名, 支店名) のときは支店を検索。

<p>振りがなはカタカナ。
<% end %>

