<h1>Editing bank</h1>

<%= form_tag( {:action => 'update', :id => @bank},
                               :class => "well form-horizontal") do %>
<%= render :partial => 'form' %>

<p><%= link_to 'キャンセル', :action => 'show', :id => @bank %>
  <%= submit_tag '更新' %>
<% end %>



