
<% @page_title = '銀行の検索' 
   @crumbs = [{:controller => 'keiri', :action => 'show', :title => '経理'}] %>

<ul class="nav nav-tabs">
  <li class="active"><a>銀行の検索</a>
  <li><%= link_to '銀行の一覧', :action => 'list' %>
</ul>

<%= render :partial => 'search' %>

