
<% @page_title = '銀行の一覧' 
   @crumbs = [{:controller => 'keiri', :action => 'index', :title => '経理'}] %>

<ul class="nav nav-tabs">
  <li ><%= link_to "銀行の検索", :action => "index" %>
  <li class="active"><a>銀行の一覧</a>
</ul>



<%= will_paginate @banks %>

<table class="table table-condensed">
  <tr>
    <th>金融機関コード
    <th>名前
    <th>フリガナ
  </tr>
  
<% for bank in @banks %>
  <tr>
    <td><%= bank.id %>
    <td><%= bank.name %>
    <td><%= bank.kana_name %>

    <td nowrap><%= link_to 'Show', :action => 'show', :id => bank %>
      <%= link_to 'Edit...', :action => 'edit', :id => bank %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @banks %>

<p><%= link_to '新しい銀行...', :action => 'new' %>
