
<% @page_title = '銀行の検索' 
   @crumbs = [{:controller => 'keiri', :action => 'index', :title => '経理'}] %>


<ul class="nav nav-tabs">
  <li class="active"><a>銀行の検索</a>
  <li><%= link_to '銀行の一覧', :action => 'list' %>
</ul>



<%= render :partial => 'search' %>

<div style="background-color:#e5ecf9;border-top:solid 1px #0000cc; padding:2px">
<em style="font-weight:bold;font-style:normal"><%=h @search.bank_name %> <%=h @search.branch_name %></em> の検索結果
</div>

<table class="table table-condensed">
  <tr>
    <th>金融機関コード
    <th>銀行名
    <th>
    <th>支店コード
    <th>支店名

<% @s.each_with_index {|r, i| 
     if i >= 30 %>
  <tr><td colspan="3">（件数が多すぎます）
<%     break
     else %>
<%     if r.is_a?(BankBranch) %>
  <tr>
    <td><%= r.bank.id %>
    <td><%=link_to h(r.bank.name), :action => 'show', :id => r.bank %>
    <td><%=h r.bank.kana_name %>
    <td><%= r.branch_code %>
    <td><%=h r.name %>
    <td><%=h r.kana_name %>
    <td><%= link_to '詳細', :controller => 'bank_branches', :action => 'show', :id => r %>
  </tr>
<%     else %>
  <tr>
    <td><%=h r.name %>
    <td><%=h r.kana_name %>
    <td><%= link_to '詳細', :action => 'show', :id => r %>
  </tr>
<%     end %>
<%   end 
   } %>
</table>


<p><%= link_to '新しい銀行...', :action => 'new' %>
