
<% @page_title = "銀行 #{@bank.name}"
   @crumbs = [{:controller => 'keiri', :action => 'index', :title => '経理'},
              {:action => 'index', :title => '銀行の検索'}
             ] %>

<table>
  <tr><th align="right">金融機関コード: <td><%= @bank.id %>
  <tr><th align="right">名前: <td><%=h @bank.name %>
  <tr><th align="right">カナ: <td><%=h @bank.kana_name %>
</table>

<p><%= link_to '[編集...]', :action => 'edit', :id => @bank %>
  <%= link_to 'Destroy', { :action => 'destroy', :id => @bank }, 
               :data => {:confirm => 'Are you sure?'}, :method => :post %>


<h2>支店</h2>

<p><%= link_to "[新しい支店...]", :controller => "bank_branches", :action => "new", :bank => @bank %>

<%= will_paginate @branches %>

<table class="table table-condensed">
  <tr>
    <th>支店コード
    <th>名前
    <th>カナ
<% @branches.each do |branch| %>
  <tr>
    <td><%= branch.branch_code %>
    <td><%= branch.name %>
    <td><%= branch.kana_name %>
    <td nowrap><%= link_to "[詳細]", :controller => "bank_branches", :action => "show", :id => branch %>
<% end %>
</table>

<%= will_paginate @branches %>
