<%= error_messages_for 'file' %>



<h2>関連付ける先</h2>

<% if @partner 
     kinds = AttachKind.find(:all, :order => 'sort') %>
<%= hidden_field 'file', 'partner', :value => @partner.id %>
(取引先) <%=h @partner.name %>
<% elsif @invoice 
     kinds = AttachKind.find(:all, :conditions => 'enable_invoice <> 0', :order => 'sort') %>
<%= hidden_field 'file', 'invoice', :value => @invoice.id %>
(請求書) <%=h @invoice.partner.name %>
<%=h @invoice.first_detail_remarks %>
<%= "#{@invoice.buy_day.mon}/#{@invoice.buy_day.day}分" %>
<% else 
     kinds = AttachKind.find(:all, :order => 'sort') %>
<p>関連づけはありません。
<% end %>





<h2>ファイル選択</h2>

<!--[form:attach_file]-->
<table>
<% if !@attach_file.original_filename %>  
  <tr><th align="right" nowrap>ファイル:
    <td><%= file_field 'attach_file', 'file', :size => 60 %>
<% else %>
  <tr><th align="right">ファイル名:
    <td><%= @attach_file.original_filename %>
  <tr><th align="right">content type:
    <td><%= @attach_file.content_type %>
<% end %>
      
  <tr><th align="right" nowrap>種別:   
    <td><%= collection_select 'attach_file', 'attach_kind_id', kinds, :id, :name %>
  <tr><th align="right">メモ: <td><%= text_field 'attach_file', 'remarks', :size => 60 %>
</table>
<!--[eoform:attach_file]-->

