
<% # partners/show から呼び出される
   # invoices/show からも.
  %>

<% if target.is_a?(Invoice)
     action = {:invoice => target}
   elsif target.is_a?(Partner)
     action = {:partner => target}
   else
     action = {}
   end %>
  
<% if target.attach_files.size > 0 %>
<table border="0">
<%   target.attach_files.each {|file| %>
  <tr><td>(<%=h file.attach_kind.name %>) 
    <td><%= link_to h(file.original_filename), 
               :controller => 'attach_files', 
               :action => 'download', :id => file %> 
by <%=h file.created_by.name %> on <%= file.created_at.strftime("%Y-%m-%d") %>
  <%=h file.remarks %>
    <td>
      <%= link_to '[編集...]', {:controller => 'attach_files',
                  :action => 'edit', :id => file}.merge(action) %>
      <%= link_to '[削除]',
          {:action => 'destroy_attach', :id => file, :prev => target.id},
          :data => {:confirm => '本当に削除しますか？'}, :method => :post %>
<%   } %>
</table>
<% else %>
<p>（関連するファイルはありません。）
<% end %>

