<h1>Editing attach_file</h1>

<% # 戻り先
   if @invoice
     to_return = {:controller => 'invoices', :action => 'show', :id => @invoice}
     action = {:invoice => @invoice}
   elsif @partner
     to_return = {:controller => 'partners', :action => 'show', :id => @partner}
     action = {:partner => @partner}
   else
     to_return = {:action => 'list'}
     action = {}
   end %>



<%= form_tag( action.merge(:action => 'update', :id => @attach_file) ) do %>
  <%= render :partial => 'form' %>

  <%= link_to 'キャンセル', to_return %>
  <%= submit_tag '更新' %>
<% end %>


