<a href="/">トップ</a> &gt;
<h1>ファイルの一覧</h1>

<p><%=h @cdiv.name %>

<table border=0>
  <tr>
    <th nowrap>種別<th>ファイル名 <th>登録  <th>メモ
  </tr>
  </tr>
<% for attach_file in @attach_files %>
  <tr>
    <td><%=h attach_file.attach_kind.name %>
    <td><%= link_to h(attach_file.original_filename), :action => 'download', :id => attach_file %>
    <td><%=h attach_file.created_by.name %> on <%= attach_file.created_at.strftime('%Y-%m-%d') %>
    <td><%=h attach_file.remarks %>
    <td nowrap><%= link_to '削除', {:action => 'destroy', :id => attach_file}, :confirm => '本当に削除しますか？', :method => :post %>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'ファイルをアップロード...', :action => 'new' %>
