
<h1>ファイルのアップロード</h1>

<% if @error %>
<div id="errorExplanation">
  <%= @error %>
</div>
<% end %>


<% # 戻り先
   if @invoice
     to_return = {:controller => 'invoices', :action => 'show', :id => @invoice}
     action = {:invoice => @invoice}
   elsif @partner
     to_return = {:controller => 'partners', :action => 'show', :id => @partner}
     action = {:partner => @partner}
   else
     to_return = {:action => 'list'}
     action = {}
   end %>

<%= form_tag(action.merge(:action => 'create'), :multipart => true) do %>
  <%= render :partial => 'form' %>

  <%= link_to 'キャンセル', to_return %>
  <%= submit_tag 'アップロード' %>
<% end %>
