


  <%= f.error_messages %>

<%= hidden_field_tag 'partner', @partner.id %>

<table>
  <tr><th align="right">取引先: <td><%= @partner.name %>
  <tr><th>調査日: <td><%= date_select2 'credit_inquiry', 'report_date' %>
  <tr><th>評点:  <td><%= f.text_field 'score', :size => 5 %>点 (数値以外は空白にし、メモ欄に記入)
  <tr><th>メモ:  <td><%= f.text_area 'remarks', :rows => 10 %>
</table>
