
<h1>信用調査実績の編集</h1>

<%= form_for :credit_inquiry, 
     :url => {:action => "update", :id => @credit_inquiry}, :method => :post do |f| %>

<%= render :partial => "form", :locals => {:f => f} %>

<p><%= link_to "キャンセル", :action => "index", :partner => @partner %>
  <%= f.submit '更新' %>

<% end %>
