
<a href="/">トップ</a> &gt;
<a href="/partners">取引先の検索</a> &gt;
<%= link_to h(@partner.name), :controller => 'partners', :action => 'show', :id => @partner %> &gt;
<h1>信用調査の履歴</h1>




<table>
  <tr>
    <th>調査日<th nowrap>評点<th>メモ
  </tr>

<% @credit_inquiries.each do |credit_inquiry| %>
  <tr>
    <td><%= credit_inquiry.report_date %>
    <td><%= credit_inquiry.score %>
    <td><%= h(credit_inquiry.remarks) %>

    <td nowrap><%= link_to '詳細', :action => 'show', :id => credit_inquiry, :partner => @partner %></td>
  </tr>
<% end %>
</table>



<p><%= link_to '新しい信用調査実績...', :action => 'new', :partner => @partner %>
