
<h1>新しい信用調査実績</h1>

<%= form_for :credit_inquiry, :url => {:action => "create"} do |f| %>

<%= render :partial => 'form', :locals => {:f => f} %>

<p><%= link_to 'キャンセル', :action => 'index', :partner => @partner %> 
  <%= f.submit '作成' %>
</p>

<% end %>


