

<a href="/">トップ</a> &gt;
<a href="/partners">取引先の検索</a> &gt;
<%= link_to h(@partner.name), :controller => 'partners', :action => 'show', :id => @partner %> &gt;
<%= link_to '信用調査の履歴', :action => 'index', :partner => @partner %> &gt;




<h1>信用調査実績</h1>

<table>
  <tr><th>調査日: <td><%= @credit_inquiry.report_date %>
  <tr><th>評点:  <td><%= @credit_inquiry.score %>
  <tr><th>メモ:  <td><%= h(@credit_inquiry.remarks) %>
</table>

<p><%= link_to '編集...', :action => 'edit', :id => @credit_inquiry, :partner => @partner %> |
  <%= link_to '削除', {:action => 'destroy', :id => @credit_inquiry, :partner => @partner}, :data => {:confirm => 'Are you sure?'}, :method => :delete %></td>


<p>created 
<% if @credit_inquiry.created_by %>
by <%= h @credit_inquiry.created_by.name %> 
<% end %>
on <%= @credit_inquiry.created_at.strftime("%Y-%m-%d") %>

