<% # -*- coding:utf-8; mode:html -*-
   @page_title = '入金リポート' 
   @crumbs = [
{:controller => 'keiri', :action => 'index', :title => '経理'},
{:controller => 'receivings', :action => 'index', :title => '債権管理'},
   ] %>



<%= form_tag({:action => 'day_report'}, :method => 'get') do %>
<table>
  <tr><th align="right">カンパニー:
    <td><%= select_tag 'company', options_for_select(Company.find(:all).collect {|r|
                                  [r.name, r.id]}) %>
  <tr><th align="right">日付:
    <td><%= date_select2 'report', 'day' %>
</table>
<p><%= submit_tag '表示' %>
<% end %>



<hr />

<table>
  <tr><th align="right">カンパニー:
    <td><%=h @company.name %>
  <tr><th align="right">日付:
    <td><%= @day %>
</table>

<p><%= link_to '入金伝票の印刷', :action => 'receiving_slip', 
               :company => @company, :day => @day %>

<% our_bank = nil
   @receivings.each {|r| 
     inv = r.sales_invoice 
     remain = inv.remain_amount
     if our_bank != r.our_bank 
       if our_bank %>
</table>
<%     end
       our_bank = r.our_bank %>
<p><b>■ <%= our_bank.account_title.account_code %>/<%= our_bank.account_title.suppl_code %>
<%=h our_bank.format_long %>
</b>

<table>
  <tr>
    <th>相手先
    <th colspan="2">今回入金額
    <th>手数料(円)
    <th nowrap>請求書#
    <th>内容 (1行目)
    <th>未入金残額
    <th nowrap>作成者
  </tr>
<%   end %>
  <tr>
    <td><%=h inv.partner.name %>
    <td align="right"><%= format_amount(r.amount, inv.currency.exponent) %>
    <td nowrap><%=h inv.currency.name %>
    <td align="right" <%= r.charge != 0 ? "style='background-color:#ffcccc'" : nil %>><%= r.charge %>
    <td><%= inv.si_number %>
    <td><%=h inv.si_journals.first.remarks %>
    <td align="right" <%= remain != 0 ? "style='background-color:#ffcccc'" : nil %>><%= remain %>
    <td><%=h r.created_by.name %>
<% if r.state < 20 %>
    <td nowrap><%= link_to '削除', {:action => 'destroy', :id => r}, :confirm => '本当に削除しますか？', :method => :post %>
<% end %>
  </tr>
<% } %>
</table>

<p><%= link_to '入金消し込み...', :action => 'remain', :company => @company %>
