<h1>Editing receiving</h1>

<%= form_for(@receiving) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @receiving %> |
<%= link_to 'Back', receivings_path %>
