<% # -*- coding:utf-8 -*-
   @page_title = '債権管理' 
   @crumbs = []
 # {:controller => 'keiri', :action => 'index', :title => '経理'} ] 
  %>








<h2>未入金一覧</h2>

<p><em style="font-weight:bold;color:#ff3300">※入金期日を過ぎているものは、ただちに所管部門に連絡し、督促させること</em>

<% @companies.each {|company| 
     if @invoices[company.id] && @invoices[company.id].size > 0 %>

<h3>(<%=h company.name %>)</h3>

<table class="table table-condensed">
  <tr>
    <th>取引先
    <th nowrap>請求書#
    <th>内容 (1行目)
    <th colspan="2">請求額
    <th nowrap>入金期日
    <th>
    <th colspan="2">残金
  </tr>
<% for inv in @invoices[company.id] do %>
  <tr>
    <td><%=h inv.partner.name %>
    <td><%=h inv.si_number %>
    <td><%= inv.si_journals.first.remarks %>
    <td align="right" nowrap><%= format_amount(inv.amount_total, inv.currency.exponent) %>
    <td><%=h inv.currency.code %>
    <td><%= inv.due_day %>
    <td nowrap><%= link_to "[詳細]", :controller => 'sales_invoices', 
                           :action => 'show', :id => inv.id %>
    <td align="right" nowrap>
      <%= format_amount(inv.remain_amount, inv.currency.exponent) %>
    <td><%=h inv.currency.code %>
  </tr>
<% end %>
</table>

<%   end 
   } %>






