
<%= error_messages_for 'worker' %>

<!--[form:worker]-->
<table>
  <tr><th align="right">社員コード: <td><%= text_field 'worker', 'worker_code' %> (半角英数)

  <tr><th align="right">氏名:       <td><%= text_field 'worker', 'name' %>
  <tr><th align="right">振りがな:   <td><%= text_field 'worker', 'kana_name' %>（全角カタカナ）
  <tr><th align="right">eメール:      
    <td><%= text_field 'worker', 'email' %> ログインする場合必須
  <tr><th align="right">Active:   <td><%= check_box 'worker', 'active' %>
  <tr><th align="right">Role:
    <td><%= check_box 'worker', 'keiri_flag' %><label for="worker_keiri_flag">経理</label>
<%= check_box 'worker', 'marketing_flag' %><label for="worker_marketing_flag">マーケティング</label>
<%= check_box 'worker', 'apar_flag' %><label for="worker_apar_flag">債権債務</label>
<%= check_box 'worker', 'hrd_flag' %><label for="worker_hrd_flag">人事</label>


  <tr><th align="left">(ログイン情報)
  <tr><th align="right">ログインID:
    <td>	  
<% if (@worker.id && orig_worker = User.find(@worker.id)) && orig_worker.login %>
      <%= @worker.login %>   ※変更できません。      
<% else %>
      <%= text_field 'worker', 'login' %> ログインIDは後から変更できません。
<% end %>

  <tr><th align="right">パスワード: <td><%= password_field 'worker', 'password' %> (変更するときのみ入力)
  <tr><th align="right">パスワード (確認): <td><%= password_field 'worker', 'password_confirmation' %>
</table>
<!--[eoform:worker]-->

