
<%= error_messages_for 'uq' %>

<table>
  <tr><th align="right">資格: 
    <td><%= select 'uq', 'qualification_id', 
                   Qualification.find(:all, :conditions => 'active is true').collect {|r| [r.name, r.id]} %>
  <tr><th align="right">発効日: <td><%= date_select2 'uq', 'effective_day' %>
  <tr><th align="right">有効期限: 
    <td><%= check_box_tag 'onend', '1', @uq.expire_day %>
      <%= date_select2 'uq', 'expire_day' %> チェックを入れないと無期限
</table>
