
<%= form_tag({:action => 'search'}, {:method => 'get'}) do %>
  <%= error_messages_for 'search' %>
<table>
  <tr><th align="right">氏名ほか: <td><%= text_field 'search', 'text', :size => 45 %> を含む AND
  <tr><th align="right" nowrap>社員コード: <td><%= text_field 'search', 'code', :size => 15 %> 半角英数のみ
</table>

<button type="submit" class="btn btn-primary">
  <span class="glyphicon glyphicon-search"></span> 検索
</button>

<p>振りがなは全角カタカナ。
<% end %>
