
<h1>社員の編集</h1>


<%= form_for(@worker, :url => {:action => 'update', :id => @worker},
             :html => {:class => "form-horizontal well"}, :method => :post) do %>
  <%= render :partial => 'form' %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= link_to 'キャンセル', :action => "show", :id => @worker %>
      <button type="submit" class="btn btn-primary">更新</button>
    </div>
  </div>

<% end %>
