<% # -*- coding:utf-8; mode:html -*-
   @page_title = '関連部門の編集' %>

<p><b>社員:</b> <%= @worker.worker_code %> <%=h @worker.name %>

<% # 選択肢 
   divs = Division.find :all, 
                        :conditions => 'end_day IS NULL', 
                        :order => 'division_code' 
   opt_ary = [['(なし)', 0]] + divs.collect {|r| [r.name, r.id]}
  %>

<%= form_tag(:action => 'update_divisions', :id => @worker) do %>
<p style="font-weight:bold">部門:
<table>
<% @divisions.each {|d| %>
  <tr><td><%= select_tag 'div[]', options_for_select(opt_ary, d.id) %>
<% } %>
<% (1..5).each do %>
  <tr><td><%= select_tag 'div[]', options_for_select(opt_ary, 0) %>
<% end %>
</table>

<p><%= link_to '[キャンセル]', :action => 'show', :id => @worker %> 
  <%= submit_tag '更新' %>
<% end %>
