
<h1>資格の編集</h1>

<%= form_tag :action => 'update_qualification', :id => @worker do %>

  <%= hidden_field 'uq', 'id' %>
  <%= render :partial => 'qualification' %>


<p><%= link_to 'キャンセル', :action => 'show', :id => @worker %>
<%= submit_tag '更新' %>
<% end %>
