<% # -*- coding:utf-8; mode:html -*-
   @page_title = '異動履歴 (部門) の編集' %>


<% # @param @user_divisions 履歴の配列
  %>


<p><b>社員:</b> <%= @worker.worker_code %> <%= @worker.name %>

<p>部門名が空白の行は、削除されます。
  
<p>チェックボックスにチェックを入れると、終了日を認識します。

<% if @error %>
<div id="errorExplanation">
  <%= @error %>
</div>
<% end %>  



<%= form_tag :action => 'update_division_history', :id => @worker do %>

<%   # 現在の履歴
     lines = [5, @user_divisions.length + 3].max %>
<%= hidden_field_tag 'lines', lines %>

<%= error_messages_for 'worker' %>
<table>
  <tr><th>開始日  <th>終了日  <th>部門 <th>役職
<%   # 候補
     divisions = Division.find(:all, :order => 'division_code').collect {|r| [r.name, r.id]}
     positions = WorkerPosition.find(:all).collect {|r| [r.name, r.id]}

     new_div = UsersDivision.new
     for i in 0..(lines - 1) do 
       div = @user_divisions[i] || new_div %>
<%=    fields_for "division#{i}", div do |f| %>
  <tr>
    <td><%= f.date_select 'effective_day' %> ～ 
    <td>
      <%= check_box_tag "division#{i}[endenable]", '1', div.end_day %>
      <%= f.date_select 'end_day' %>
    <td><%= f.select 'division_id', divisions, {:include_blank => true} %>
    <td><%= f.select 'worker_position_id', positions, {:include_blank => true} %>
  </tr>
<%     end
     end %>
</table>

<p><%= link_to 'キャンセル', :action => 'show', :id => @worker %>
  <%= submit_tag '更新' %>
<% end %>
