<% # -*- coding:utf-8; mode:html -*-
   @page_title = '社員の検索' 
   @crumbs = [] %>



<p><%= link_to '/社員の一覧\\', :action => 'list' %> &nbsp; /社員の検索\

<%= render :partial => 'search' %>



<% if current_user.has_role?(:hrd) %>
<p><%= link_to '新しい社員...', :action => 'new' %>
<% end %>
