<% # -*- coding:utf-8; mode:html -*-
   @page_title = "社員の一覧"
   @crumbs = [] %>



<p>/社員の一覧\ &nbsp; <%= link_to '/社員の検索\\', :action => 'index' %>


<table class="table table-condensed">
  <tr>
    <th>社員コード
    <th>名前
    <th>振りがな
    <th>所属部門
  </tr>

<% for worker in @workers %>
  <tr>
    <td><%= worker.worker_code %>
<% if worker.active != 0 %>
    <td><%=h worker.name %>
<% else %>
    <td style="color:#999999;"><%=h worker.name %>
<% end %>
    <td><%=h worker.kana_name  %>
    <td><%= worker.default_division ? worker.default_division.name : nil %>

    <td><%= link_to '詳細', :action => 'show', :id => worker %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @workers %>




<% if current_user.has_role?(:hrd) %>
<p><%= link_to '新しい社員...', :action => 'new' %>
<% end %>
