<% # -*- coding:utf-8 -*- 
  %>

<h1>新しい社員</h1>

<%= form_for(@worker, :url => {:action => 'create'},
             :html => {:class => "form-horizontal well"}) do %>
  <%= render :partial => 'form' %>

<p><%= link_to 'キャンセル', :action => 'index' %>  <%= submit_tag "作成" %>
<% end %>


