
<h1>資格の追加</h1>

<%= form_tag :action => 'create_qualification', :id => @worker do %>

  <%= render :partial => 'qualification' %>

<p><%= link_to 'キャンセル', :action => 'show', :id => @worker %>
<%= submit_tag '作成' %>
<% end %>
