<% # -*- coding:utf-8; mode:html -*-
   @page_title = '社員の検索' 
   @crumbs = [] %>


<p><%= link_to '/社員の一覧\\', :action => 'list' %> &nbsp; /社員の検索\

<%= render :partial => 'search' %>



<div style="background-color:#e5ecf9;border-top:solid 1px #0000cc; padding:2px">
<em style="font-weight:bold;font-style:normal"><%=h(@search.text || @search.code) %></em> の検索結果 <%= @users.size %>件
</div>

<% if current_user.has_role?(:hrd) %>
<p><%= link_to '新しい社員...', :action => 'new' %>
<% end %>

<table class="table table-condensed">
  <tr>
    <th>社員コード<th>名前<th>振りがな<th>所属部門<th>ログイン可
<% for user in @users %>
  <tr>
    <td><%= user.worker_code %>
    <td><%= link_to h(user.name), :action => 'show', :id => user %> 
    <td><%=h user.kana_name %> 
    <td><%=h(user.default_division ? user.default_division.name : '') %>
    <td><%= user.login && user.login != "" ? "&#x2713;Yes".html_safe : nil %>
    <td><%= user.active == 0 ? '(inactive)' : '' %>
<% end %>
</table>
