<% # -*- mode:html -*- 
   @page_title = "社員 " + @worker.name + (@worker.active == 0 ? " [inactive]" : "")
   @crumbs = [
     {:controller => 'users', :action => 'index', :title => '社員の検索'} 
   ] 
  %>


<% if @error %>
<div id="errorExplanation">
  <%= @error %>
</div>
<% end %>


<table>
  <tr><th align="right">Active: 
    <td><%= raw @worker.active != 0 ? "&#x2713;Yes" : "(inactive)" %>

  <tr><th align="right">社員コード: <td><%= @worker.worker_code %>
  <tr><th align="right">氏名: <td><%= @worker.name %>
  <tr><th align="right">振りがな: <td><%= @worker.kana_name %>
  <tr><th align="right">eメール: <td><%= @worker.email %>
</table>

<% if current_user.id == @worker.id || current_user.has_role?(:hrd) %>
<p><%= link_to '[編集...]', :action => 'edit', :id => @worker %> |
<%   if !@exist_gl %>
  <%= link_to '[削除]', {:action => 'destroy', :id => @worker},
              :data => {:confirm => '本当に削除しますか？'}, :method => 'post' %>
<%   else %>
  <span style="color:gray;">[削除]</span>
<%   end 
   else %>
<p><span style="color:gray;">[編集...]</span> |
  <span style="color:gray;">[削除]</span> (本人と人事のみ編集可能)
<% end %>

<p>updated at <%= format_time(@worker.updated_at) %>



<h2>異動履歴 (所属部門)</h2>

<% uds = UsersDivision.find(:all, 
      :conditions => ["user_id = ? AND effective_day IS NOT NULL", @worker.id], 
      :order => 'effective_day') %>
<% if uds.empty? %>
<p><em style="font-weight:bold;color:red">所属部門は必須です。設定してください!</em>
<% end %>

<%= form_tag( {:action => "update_default_division", :id => @worker} ) %>

  <table class="table table-condensed">
    <tr><th> <th>年月<th>部門 <th>カンパニー <th>役職
<% live_count = 0
   uds.each {|ud| %>
    <tr>
      <td>
<%   if !ud.end_day
       live_count += 1 %>
        <%= radio_button "worker", "default_division", ud.id,
                         (@worker.default_division == ud.division ?
                                                  {:checked => true} : {}) %>
<%   end %>
      <td><%= ud.effective_day %> ～ <%= ud.end_day %>
      <td><%=h ud.division.name %>
      <td><%= ud.division.company.name %>
      <td><%=h ud.worker_position ? ud.worker_position.name : nil %>
      <td><%= ud.default_pair != 0 ? "(主たる所属部門)" : nil %>
<% } %>
  </table>

<p><%= submit_tag "選択した部門を主たる所属部門とする",
                  (live_count == 0 ? {:disabled => "disabled"} : {}) %> |
  
<% if current_user.id == @worker.id || current_user.has_role?(:hrd) %>
  <%= link_to '[異動履歴 (部門) の編集...]', :action => 'edit_division_history', 
               :id => @worker %>
<% else %>
  <span style="color:gray">[異動履歴 (部門) の編集...]</a></span> (本人と人事のみ編集可能)
<% end %>

</form>




<h2>関連会計部門</h2>

<p>所属部門のほかの、取り扱える会計部門。

<table class="table table-condensed">
  <tr><th>会計部門  <th>カンパニー
<% UsersDivision.find(:all, 
          :conditions => ["user_id = ? AND effective_day IS NULL", @worker.id]
                    ).each do |ud| %>
  <tr>
    <td><%= ud.division.name %>
    <td><%= ud.division.company.name %>
<% end %>
</table>

<% if current_user.has_role?(:hrd) %>
<p><%= link_to '[関連部門の編集...]', :action => 'edit_divisions', :id => @worker %>
<% end %>


<table>
  <tr><th>カンパニー
<% @worker.accessible_companies.each do |company| %>
  <tr>
    <td><%= company.name %>
<% end %>
</table>







<h2>資格</h2>

<table class="table table-condensed">
  <tr><th>資格<th>発効日<th>有効期限
<% UsersQualification.find(:all, :conditions => ['user_id = ?', @worker.id],
                           :order => 'effective_day').each {|uq| %>
  <tr>
    <td><%=h uq.qualification.name %>
    <td><%= uq.effective_day %>
    <td><%= uq.expire_day ? uq.expire_day : nil %>
<% if current_user.has_role?(:hrd) %>
    <td nowrap><%= link_to '編集...', :action => 'edit_qualification', :id => @worker, :uq => uq %>
    <td nowrap>
      <%= link_to '削除',
              {:action => 'destroy_qualification', :id => @worker, :uq => uq},
              :data => {:confirm => '本当に削除しますか？'}, :method => 'post' %>
<%   end 
   } %>
</table>



<% if current_user.has_role?(:hrd) %>
<p><%= link_to '資格の追加...', :action => 'new_qualification', :id => @worker %>
<% end %>










<% if current_user.id == @worker.id || current_user.has_role?(:hrd) %>

<h2>Private</h2>

<p>(このセクションは、本人と人事だけが閲覧できます。)

<table>
  <tr><th align="right">ログインID: <td><%= @worker.login %>
  <tr><th align="right">Role: 
    <td><%= raw @worker.keiri_flag ? "&#x2713;Yes" : "□" %>経理承認 &nbsp;
<%= raw @worker.marketing_flag ? "&#x2713;Yes" : "□" %>マーケティング &nbsp;
<%= raw @worker.apar_flag ? "&#x2713;Yes" : "□" %>債権債務 &nbsp;
<%= raw @worker.hrd_flag ? "&#x2713;Yes" : "□" %>人事データ編集
</table>

<% end %>
