
<%= error_messages_for "term" %>


<% years = (2006..(Date.today.year + 1) ).collect {|y| [y, y.to_s] }
   mons = (1..12).collect {|m| [m, m.to_s]} %>
<%= form_tag :action=>'view2' do %>
<table>
  <tr><th align="right">開始: 
    <td><%= select 'term', 'start_year', years %>年
      <%= select 'term', 'start_mon', mons %>月
  <tr><th align="right">終了: 
    <td><%= select 'term', 'end_year', years %>年
      <%= select 'term', 'end_mon', mons %>月
  <tr><th align="right" nowrap>集計木:
    <td><%= select 'term', 'ctr', ControlDivision.roots.collect {|r| [r.name, r.id]} %>
  <tr><th align="right" valign="top">区分:
    <td><% for kubun in Kubun.find(:all) do %>
<%= check_box_tag "term[kubun][]", kubun.id, 
          @term.kubun.include?(kubun.id.to_s), 
          :id => "kubun#{kubun.id}" %><label for="<%="kubun#{kubun.id}"%>"><%=h kubun.long_name %></label>
<% end %>
</table>
<%= submit_tag '次へ >>' %>
<% end %>
