<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
    "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja">
<head></head>
<body>
<table>
  <tr>
    <th>伝票日付</th>
    <th>年月</th>
    <th>区分</th>
    <th>伝票NO</th>
    <th>作成日</th>
    <th>作成者コード</th>
    <th>作成者名</th>
    <th>科目コード</th>
    <th>補助コード</th>
    <th>科目名</th>
    <th>科目名2</th>
    <th>部門コード</th>
    <th>部門名</th>
    <th>取引先コード</th>
    <th>取引先名</th>
    <th>金額</th>
    <th>摘要</th>
  </tr>
