<% kubun_cache = {}
   account_title_cache = {}
   user_cache = {}
   @gl.each {|r| 
     created_by = r.created_by_before_type_cast ? 
                  (user_cache[r.created_by_before_type_cast] ||= r.created_by) :
                  nil
  %>
<tr>
  <td><%= r.date %></td>
  <td><%= sprintf("%04d%02d", r.date.year, r.date.mon) %></td>
  <td><%=h (kubun_cache[r.kubun_id] ||= r.kubun).long_name %></td> 
  <td><%= r.slip_number %></td>
  <td><%= r.created_at.strftime("%Y/%m/%d") %></td>
  <td><%= created_by ? created_by.worker_code : nil %></td>
  <td><%= created_by ? h(created_by.name) : nil %></td>
  <td><%= (account_title_cache[r.account_title_id] ||= r.account_title).account_code %></td>
  <td><%= account_title_cache[r.account_title_id].suppl_code %></td>
  <td><%= account_title_cache[r.account_title_id].name %></td>
  <td><%= "#{account_title_cache[r.account_title_id].account_code}#{account_title_cache[r.account_title_id].main_name}" %>
  <td><%= r.division ? r.division.division_code : nil %></td>
  <td><%= r.division ? h(r.division.name) : nil %></td>
  <td><%= r.partner ? r.partner.zaimu_id : nil %></td>
  <td><%= r.partner ? h(r.partner.name) : nil %></td>
  <td><%= r.amount %></td>
  <td><%=h r.remarks %></td>
</tr>
<% } %>
