<% # -*- coding:utf-8; mode:html -*- 
   @page_title = @cdiv.name 
   @crumbs = [{:action => 'index', :title => "予算・実績対比"}] %>

<% divs = Division.find(:all, 
            :conditions => ['id IN (SELECT division_id FROM controllers_divisions 
                                      WHERE control_division_id = ?)', @cdiv.id]) %>
<%= form_tag({:action => 'comparison_filter'}, :method => 'get') do %>
<%= hidden_field_tag 'vs', @vs_key %>
<table>
  <tr><th align="right">部門フィルタ:
    <td>
<select name="division">
  <option value="">(フィルタを解除)</option>
  <%= options_for_select divs.collect {|d| [d.name, d.id]} %>
</select>
</table>

<%= submit_tag '表示' %>
<% end %>



<hr />
<table>
  <tr><th align="right">コストセンタ: <td><%= @cdiv.name %>
  <tr><th align="right">期間: <td><%= @term.sd %> 〜 <%= @term.ed %>
  <tr><th align="right">区分: 
    <td><%= (@term.kubun.map do |ku| Kubun.find(ku).long_name end).join(", ") %>
  <tr><th align="right">現在のフィルタ:
    <td><%=h @filter_division ? @filter_division.name : '(なし)' %>
</table>
 
<% if @table %>
<%= @table.to_html.html_safe %>
<% else %>
<p>データがありません。期間を選択しなおしてください。
<% end %>
