
<% # 経理ロール以外の人は、自分の所属するコストセンタの分のみ見ることができる
   @page_title = "予算・実績対比" 
   @crumbs = [] %>



<% today = Date.today
   years = ((today.year - 5)..(today.year + 1)).collect {|y| [y.to_s, y.to_s]}
   months = (1..12).collect {|m| [m.to_s, m.to_s]} %>

<%= form_tag({:action => 'comparison'}, :method => 'get') do %>
  <%= error_messages_for 'term' %>
<table>
  <tr><th align="right">コストセンタ: 
    <td><%= select_cost_center_tag "cost_center", @cost_centers, "" %>

  <tr><th align="right">開始: 
    <td><%= select 'term', 'start_year', years %>年
      <%= select 'term', 'start_mon', months %>月
  <tr><th align="right">終了: 
    <td><%= select 'term', 'end_year', years %>年
      <%= select 'term', 'end_mon', months %>月
  <tr><th align="right">区分:
    <td><% for kubun in Kubun.find(:all, :conditions => 'active <> 0') do %>
<%= check_box_tag 'term[kubun][]', kubun.id, 
             @term.kubun.include?(kubun.id.to_s), 
             :id => "kubun#{kubun.id}" %><label for="<%="kubun#{kubun.id}"%>"><%=h kubun.long_name %></label>
<% end %>
</table>

<p><%= submit_tag '表示', :name => "view" %> 

<% end %>

