
<a href="/">トップ</a> &gt;
<a href="/general_ledger">予算・実績対比</a> &gt;
<h1>仕訳</h1>

<table>
  <tr><th align="right">日付: <td><%= @entries.first.date %>
  <tr><th align="right">伝票番号: <td><%= @slip_number %>
  <tr><th align="right">起票者: <td><%=h @entries.first.created_by ? @entries.first.created_by.name : '' %> 
</table>



<table border=1 style="border-collapse:collapse">
  <tr><th colspan=4>借方<th colspan=4>貸方<th rowspan=2>摘要
  <tr><th>科目<th>会計部門<th>取引先<th>金額<th>科目<th>会計部門<th>取引先<th>金額
<% @entries.each {|r| %>
  <tr>
<% if r.amount >= 0 %>
    <td><%=h r.account_title.name %>
    <td><%= r.division ? h(r.division.name) : nil %>
    <td><%= r.partner ? h(r.partner.name) : nil %>
    <td align="right"><%= format_amount(r.amount, 0) %>
    <td><td><td><td>
<% else %>
    <td><td><td><td>
    <td><%=h r.account_title.name %>
    <td><%= r.division ? h(r.division.name) : nil %>
    <td><%= r.partner ? h(r.partner.name) : nil %>
    <td align="right"><%= format_amount(-r.amount, 0) %>
<% end %>
    <td><%=h r.remarks %>
  </tr>
<% } %>
</table>
