<% # -*- mode:html -*- 
  %>

<a href="/">トップ</a> &gt;
<a href="/general_ledger">予算・実績対比</a> &gt;
<h1>元帳</h1>

<table>
  <tr><th align="right">期間: <td><%= @year %>年<%= @mon %>月
  <tr><th align="right">元帳区分: <td><%= @kubun.long_name %>
  <tr><th align="right">コストセンタ: <td><%= @cost_center.name %>
  <tr><th align="right">勘定科目: 
    <td><%=h AccountTitle.find_by_account_code(@accode).main_name %>
</table>

<table border=1 style="border-collapse:collapse">
  <tr><th>日付<th>伝票番号<th>摘要<th>会計部門<th>取引先<th>金額<th nowrap>起票者
    <th nowrap>参照
<% @gl.each {|r| %>
  <tr>
    <td><%= r.date %>
    <td align="right">
<%   if r.slip_number %>
<%     if r.slip_number >= 70000 && r.slip_number <= 79999 %>
<%= r.slip_number %> <% # TODO: roleを追加して対応すること。 
                              %>
<%     else %>
<%= link_to r.slip_number, :action => "journal", :seq => r.slip_number, 
                           :y => @year, :m => @mon %>
<%     end %>
<%   end %>
    <td><%= r.remarks %>
    <td><%= r.division.name %>
    <td><%= (r.partner ? r.partner.name : nil) %>
    <td nowrap align="right"><%= format_amount(r.amount, 0) %>
    <td><%= (r.created_by ? r.created_by.name : nil) %>
    <td>
<%   if r.work_action_id %>
<%= link_to "計画", :controller => "work_actions", :action => "show", 
            :id => r.work_action_id %>
<%   end %>
<%   if r.slip_number && r.slip_number >= 10000 && r.slip_number <= 69999 &&
      (inv = Invoice.find_by_id(r.slip_number - 10000)) != nil %>
<%= link_to "請求書", :controller => "invoices", :action => "show",
            :id => inv %>
<%   end %>
  </tr>
<% } %>
</table>
