
<a href="/">トップ</a> &gt; 
<a href="/keiri">経理</a> &gt;
<h1>全社　元帳 (実績) ダウンロード</h1>

<% today = Date.today %>

<%= form_tag :action => 'export_all_ledgers' do %>
  <%= error_messages_for 'term' %>

<p><b>開始:</b> <%= select 'term', 'start_year', (2006 .. today.year).collect {|y| [y, y]} %>年
  <%= select 'term', 'start_mon', (1..12).collect {|m| [m, m]} %>月
<p><b>終了:</b> <%= select 'term', 'end_year', (2006 .. today.year).collect {|y| [y, y]} %>年
  <%= select 'term', 'end_mon', (1..12).collect {|m| [m, m]} %>月
<p><%= submit_tag 'ダウンロード' %>
<% end %>





<hr>
<h2>科目別元帳</h2>

<%= form_tag :action => 'item_ledger' do %>
<p><b>開始:</b> <%= select 'term', 'start_year', (2006 .. today.year).collect {|y| [y, y]} %>年
  <%= select 'term', 'start_mon', (1..12).collect {|m| [m, m]} %>月
<p><b>終了:</b> <%= select 'term', 'end_year', (2006 .. today.year).collect {|y| [y, y]} %>年
  <%= select 'term', 'end_mon', (1..12).collect {|m| [m, m]} %>月
<p><b>科目:</b> <%= select 'item', 'id', 
               AccountTitle.find(:all, :order => 'account_code').collect {|item| 
                     ["#{item.account_code}#{item.name}", item.id]} %>
<p><%= submit_tag 'ダウンロード' %>
<% end %>


