<a href="/">トップ</a> &gt; 
<a href="/keiri">経理</a> &gt;
<h1>部門別　予算・実績のダウンロード</h1>



<%= render :partial=>'form' %>



<hr />
<h2><%=h "#{@term.start_year}年#{@term.start_mon}月～#{@term.end_year}年#{@term.end_mon}月" %> <%=h ControlDivision.find(@term.ctr).name %></h2>

<p><b>対象:</b>
<% for kubun_id in @term.kubun do %>
<%=h Kubun.find(kubun_id).long_name %> &nbsp;
<% end %>

<table>
  <tr><th>部門<th>操作
<% for control_division in @controllers do %>
  <tr>
    <td><%=h control_division.name %>
    <td><%= link_to 'ダウンロード', :action => 'download', :vs => @vs, 
                  :division => control_division %>
  </tr>
<% end %>
</table>





<h3>全社計</h3>

<p><%= link_to 'ダウンロード', :action => 'division_summary', :vs => @vs %> 部門別、月次合計金額


