<%= error_messages_for 'division' %>

<!--[form:division]-->
<table border="0">
  <tr><th align="right">部門コード: 
    <td><%= text_field 'division', 'division_code', :size => 10 %> (英数)

  <tr><th align="right">名前:
    <td><%= text_field 'division', 'name' %>
  <tr><th align="right">振りガナ: 
    <td><%= text_field 'division', 'kana_name' %> (全角カタカナ)

  <tr><th align="right">カンパニー:
    <td>
      <%= collection_select "division", "company_id", 
                            Company.find(:all), :id, :name %>
  <tr><th align="right" valign="top">集計先コストセンタ:
    <td>
<% ControlDivision.roots.each {|root| %>
<%=h root.name %>
<%= select_tag 'ctr[]',  
        options_for_select(root.children().collect {|r| [r.name, r.id]},
               (@division.controller(root) ? @division.controller(root).id : nil)) %><br />
<% } %>

  <tr><th align="right">次元2 (初期値):
    <td>
      <%= collection_select "division", "default_dim2_id",
                            Dimension.find(:all, :conditions => ["active IS TRUE AND axis = 2"], :order => "dim_code"), :id, :name %>

  <tr><th align="right">使用不可:
    <td><%= check_box_tag 'disable', '1', @division.end_day %> <%= date_select 'division', 'end_day'  %>
  <tr><th align="right">追加可能:
    <td><%= check_box 'division', 'purchase_active' %><label for="division_purchase_active">購買/販売請求書</label>
</table>
<!--[eoform:division]-->

