
<%= form_with(model: @search, url: {:action => "search"}, 
              method: :get, data:{turbo:false}, class:"form-inline") do |f| %>
  <%= error_messages_for 'search' %>

  <div class="form-group">
    <%= f.text_field "name", :size => 45, :class => "form-control" %>
  </div>

  <button type="submit" class="btn btn-primary">
    <span class="glyphicon glyphicon-search"></span> 検索
  </button>

<p>振りがなは全角カタカナ。
<% end %>
