
<h1>会計部門の編集</h1>

<%= form_tag( {:action => 'update', :id => @division},
              {:class => "well form-horizontal"} ) do %>
  <%= render :partial => 'form' %>
<p><%= link_to 'キャンセル', :action => 'show', :id => @division, :page => @page %>
  <%= submit_tag '更新' %>
<% end %>

