
<% @page_title = '会計部門の一覧' 
   @crumbs = []
  %>



<%= render :partial => "search" %>



<table class="table table-condensed">
  <tr>
  <% for column in Division.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
    <th>カンパニー    
  </tr>
  
<% for division in @divisions %>
  <tr>
  <% for column in Division.content_columns %>
    <td><%=h division.send(column.name) %></td>
  <% end %>
    <td><%= division.company.name %>
    
    <td nowrap><%= link_to '詳細', :action => 'show', :id => division %></td>

  </tr>
<% end %>
</table>

<%== pagy_nav(@pagy) %>


<% if current_user.has_role?(:keiri) %>
<p><%= link_to '新しい会計部門...', :action => 'new' %>
  | <%= link_to '購買伝票で追加できるか否か...', :action => 'select_addable' %>
<% end %>
