
<% @page_title = '会計部門の検索' 
   @crumbs = [#{:title => '経理', :controller => 'keiri', :action => 'index'}
   ] %>


<%= render :partial => 'search' %>



<div style="background-color:#e5ecf9;border-top:solid 1px #0000cc; padding:2px">
<em style="font-weight:bold;font-style:normal"><%=h @search.name %></em> の検索結果 <%= @divisions.size %>件
</div>

<table class="table table-hover table-condensed">
  <tr>
    <th>部門コード
    <th>部門名
    <th>伝票追加可?
<% for division in @divisions %>
  <tr>
    <td><%= division.division_code %> 
    <td><%= link_to h(division.name), :action => 'show', :id => division %> 
    <td><%= division.purchase_active != 0 ? "Yes" : nil %>
<% end %>
</table>


<p><%= link_to '一覧表示', :action => 'index' %>
 | <%= link_to '新しい会計部門...', :action => 'new' %>


