<a href="/">トップ</a> &gt;
<a href="/keiri">経理</a> &gt;
<%= link_to '会計部門の一覧', :action => 'index' %> &gt;
<h1>購買伝票で追加可能か</h1>

<% columns = ['division_code', 'name', 'kana_name'] %>

<p>データを追加できないようにするには、チェックを外して、「更新」ボタンを押してください。


<%= form_tag :action => 'update_addable' do %>
<table>
  <tr>
<%   for column in columns %>
    <th><%=h column %>
<%   end %>
    <th>追加可能
  </tr>

<%   for division in @divisions %>
  <tr>
<%     for column in columns %>
    <td><%=h division.send(column) %>
<%     end %>
    <td><%= check_box_tag 'ss[]', division.id, division.purchase_active != 0 %>
  </tr>
<%   end %>
</table>

<%= submit_tag '更新' %>
<% end %>
