
<% @crumbs = [
     #{:title => "経理", :controller => "keiri"},
     {:title => "会計部門の一覧", :action => "index"}
   ]
   @page_title = "会計部門 #{@division.name}"
  %>




<table>
  <tr><th align="right">部門コード: <td><%=h @division.division_code %>
  <tr><th align="right">名前: <td><%=h @division.name %>
  <tr><th align="right">振りガナ: <td><%=h @division.kana_name %>
  <tr><th align="right">カンパニー: <td><%=h @division.company.name %>
  <tr><th align="right" valign="top">集計先コストセンタ:
    <td>
      <table>
<% @division.control_divisions.each {|controller| %>
        <tr><td><%= controller.root.name %>
          <td><%= link_to h(controller.name), :controller => 'control_divisions', :action => 'show', :id => controller %>
<% } %>
      </table>

  <tr><th align="right">終了日: <td><%= @division.end_day %>
  <tr><th align="right">次元2(初期値): 
    <td><% if @division.default_dim2 %>
      <%= link_to @division.default_dim2.name, :controller => "dimensions", 
                          :action => "show", :id => @division.default_dim2 %>
<% end %>

  <tr><th align="right">追加可能: 
    <td><% if @division.purchase_active != 0 %>&#x2713;Yes 
        <%    else %>□<% end %> 購買/販売請求書
</table>



<p><%= link_to '編集...', :action => 'edit', :id => @division %>
<% if GeneralLedger.find(:first, :conditions => ['division_id = ?', @division.id]) %>
<span style="color:gray">削除</span>
<% else %>
<%= link_to '削除', {:action => 'destroy', :id => @division},
             :data => {:confirm => '本当に削除しますか？'}, :method => 'post' %>
<% end %>



