
<h1>全体設定</h1>


<%= form_for :global_setting, :url => {:action => "update"}, 
             :method => :put do |f| %>
  <%= error_messages_for 'global_setting' %>


<table>
  <tr>
    <th align="right" nowrap>取引先コードカウンタ: 
    <td><%= f.text_field "partner_counter" %>
  </tr>
  <tr>
    <th align="right" nowrap>優先する部門集計木:
    <td><%= f.collection_select "default_division_tree_root_id", 
                   ControlDivision.roots, :id , :name %> この集計木のコストセンタだけが、部門別予算・実績対比で表示されます。

</table>

<div class="actions">
  <%= link_to '[キャンセル]', :action => "show" %>
  <%= f.submit "更新" %>
</div>
<% end %>


