
<h1>特殊な勘定科目</h1>

<% ac_list = AccountTitle.find(:all, 
                :conditions => "end_day IS NULL AND aggregate_flag IS FALSE", 
                :order => "account_code, suppl_code, id") %>
<%= form_for @global_setting, :url => {:action => "update_specials"} do |f| %>

<table>
  <tr><th align="right">送金手数料:
    <td><%= f.collection_select "bank_charge_account_title_id", ac_list, :id, :name %>

  <tr><th align="right">為替差損益:
    <td><%= f.collection_select "currency_gain_account_title_id", ac_list, :id, :name %>

  <tr><th align="right">仮払消費税:
    <td><%= f.collection_select "vat_payment_account_title_id", ac_list, :id, :name %>

  <tr><td colspan="2"><%= link_to "キャンセル", :action => "show_specials" %> <%= f.submit "更新" %>
</table>

<% end %>


