
<a href="/">トップ</a> &gt; 
<a href="/keiri">経理</a> &gt;
<h1>全体設定</h1>

<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th align="right">取引先コードカウンタ: 
    <td><%= @global_setting.partner_counter %>
  </tr>

  <tr><th align="right">優先する部門集計木: 
    <td><%=h ControlDivision.find(@global_setting.default_division_tree_root_id).name %>

</table>

<p><%= link_to '[編集...]', :action => "edit" %>
