<% # -*- mode:html -*-
   @page_title = '特殊な勘定科目'
   @crumbs = [
     {:controller => 'account_titles', :action => 'index', 
      :title => "勘定科目の検索" }
   ] %>


<table>
  <tr><th align="right">送金手数料: 
    <td><%= @global_setting.bank_charge_account_title.account_code %>
      <%= link_to @global_setting.bank_charge_account_title.name,
                  :controller => "account_titles", :action => "show", :id => @global_setting.bank_charge_account_title %>

  <tr><th align="right">為替差損益:
    <td><%= @global_setting.currency_gain_account_title.account_code %>
      <%= link_to @global_setting.currency_gain_account_title.name,
                  :controller => "account_titles", :action => "show", :id => @global_setting.currency_gain_account_title %>

  <tr><th align="right">仮払消費税:
    <td><%= @global_setting.vat_payment_account_title.account_code %>
      <%= link_to @global_setting.vat_payment_account_title.name,
                  :controller => "account_titles", :action => "show", :id => @global_setting.vat_payment_account_title %>

</table>

<p><%= link_to "特殊な勘定科目の選択...", :action => "select_specials" %>



<h2>債権勘定</h2>

<% AccountTitle.receivable_candidates.each {|ac| %>
<%= ac.account_code %><%= ac.name %>
<% } %>



<h2>債務勘定</h2>

<% AccountTitle.payable_candidates.each {|ac| %>
<%= ac.account_code %><%= ac.name %>
<% } %>
