<% # -*- coding:utf-8; mode:html -*-
   @page_title = "社内経理システム"
  %>



<%= Messages::TOP_PAGE.html_safe %>



<div class="col-sm-6">
<h2>請求・購買管理</h2>

<p><a href="partners/">取引先の検索</a>   &nbsp;
  請求書の受入れ登録 (支払依頼の作成)、請求書発行依頼の作成もこちらから。

<p><a href="bp_addresses/">アドレス一覧</a>


  <h3>購買管理</h3>

<table border="0">
  <tr><td><a href="invoices/payment_list">支払依頼を一括して印刷</a>  
    <td>経理に回付するための伝票を印刷します。

  <tr><td><p><a href="invoices/list">過去の(購買)請求書の一覧</a>   
    <td>以前作成した請求書データをコピーできます。

  <tr><td><a href="import_declarations/">輸入報告</a>   
    <td>輸入申告/許可通知書を報告。

  <tr><td><a href="/mat_parts/">資材(Part)マスタ</a>

</table>

  <h3>販売管理</h3>
 
<p><a href="sales_invoices/list">過去の販売請求書の一覧</a></p>

<!--
  <dt><a href="attach_files/list">ファイルの一覧</a>
-->
</div>








<div class="col-sm-6">
<h2>債権管理・出納</h2>

<p><a href="/receiving_slips">入出金</a>
  
<p><a href="/receivings">債権管理</a> 入金消し込みなど (経理専用)

<p><a href="/petty_expenses">小口経費精算</a> 支払い処理 (経理専用)
</div>








<div class="col-sm-6">
<h2>予算実績管理</h2>

<!--
<p><a href="work_actions/">予算</a> 施策単位で表示します。
-->

<p><a href="general_ledger/">予算・実績対比</a> 金額で比較します。

<p><a href="/account_titles">勘定科目マスタ</a> 

<p><a href="/divisions">会計部門マスタ</a>

<p><a href="keiri/">その他のマスタ管理</a> (経理専用)
</div>







<div class="col-sm-6">
<h2>社員情報</h2>

<p><a href="account/edit_password">パスワードの変更...</a> 

<p><a href="users/">社員の検索</a>

<p><a href="human_resources/">マスタ管理</a> (人事専用)

</div>
