
<h2>取引先</h2>

<p>取引先コードは、銀行口座が異なるごとに採番します。

<p>サプライヤによっては、複数の銀行口座を使い分けて、特定の銀行口座への入金を要求してくることがある。会計システムでは、別の取引先レコードを作る。

<p>Netsphere Financial Front では, 取引先レコードに銀行口座レコードを複数ぶら下げる。


  <h3>取引先マスタ</h3>

<p>[制限事項] 取引先コードは、数値のみ。

<p>銀行口座レコードを持たない場合に、会計システム取引先コードを持つ。



  <h3>銀行口座</h3>

<p>JP(カナ) と英語表記の2種類.

  <h3>アドレス</h3>

<p><b>TODO:</b> 銀行口座との紐付け。

<p><b>TODO:</b> 住所フィールド, 部署フィールドの追加  

  <h3>信用調査実績</h3>




