
<h1>Human Resources</h1>



<h2>人事マスタ &gt; 役職マスタ</h2>

<p>異動履歴で使われます。

<ul>
  <li>部署名は含めません。
  <li>役職の名称変更（例：漢字→カタカナ）であっても、役職マスタの編集で変えるのではなく、新しくレコードを作ってください。
</ul>



<h2>資格マスタ</h2>

<p><b>TODO:</b> 説明フィールド

  


  
<h2>社員</h2>

  <h3>異動履歴</h3>

<p>各ユーザ (社員) は，一つ以上の所属部署が必要です。

  
<p>(1) ユーザは、所属の履歴を持ちます。
  
<p><b>重要な仮定:</b> 会計部門セットの一部として、部署名の部門を含むこと。

<p><b>TODO:</b> 会計部門について、年月日を指定して、名称 (ラベル) だけ履歴を持てるようにする。
 

  <h3>関連会計部門</h3>

<p>本社スタッフなどは、所属部署以外の範囲のデータを扱える必要があります。

  
<p><b>TODO:</b> 所属部署のページと、アクセス権限のページを分ける.



  <h3>資格</h3>  

  ●●
  
