
<h1>Accounts Payable</h1>


<h2>支払依頼</h2>

<p>各部署で作成し、経理担当が承認する。

<p><b>TODO:</b>
<ul>
  <li>コメント欄
  <li>申請者の部署を変更できるようにする。リスト表示での部署別表示.
  <li>編集画面で, 明細行の右の[+]の挙動があやしい。下に行を足すべき。上に足すと、入力した行の繰り返しにならない。[+] で増えた行の消費税が"々"ではなく－になっている。
  <li>印刷後は、勘定科目を変更しても、消費税ママのほうがいいのでは？
</ul>

<ul>
  <li>検索機能。テキスト、請求書番号
  <li><s>取引先画面で, すべてのカンパニー分を一覧表示する必要はない。ユーザのデフォルトカンパニーだけでよい。</s> [2016-09-04] 対処した.
</ul>



<b>[BUG]</b> 最初の行に金額を入れず、2行目に金額を入れると、落ちる  

  　

  

<h2>輸入報告</h2>

<p>輸入消費税は、支払依頼とひもづけて、仮払消費税を発生する。

<p><b>TODO:</b> 修正申告を, 当初申告と紐付けて登録できるようにする。

<p><b>TODO:</b> 輸入報告のほうから請求書を紐付けできるようにする。ref_invoice アクションで、途中まで作りかけ.  
