
<h1>小口経費精算</h1>

<h2>概要</h2>

<p>今のところ, Concur Expense との連携のみ。

[[注意]] ネットスフィア経理フロントは, インターネット上に公開するような, セキュリティの考慮はありません。
このシステム自体を小口経費精算に使ってはいけません。



<p>SAEファイルなどが Concur の FTPサーバに置かれる。これを取ってくる。

  公開鍵で暗号化されているため、秘密鍵で復号する。

<p>データ形式の仕様については次を参照;

<ul>
  <li><a href="http://www.concurtraining.com/customers/tech_pubs/_Docs_ExpHelp.htm">Technical Documentation - Professional - Expense</a>
</ul>

<p>ここにある, "Standard Accounting Extract, Ver 3" および "Expense Pay: Expense Pay Extract".




<h2>準備・設定</h2>

設定ファイル
  concur-conf.rb.sample をコピーし, concur-conf.rb を作る

<p>ファイルを取ってくるときに, <kbd>gpg</kbd> コマンドを使っています。インストールと, 秘密鍵の設定をおこなう。

次の 2ファイルを crontab で実行する。

  <code>script/petty/concur_get_file.rb</code>
  <code>script/petty/import_petty_driver.rb</code>





<h2>経理 &gt; 小口グループ</h2>

<p>カンパニーを、事務所別など、小口現金を置く単位に分けます。

  
