

<h1>Accounts Receivable</h1>

<h2>自社銀行口座・現金マスタ</h2>

<p>販売請求書に表示する、自社の口座情報

<p>複数の口座 (カンパニーをまたいでもよい。) は、一つの勘定科目を共有してもよい。このマスタのactive / inactive は、紐付けする勘定科目で決まる。

<p><b>TODO:</b> 勘定科目を共有できる以上、active を勘定科目で決めるのは上手くない。

  
<p>取引先銀行口座マスタから、どれか一つを紐付けする。ちょっとエレガントではない。


  
<h2>請求書発行者マスタ</h2>

<p>カンパニーごとの、販売請求書の発行者名のマスタ。日本語と英語で二つ。

  

  
<h2>販売請求書</h2>

<p>雑請求をおこなうための機能。

<p>各部門で起票し、経理部門にて承認、発行する。

<p><b>TODO:</b>

<ul>
  <li>経理部門あてのメッセージ欄を作る
  <li>計上エリアの[+]ボタンは、次の行を追加するようにする
  <li>立替金の行を作る
</ul>


  
