
<h1>入出金</h1>

<p>会計システムで直接, 起票したものは、当然ですが表示されません。

<p>販売請求書による債権、(購買)請求書による債務を相殺します。

<p>credit memo によって, マイナスの債権、マイナスの債務もありえます。
  

  
  <h2>入金伝票</h2>

<p>入金口座は一つだけ。

<p>複数の債権、複数の債務の消し込みとして、相殺しながら入金可能。

<p>債権だけの場合は, 複数の取引先にまたいでもOK.

<p>相殺は, 一つの取引先 (債権・債務は複数可) に限る。
  




  <h2>出金伝票</h2>

<p>出金口座は複数可. 一部外貨 + 一部円貨を想定。

<p>複数の債権、複数の債務の消し込みとして, 相殺しながら出金登録可能。

<p>出金口座が複数の場合と, 相殺については、取引先 (債権・債務は複数可) は一つだけ可。

<p>出金口座が一つのみで, 債務の消し込みだけの場合は, 複数の取引先の債務でも可。

  
<p><b>TODO:</b>
<ul>
  <li>海外送金 (仕向送金) 時の、支払手数料を出金伝票で登録できるようにする。
</ul>

    
  
