
<h1>インストール方法</h1>


  <h2>必要な環境など</h2>

<ul>  
  <li>Linux / UNIX
  
  <li>Ruby 2.3以降

  <li>Ruby on Rails 4.2

  <li>PostgreSQL

  <li>passenger + nginx
    別のアプリケーションサーバを使うときは, <code>config/environments/production.rb</code> を修正してください。
    
  <li>wafu のサポートファイル   <a href="https://gitlab.com/netsphere/wafu">https://gitlab.com/netsphere/wafu</a>

  <li>Apache FOP -- 販売請求書の印刷に必要

  <li>日本語フォント
    config/fop-conf.xml ファイルで指定します。
</ul>



  <h2>セットアップ手順</h2>



<p>PostgreSQL でデータベースを作る。db ディレクトリに降りて,
  
<pre>
db$ <kbd>createdb -h localhost -U postgres --owner データベースユーザ --encoding UTF-8 keiri_front</kbd>
</pre>


<p>スキーマを作る。
  
<pre>
$ <kbd>cd db</kbd>    
$ <kbd>psql -h localhost -U データベースユーザ keiri_front</kbd>
Password for user データベースユーザ: <kbd>パスワード</kbd> 
psql (9.5.3)
Type "help" for help.

keiri_front=> <kbd>\i SETUP_SCHEMA.pgsql</kbd>
</pre>

<p>テーブルができているか確認。2017年1月現在、64テーブル。



<code>config/database.yml</code>ファイル:
<pre>
default: &amp;default
  adapter:  postgresql
  encoding: utf8

development:
  <<: *default
  host:     localhost
  database: keiri_front
  username: データベースユーザ
  password: パスワード
</pre>

  
<p>migration が全部 up になっているか確認。初期状態で全部upになるように, schema_migrations.sql でレコードを登録しています。

<pre>
$ <kbd>rake db:migrate:status</kbd>
</pre>

  

<p>config/initializers/messages-conf.rb ファイルを編集する。
  


<p>アプリケーションを起動し, 最初のユーザを作る. <kbd>rake db:seed</kbd> より前におこなうこと。

<pre>  
$ <kbd>passenger start</kbd>
</pre>

  
  http://localhost:3000/account/signup
  
<p>ここで作成したユーザは、所属部門が設定されていません。会計部門マスタを設定後、社員マスタからこのユーザを呼び出し, 所属部門を設定してください。

  

<p>seeds.rb を実行. 最初に必要な勘定科目が作成される。

<pre>  
$ <kbd>rake db:seed</kbd>
</pre>

