
<h1>マスタ管理</h1>



<h2>グローバルマスタ</h2>

  <h3>その他のマスタ管理(経理) &gt; 大域設定</h3>

<ul>
  <li>取引先コードの自動採番カウンタの初期値
  <li>デフォルトの部門集計木
</ul>

<p>部門集計木そのものは,「コストセンタ(部門集計木)」にて設定します。


  

  <h3>経理 &gt; 通貨マスタ</h3>


<p>機能通貨についても登録が必要。
  


  
  <h3>経理 &gt; カンパニー</h3>

  
<p>カンパニーには, 少なくとも一つ以上の会計部門をぶら下げる必要がある。=> 会計部門マスタの画面で設定。

<p>この画面では, 次の会計部門の設定をおこなう。

<ul>
  <li>送金手数料の計上部門 .. 入金/出金伝票で送金手数料を自社負担にする場合.
  <li>fallback部門 .. 仕訳のインポート時に, 会計部門が見つからないとき, これで置き換える
</ul>
  
<p>(セットアップ時) 会計部門マスタより先に, カンパニーを作成する。会計部門マスタを作った後に, この画面に戻って, fallback会計部門を登録。




  <h3>経理 &gt; 銀行</h3>
  
<p>一つ一つを手作業で登録するのは不毛です。最初は『金融機関・店舗情報CD-ROM』データを投入します。

  
  
  

<h2>ディメンション</h2>

<p>総勘定元帳は、年月日と、いろいろな dimension (次元) の交点に金額が計上される。

financial-frontでは、次の次元を持つ。


  <h3>次元2</h3>
  
<p>会計部門 - 次元2は, データとしては直交。しかし、実用上は大抵の場合, 会計部門の内訳のイメージで次元2を使う。そこで、会計部門にデフォルト次元2を設定する。

<p>先に次元2マスタを登録する。



  <h3>会計部門・コストセンタ</h3>

<p>(セットアップ時) 先に部門集計木・コストセンタから設定する。その後、会計部門を登録してください。

  
  
<p>(1) 会計部門はいずれか一つのカンパニーに属する。部門コードは, カンパニーを跨いでグローバルで一意でなければならない。

<p>会計部門は, 社員の所属部署としても使われる。
  
<p><b>TODO:</b> 年月日を指定して、名称 (ラベル) だけ履歴を持てるようにする。


  
<p>(2) 子会社がある場合、この子会社を含めて事業単位に括りなおして集計したい。

<p>部門集計木を複数作ることができ、この木はカンパニーをまたいで (というかすべてのカンパニーを) 集計する。

<p>集計木の各nodeをコストセンタといいます。会計部門は、それぞれの集計木のなかで、いずれかのコストセンタに集計されます。

  
<p><b>[制限事項]</b>
  現在のところ、ユーザインターフェイスの都合で、コストセンタの木 (tree) を作ることができません。コストセンタは、単に会計部門のグルーピングにとどまっています。



<p>それぞれの集計木には、かならず一つ以上コストセンタが必要。

<p>カンパニーを作った場合は, 会計部門の設定が終わったら、カンパニーに戻ってデフォルト会計部門を設定してください。

  




  <h3>勘定科目</h3>
  
<p>(セットアップ時) 最初に、(1) 売掛金・未収入金 (債権) 科目、(2) 買掛金・未払金 (債務) 科目、(3) 仮払消費税の, 3種類の勘定科目を作ってください。いずれも複数可。


<p>勘定科目は, カンパニーをまたいで共通です。
  
<p>資産取得・費用科目については、計上の際の相手科目として債務科目を選択します。

<p>同様に, 収益科目については、相手科目として債権科目から選択することができます。



  <h3>消費税・VAT</h3>
  
<p>税率が変わったときに、すべての収益・費用科目の設定を変更しなくていいように,「税グループ」に対して消費税・VATを設定します。

<p>勘定科目: 仮払消費税または仮受消費税の科目を選択。

<p><b>TODO:</b> 表示される科目が, 勘定科目マスタの消費税種別に限定されていない。



  <h3>元帳区分</h3>

  ●● TODO: 書く.

  



  

