<% @page_title = "仕訳の出力"
   @crumbs = [
     {:title => "小口伝票の一覧", :controller => "petty_expenses"}
   ] %>




<%= form_tag( {:action => "export_petty"}, :method => :get) do %>
<p><b>小口グループ:</b>
  <select name="petty_group">
    <%= options_for_select PettyGroup.find(:all).collect {|r| [r.name, r.id]},
                    @petty_group.id %>
  </select>
  <%= submit_tag '変更' %>
<% end %>


<hr />

<table border=0>
  <tr><th align="right" valign="top">小口グループ: 
    <td><%=h @petty_group.name %>

  <tr><th align="right">今回出力する会計伝票: <td><%= @size %>件
</table>


<p style="font-size:14pt;">
  <%= link_to "[出力]", 
        {:action => "export_petty2", :petty_group => @petty_group.id}, 
        :method => :post %>

  | <%= link_to "[完了]", {:action => "finish_export_petty", 
                                             :petty_group => @petty_group.id}, 
                :method => :post %>
</p>

<p><em style="color:red;font-weight:bold">正常に出力できたことを確認したら, 必ず「完了」ボタンを押してください。</em>


<table border="1" style="border-collapse:collapse;margin-top:1em">
  <tr>
    <th rowspan=2>伝票日
    <th rowspan=2>伝票番号
    <th colspan="5">借方
    <th colspan="5">貸方
    <th rowspan=2>金額
    <th rowspan=2>
    <th rowspan=2>消費税
    <th rowspan=2>摘要
    <th rowspan=2>期日
  <tr><th colspan="2">勘定科目<th>会計部門<th>取引先 <th>社員
    <th colspan="2">勘定科目<th>会計部門<th>取引先 <th>社員
<% @entries.each {|line| %>
<tr>
  <td><%= line[:entry_day] %>
  <td><%= line[:entry_no] %>

  <td><%=h "#{line[:dr_account_title] ? line[:dr_account_title].account_code : 0} #{line[:dr_account_title] ? line[:dr_account_title].main_name : nil}" %>
  <td><%= line[:dr_account_title] ? line[:dr_account_title].suppl_code : nil %>
  <td><%=h line[:dr_division] ? "#{line[:dr_division].division_code} #{line[:dr_division].name}" : nil %>
  <td><%= line[:dr_partner_code] %>
  <td><%= line[:dr_worker_code] %>

  <td><%=h "#{line[:cr_account_title] ? line[:cr_account_title].account_code : 0} #{line[:cr_account_title] ? line[:cr_account_title].main_name : nil}" %>
  <td><%= line[:cr_account_title] ? line[:cr_account_title].suppl_code : nil%>
  <td><%=h line[:cr_division] ? "#{line[:cr_division].division_code} #{line[:cr_division].name}" : nil %>
  <td><%= line[:cr_partner_code] %>
  <td><%= line[:cr_worker_code] %>

  <td align="right" nowrap><%= format_amount(line[:amount], 0) %>
  <td>
  <td><%= line[:vat] %>
  <td><%=h line[:remarks] %>
  <td><%= line[:due_day] %>
<% } %>
</table>
