<% @entries.each {|line| %><%= utf2sjis([
  line[:entry_day].strftime("%Y/%m/%d"),  # 伝票日付
  line[:entry_no],
  # 借方
  line[:dr_account_title] ? line[:dr_account_title].account_code : 3999,
  line[:dr_account_title] ? line[:dr_account_title].suppl_code : nil,
  line[:dr_division] ? line[:dr_division].division_code : nil,
  line[:dr_partner_code], 
  line[:dr_worker_code],
  # 貸方
  line[:cr_account_title] ? line[:cr_account_title].account_code : 3999,
  line[:cr_account_title] ? line[:cr_account_title].suppl_code : nil,
  line[:cr_division] ? line[:cr_division].division_code : nil,
  line[:cr_partner_code],
  line[:cr_worker_code],

  line[:amount].to_i,
  nil,
  line[:vat],
  '"' + line[:remarks] + '"',
  (line[:due_day] ? line[:due_day].strftime("%Y/%m/%d") : nil),
  3, # 振替伝票
  line[:created_by].worker_code
].join(',')).html_safe %>
<% } %>
