
<% # @param @payment_slip  入金/出金伝票
   # @param currency 
   # @param [Array] @cash_records 現金勘定
  %>


<% if @payment_slip.slip_type == 1
     # 入金伝票
     lines = 1
   else
     x_ = Payment.where("payment_slip_id = ?", @payment_slip.id) \
            .joins("LEFT JOIN invoices ON payments.invoice_id = invoices.id") \
            .select("COUNT(DISTINCT invoices.partner_id) as cnt") \
            .order("") \
            .first
     partner_count = x_ ? x_.cnt.to_i : 0

     lines = partner_count <= 1 ? 5 : 1
   end %>

<p>※ 銀行口座の通貨が債務のそれと同じ場合は、債務の充当額は自動計算されます。

<p>※ 金額は, 正値で入力してください。

<% our_banks = OurBank.grouped_list @payment_slip.company %>

<%= hidden_field_tag :cash_lines, lines %>

<table>
  <tr>
    <th>口座
    <th><%= @payment_slip.slip_type == 1 ? "入金" : "出金" %>額(口座の通貨) 
    <th><%= @payment_slip.slip_type == 1 ? "債権" : "債務" %>の充当額
  </tr>
<%   (0..(lines - 1)).each {|lineno| 
       cash_line = @cash_records[lineno] || PaymentBank.new
  %>
<%= fields_for( "payment_bank#{lineno + 1}", cash_line ) do |f| %>
  <tr>
    <td><%= tag "select", :name => "payment_bank#{lineno + 1}[our_bank]" %>
        <%= grouped_options_for_select our_banks, 
                    (cash_line.our_bank ? cash_line.our_bank.id : nil) %>
      </select>
    <td><%= f.text_field :cash_amount, 
               :value => edit_amount((@payment_slip.slip_type == 1 ?
                                     cash_line.cash_amount : -(cash_line.cash_amount || 0)), 
                         cash_line.our_bank ? cash_line.our_bank.currency.exponent : 0), 
                        :size => 12 %>
    <td><%= f.text_field :inv_amount,
            :value => edit_amount(cash_line.inv_amount, 
                                                      currency.exponent),
            :size => 12 %>
<%     end %>
<%   } %>
</table>

