
<% # 入金/出金伝票 - 回収した債権
   # 印刷するので, 枠線を書く
   #     @param @payment_slip 入金伝票
  %>


  <h3>(1) 取引先</h3>

<% amount_total = 0
   charge_total = 0
   inv = nil
   si_receivings = Receiving.find(:all, 
           :conditions => ["cash_slip_id = ? AND sales_invoice_id IS NOT NULL", @payment_slip.id])

   if !si_receivings.empty? %>

<table style="border-collapse:collapse;">
  <tr style="border-top:solid 1px black">
    <th>相手先 <th nowrap>請求書# <th>内容 (1行目) <th> 
    <th colspan="2">今回回収額<br />(債権消込み額)
    <th colspan="2">未入金残額
    <th nowrap>当方負担<br />手数料(円) 
    <th>
  </tr>

<% si_receivings.each_with_index do |r, i| 
     amount_total += r.amount
     charge_total += r.charge 
     inv = r.sales_invoice 
     # 承認前の状態でも, ここでは減算する
     remain = inv.remain_amount(:except_receiving => @payment_slip) -
                  ((@payment_slip.receivings.map do |x| x.sales_invoice.id == inv.id ? x.amount : 0 end).reduce do |result, item| result + item end) %>

  <tr style="border-top:solid 1px #666">
    <td><%=h inv.partner.name %>
    <td><%=h inv.si_number %>
    <td><%=h inv.si_journals.first.remarks %>
    <td nowrap>
<% if params[:action] == "show" %>
      <%= link_to "[詳細]", :controller => "sales_invoices", 
                                           :action => "show", :id => inv %>
<% end %>
    <td nowrap align="right" style="border-right:hidden;"><%= format_amount(r.amount, r.currency.exponent) %>
    <td nowrap><%=h r.currency.code %>
    <td nowrap align="right" <%= remain != 0 ? raw("style='border:solid #ff6666; border-width:3px 0 3px 3px; border-right:hidden'") : raw("style='border-right:hidden;'") %>>
      <%= format_amount(remain, inv.currency.exponent) %>
    <td nowrap <%= remain != 0 ? raw("style='border:solid #ff6666; border-width:3px 3px 3px 0;'") : nil %>><%=h inv.currency.code %>

    <td nowrap align="right" <%= r.charge != 0 ? raw("style='border:solid 3px #ff6666'") : nil %>><%= format_amount(r.charge, 0) %>

<%   if params[:action] == "show" && @payment_slip.state < 20 %>
    <td nowrap>
      <%= link_to '[削除]', 
               {:controller => "receiving_slips", :action => 'destroy_receiving',
                :id => @payment_slip, :receiving => r}, 
               :data => {:confirm => '本当に削除しますか？'}, :method => :post %>
<%   end %>
  </tr>
<% end %>
  <tr>
    <th colspan="4" align="right">合計:
    <td align="right" style="font-size:14pt; border-top:solid 2px black; border-right:hidden;">
      <%= inv.nil? ? "-" : format_amount(amount_total, inv.currency.exponent) %>
    <td>
    <td style="border-right:hidden;"><td>
    <td align="right" style="border-top:solid 2px black;"><%= format_amount(charge_total, 0) %>
    <td>
</table>

<% end %>
