
<% # 出金伝票 > 社員
   # @param petty_pays 社員支払いの配列
  %>

<table>
  <tr><th align="right">バッチID: <td><%= petty_pays.first.demand_batch_id %>
  <tr><th align="right">締め日: <td><%= petty_pays.first.demand_batch_close_date %>
</table>

<table border="0" style="border-collapse:collapse; border-top:solid 1px black">
  <tr style="border-bottom:1px solid black">
    <th>社員
    <th>小口伝票
    <th colspan="2">金額
<% pay_total = 0 
   petty_pays.each do |pay| 
     pay_total += pay.amount %>
  <tr style="border-top:1px solid #999">
    <td><%= pay.user.name %>

    <td>
<% if pay.cash_advance_id %>
      仮払い <%= pay.cash_advance.ca_key %>
<% else %>
      経費精算 <%= link_to pay.expense.report_id, 
                         :controller => "petty_expenses", :action => "show", 
                         :id => pay.expense %>
<% end %>

    <td align="right" nowrap>
      <%= format_amount(pay.amount, pay.currency.exponent) %>
    <td><%= pay.currency.code %>
<% end %>

  <tr style="border-top:1px solid black; border-bottom:1px solid black">
    <th colspan="2" align="right">合計: 
    <td nowrap align="right"><%= format_amount(pay_total, petty_pays.first.currency.exponent) %>
    <td>
</table>
