
<% # 支払う債務 > 取引先
   # @param currency 債務の通貨
  %>

<% amount_total = 0 
   inv = nil %>

<table style="border-collapse:collapse; margin-top:1em; border-top:solid 1px black">
  <tr style="border-bottom:solid 1px black">
    <th>相手先<th nowrap>請求書#<th>内容 (1行目)<th> <th colspan="3">今回支払額
    <th colspan="2">未払残額
  </tr>
<% prev_inv = nil
   @payment_slip.payments.each_with_index {|r, i|
     amount_total += r.amount 
     # 継続行
     if inv && inv.id == r.invoice.id %>
  <tr>
    <td>
    <td>
    <td>
    <td>
<%   else
       inv = r.invoice %>
  <tr>
    <td><%= inv.partner.name %>
    <td><%= inv.invoice_no %>
    <td><%= inv.first_detail_remarks %>
    <td nowrap>
<% if controller.action_name != "print" %>
      <%= link_to "[詳細]", :controller => "invoices", 
                                            :action => "show", :id => inv %>
<% end %>
<%   end %>

    <td><%= r.account_title.name %>
    <td nowrap align="right"><%= format_amount(r.amount, r.currency.exponent) %>
    <td nowrap><%= r.currency.code %>
<%   if prev_inv && prev_inv.id == inv.id %>
    <td> <td>
<%   else 
       # 承認前の状態でも、ここでは減算する
       remain_amount = inv.remain_amount(:except_payment => @payment_slip) - 
                            ((@payment_slip.payments.map do |x| x.invoice.id == inv.id ? x.amount : 0 end).reduce do |result, item| result + item end) %>

    <td nowrap align="right" <%= remain_amount != 0 ? "style='border:solid red 3px'".html_safe : nil %> >
      <%= format_amount(remain_amount, inv.currency.exponent) %>
    <td nowrap><%= inv.currency.code %>
<%   end %>

<%   if can_edit %>
    <td nowrap><%= link_to "[削除]", {:action => "destroy_line", :id => @payment_slip, :line => r}, 
                           :data => {:confirm => "本当に削除しますか？"},
                           :method => :post %>
<%   else %>
    <td nowrap><span style="color:gray;">[削除]</span>
<%   end %>
  </tr>
<%   prev_inv = inv 
   } %> 
  <tr>
    <th colspan="5" align="right">合計:
    <td nowrap align="right" style="border-top:solid 1px black"><%= format_amount(amount_total, currency.exponent) %>
</table>
