
<% # 入金伝票 - 回収した債権 - 社員
   # @param petty_paybacks [array of Receiving] 小口精算の入金
  %>

<table class="table table-condensed" >
  <tr>
    <th>社員
    <th>小口伝票
    <th colspan="2">金額
<% petty_paybacks.each do |r| %>
  <tr>
    <td nowrap class="col-sm-2"><%= r.petty_expense.user.worker_code %>
      <%= r.petty_expense.user.name %>
    <td><%= r.petty_expense.report_id %>
    <td align="right" nowrap class="col-sm-2">
      <%= r.petty_expense.receivable_amount_total %>
    <td nowrap class="col-sm-1"><%= r.petty_expense.reimb_currency.code %>
    <td><%= link_to "[詳細]", :controller => "petty_expenses", 
                             :action => "show", :id => r.petty_expense %>
<% end %>
</table>

