
<% # 入金/出金伝票 > 入金額/出金額
   # @param @payment_slip 入出金伝票
   # @param currency 債務の通貨. 先に預金口座から入れると, ナル値. 
   # @param inv_ttl  債務の合計額
  %>



<% cashout_ttl = {} %>


<table style="border-collapse:collapse; border-top:solid 1px black">
  <tr style="border-bottom:solid black 1px">
    <th>口座
    <th colspan="2"><%= @payment_slip.slip_type == 1 ? "入金" : "出金" %>額 (口座の通貨)
<% if currency %>      
    <th colspan="3">債務の充当額
<% end %>      
<% @payment_slip.payment_banks.each do |r| 
     if currency && (r.inv_amount.to_f / 10 ** currency.exponent) != 0.0
       rate = (r.cash_amount.to_f / (10 ** r.our_bank.currency.exponent)) /
              (r.inv_amount.to_f / 10 ** currency.exponent) 
     else
       rate = nil 
     end 
     cashout_ttl[r.our_bank.currency.code] = 
                  (cashout_ttl[r.our_bank.currency.code] || 0) + r.cash_amount
  %>
  <tr>
    <td>[<%= r.our_bank.account_title.account_code %>/<%= r.our_bank.account_title.suppl_code %>] <%= r.our_bank.name %>
    <td align="right">
      <%= format_amount( (r.cash_amount >= 0 ? r.cash_amount : -r.cash_amount), 
                         r.our_bank.currency.exponent) %>
    <td nowrap><%= r.our_bank.currency.code %>
<%   if currency %>      
    <td align="right"><%= format_amount(r.inv_amount, currency.exponent) %>
    <td nowrap><%= currency.code %>
    <td>@<%= rate ? (rate * 10000.0).round / 10000.0 : "-" %>
<%   end %>      
<% end %>

  <tr style="border-top:solid 1px black; border-bottom:solid 1px black">
    <th align="right">合計: 
    <td align="right" style="border-top:solid 1px black"><%= cashout_ttl.map {|curr, amt| format_amount(amt, Currency.find_by_code(curr).exponent) }.join("<br />").html_safe %>
    <td>
<% if currency %>      
    <td align="right" style="border-top:solid 1px black"><%= format_amount(inv_ttl, currency.exponent) %>
    <td>
    <td>
<% end %>
</table>
