
<% # @param @payment_slip  入金/出金伝票
   # @param [Array] @cash_records 現金勘定
  %>



<% slip_type = @payment_slip.slip_type == 1 ? "入金" : "出金" %>

<% @page_title = slip_type + "の更新" %>


<% inv_currency = @payment_slip.inv_currency %>



<h2>支払う債務</h2>

<%= render :partial => "show_payables", 
                  :locals => {:can_edit => false, :currency => inv_currency} %>



<h2>出金</h2>

<%= form_tag( {:action => "update_cash", :id => @payment_slip}, 
                                               :method => :post) do |f| %>
  <%= render :partial => "edit_cash", 
                         :locals => {:currency => inv_currency, :f => f} %>

<p><%= link_to "[キャンセル]", :action => "show", :id => @payment_slip %>
  <%= submit_tag "更新" %>
<% end %>
