

<h1>出金伝票 (ヘッダ) の編集</h1>

<%= form_for @payment_slip, :url => {:action => "update", :id => @payment_slip} do |f| %>
  <%= f.error_messages %>

<table>
  <tr><th align="right" nowrap>カンパニー: 
    <td><%= @payment_slip.company.name %> 
  <tr><th align="right">日付: 
    <td><%= date_select2 "payment_slip", "date" %>
</table>

<p><%= link_to 'キャンセル', :action => "show", :id => @payment_slip %>
 <%= f.submit '更新' %>
</p>
<% end %>



