
<% slip_type = @payment_slip.slip_type == 1 ? "入金" : "出金"
   @page_title = "新しい#{slip_type}" %>



<% if @error %>
<div id="errorExplanation">
  <%= @error %>
</div>
<% end %>


<%= form_for :payment_slip, 
             :url => {:action => "create"}, 
                      :method => :post, :html => {:class => "well"} do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :slip_type %>

<table>
  <tr><th align="right" nowrap>カンパニー: <td><%= @company.name %> <%= hidden_field_tag "company", @company.id %>
  <tr><th align="right">日付: <td><%= date_select2 "payment_slip", "date" %>

<% if @petty_pay %>
  <tr>
    <th align="right">小口精算の支払い:
      <td><%= @petty_pay %>
        <%= hidden_field_tag "petty_pay", @petty_pay %>
<% end %>


<% if @petty_payback %>
  <tr>
    <th align="right">小口精算の会社への返金: 
    <td><%= @petty_payback.report_id %> <%= @petty_payback.report_name %>
      <%= hidden_field_tag "petty_payback", @petty_payback.id %>
<% end %>


</table>




  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
<% if @petty_payback %>
      <%= link_to "キャンセル", :controller => "petty_expenses",
                              :action => "show", :id => @petty_payback %>
<% else %>
      <%= link_to 'キャンセル', :controller => "receiving_slips", 
                                  :action => "list", :company => @company %>
<% end %>
      <button type="submit" class="btn btn-primary">作成</button>
    </div>
  </div>

<% end %>

