
<% slip_type = @payment_slip.slip_type == 1 ? "入金" : "出金" %>

<a href="/">トップ</a> &gt;
<a href="/receivings">債権管理</a> &gt;




<p align="right">印刷: <%= format_time(Time.now) %></p>
<h1 class="slip"><%= slip_type %>伝票
  <%= @payment_slip.state == 30 ? " [cancelled]" : nil %>
</h1>


<div align="right">
<table border="1" cellspacing="0" cellpadding="3" style="border-collapse:collapse;border:solid black 1px;">
  <tr><td width=60> 照合 <td width=60 nowrap> 経理承認
  <tr style="height:40pt"><td>     <td> 
</table>
</div>




<table>
  <tr><th align="right">作成者: 
    <td><%= User.find(@payment_slip.create_user_id).name %>
  <tr><th align="right" nowrap>カンパニー:<td><%= @payment_slip.company.name %>
  <tr><th align="right">日付: <td><%= @payment_slip.date %>
</table>

  


<% if !@payment_slip.payments.empty? 
     inv_currency = @payment_slip.payments.first.currency 
   elsif !@petty_pays.empty?
     inv_currency = @petty_pays.first.currency 
   elsif !@payment_slip.receivings.empty?
     inv_currency = @payment_slip.receivings.first.currency
   end %>



<% # 支払う債務の額
   amount_total = 0
   @payment_slip.payments.each do |r|
     amount_total -= r.amount
   end
   @petty_pays.each do |r|
     amount_total -= r.amount 
   end
   @payment_slip.receivings.each do |r|
     amount_total += r.amount
   end

   # 出金セクションの, 債務の充当額
   inv_ttl = 0
   @payment_slip.payment_banks.each do |r|
     if r.cash_amount >= 0
       inv_ttl += r.inv_amount
     else
       inv_ttl -= r.inv_amount
     end
   end %>


<% if !@payment_slip.receivings.empty? %>
<h2>回収した債権</h2>   

  <%= render :partial => "receivings" %>
<% end %>




<% if !@payment_slip.payments.empty? || !@petty_pays.empty? %>
<h2>支払う債務</h2>

<%   if !@payment_slip.payments.empty? %>
  <h3>(1) 取引先</h3>

  <%= render :partial => "show_payables",
           :locals => {:can_edit => false, :currency => inv_currency} %>
<%   end %>



<%   if !@petty_pays.empty? %>
  <h3>(2) 社員</h2>

  <%= render :partial => "show_petty_pays",
             :locals => {:petty_pays => @petty_pays} %>
<%   end %>
<% end %>






<% # 入金/出金 ################################################################
  %>
<h2><%= slip_type %></h2>

<%= render :partial => "slip_cash_out", 
           :locals => {:currency => inv_currency, :inv_ttl => inv_ttl} %>



<% if amount_total != inv_ttl %>
<p><em style="color:red; font-size:20pt">Error: 債務の消込み額と出金額が違います！！</em>
<% end %>


<p>----------<br />
※ 債務の通貨と出金口座の通貨が異なる場合は, 出金額が記載された計算書などを添付のこと。
