<% # -*- coding:utf-8;mode:html -*- 
  %>

<h1>債務の消込み</h1>

<table>
  <tr><th align="right" nowrap>カンパニー: 
    <td><%=h @company.name %>
  <tr><th align="right">入金日:
    <td><%= @payment_slip.date %>
  <tr><th align="right">債務の通貨:
    <td><%= @currency.name %>
  <tr><th align="right">取引先:
    <td><%= @ar_partner ? @ar_partner.name : nil %>	  
</table>



<%= form_tag({:action => 'remain', :id => @payment_slip}, :method => 'get') do %>
  <%= hidden_field_tag "currency", @currency.id %>
<% if @ar_partner %>
  <%= hidden_field_tag "ar_partner", @ar_partner.id %>
<% end %>
  
<table style="margin-top:1em">
  <tr><th align="right">期日: <td><%= date_select2 'due', 'day' %> より以前で支払い完了していないもの <%= submit_tag 'フィルタ' %>
</table>
<% end %>


<div style="margin:1em 0 1em 0;background-color:#e5ecf9;border-top:solid 1px #0000cc; padding:2px">
期日が <b><%= @due_day %></b> 以前で未払いのもの:
</div>


<p>※支払依頼で日本の銀行口座が選択されているものは表示されません。



<%= form_tag( {:action => 'add_lines', :id => @payment_slip}, 
                                                    :method => 'post' ) do %>

<table>
  <tr>
    <th>取引先
    <th>請求書#
    <th>内容 (1行目)
    <th nowrap>支払期日
    <th>
    <th>残金
    <th>今回支払額
  </tr>

<% today = Date.today
   for inv in @invoices 
     inv = Invoice.find inv.id %>
  <tr bgcolor="<%= cycle("white", "#d0f0d0") %>">
    <td><%=h inv.partner.name %>
    <td><%=h inv.invoice_no %>
    <td><%= inv.first_detail_remarks %>
    <td><% if inv.due_day < today %>
<b style="color:#ff3300"><%= inv.due_day %></b>
<% else %>
<%= inv.due_day %>
<% end %>
    <td nowrap><%= link_to "[詳細]", {:controller => 'invoices', :action => 'show', :id => inv.id}, :target => "_" %>

    <td align="right" nowrap><%= format_amount(inv.remain_amount, inv.currency.exponent) %>
    <td><%= text_field_tag "inv[#{inv.id}][amount]", nil, :size => 12 %>
  </tr>
<% end %>
</table>

<p><%= link_to 'キャンセル', :action => 'show', :id => @payment_slip %> 
  <%= submit_tag '追加' %>
<% end # of form_tag %>


