
<% # @param @payment_slip 入金/出金伝票
   # @param @cash_records 現金勘定 ... edit_cash.html.erbで使用
  %>


<% slip_type = @payment_slip.slip_type == 1 ? "入金" : '出金' 
   @page_title = slip_type
   @page_title += " [cancelled]" if @payment_slip.state == 30
   @crumbs = [
     {:controller => 'receiving_slips', :action => 'list', 
                                         :company => @payment_slip.company, 
                     :title => '入出金の一覧' },
   ] %>

<% if @payment_slip.state < 10 ||
              current_user.has_role?(:keiri) && @payment_slip.state < 30
     can_edit = true
   end
   
   if @payment_slip.state == 20 
     can_cancel = true
     confirm_msg = {:confirm => "編集しますか？ 会計システム連動済みです。会計システムのデータは手動で更新してください。"}
   end %>


<table>
  <tr><th align="right" nowrap>カンパニー:<td><%= @payment_slip.company.name %>
  <tr><th align="right">日付: <td><%= @payment_slip.date %>
</table>

<p><%= link_to '[編集...]', :action => "edit", :id => @payment_slip %> |
<% if @payment_slip.state < 20 %>
  <%= link_to '[削除]', { :action => 'destroy', :id => @payment_slip }, 
                        :data => {:confirm => 'Are you sure?'}, :method => 'post' %>
<% elsif can_cancel %>
  <%= link_to "[Void this]", {:action => "cancel_slip", :id => @payment_slip},
            :data => {:confirm => "本当にvoidしますか? 会計システムのデータは手動で取り消してください。"}, 
            :method => :post %>
<% else %>
  <span style="color:gray;">[削除]</span>
<% end %>




<% petty_pays = PettyPay.find(:all, 
                     :conditions => ["cash_slip_id = ?", @payment_slip.id],
                     :order => "user_id, id")
   # 回収した債権の内数
   petty_paybacks = Receiving.find :all,
                      :conditions => ["cash_slip_id = ? AND petty_expense_id IS NOT NULL", @payment_slip.id]

   # エラーチェック
   amount_total = 0
   inv_ttl = 0

   # 回収した債権/支払う債務の額
   @payment_slip.payments.each do |r|
     amount_total -= r.amount
   end
   petty_pays.each do |r|
     amount_total -= r.amount 
   end
   @payment_slip.receivings.each do |r| # 取引先と小口精算を兼ねる.
     amount_total += r.amount
   end

   # 出金セクションの, 債務の充当額
   @payment_slip.payment_banks.each do |r|
     if r.cash_amount >= 0
       inv_ttl += r.inv_amount
     else
       inv_ttl -= r.inv_amount
     end
   end %>

<% if !@payment_slip.payments.empty? || !@payment_slip.petty_pays.empty? ||
      !@payment_slip.receivings.empty? %>
<p><%= link_to "[#{slip_type}伝票の印刷]", :action => "print",
               :id => @payment_slip %> |

<%   if @payment_slip.state < 10 && amount_total == inv_ttl %>
  <%= link_to "[承認]", {:action => "sign_off", :id => @payment_slip}, 
                        :method => :post %>
<%   else %>
  <span style="color:gray">[承認]</span>
<%   end %>
<% else %>
<p><span style="color:gray"><%= "[#{slip_type}伝票の印刷]" %></span> |
  <span style="color:gray">[承認]</span>
<% end %>
  


<% if amount_total != inv_ttl %>
<p style="color:red; font-weight:bold; font-size:12pt;">債務の合計と出金金額が違います.
   債権・債務 = <%= amount_total %>; 入金/出金セクションの充当額 = <%= inv_ttl %>
</p>
<% end %>






<% # 1行でも債権・債務があるときは, 債権・債務の両方の通貨を固定する
   # 相殺は, 同時には1社しかできない
   inv_currency = @payment_slip.inv_currency

   if !@payment_slip.payments.empty? 
     ap_partner = @payment_slip.payments.first.invoice.partner
   elsif !@payment_slip.receivings.empty?
     ar_partner = @payment_slip.receivings.first.sales_invoice ? 
                     @payment_slip.receivings.first.sales_invoice.partner :
                     nil
   end %>





<% #########################################################################
  %>
<h2>1.回収した債権</h2>

<%= render :partial => "receivings" %>

<% if can_edit && @ap_partner_count <= 1 && petty_pays.empty? && 
      petty_paybacks.empty? %>
    <h4>■債権消し込みの追加:</h4>

  <%= form_tag({:controller => "receiving_slips", :action => "remain", 
              :id => @payment_slip}, 
             :method => :get) do %>
<%   if inv_currency %>
[通貨 = <%= inv_currency.name %>] 
<%     if ap_partner %>
[取引先 = <%= ap_partner.name %>]
<%     end %>
  <%= link_to "[債権を追加する...]", {:controller => "receiving_slips", 
         :action => "remain", :id => @payment_slip, :currency => inv_currency,
         :ap_partner => ap_partner},
         :data => confirm_msg %>
<%   else 
       # まだ通貨が固まっていない
  %>
  <select name="currency">
    <%= options_for_select Currency.find(:all).collect {|cur| [cur.name, cur.id]} %>
  </select>
  <input type="submit" value="債権を追加する..." />
<%     end %>
<%   end %>
<% end %>


  <h3>(2) 社員</h3>

<% if !petty_paybacks.empty? %>
  <%= render :partial => "show_petty_paybacks", 
             :locals => {:petty_paybacks => petty_paybacks} %>
<% end %>







<% #########################################################################
  %>
<h2>2.支払う債務</h2>

  <h3>(1) 取引先</h3>

<% if !@payment_slip.payments.empty? %>
  <%= render :partial => "show_payables", 
               :locals => {:can_edit => can_edit, :currency => inv_currency} %>
<% end %>


<% if can_edit && @ar_partner_count <= 1 && petty_pays.empty? && 
      petty_paybacks.empty? %>
    <h4>■支払い行の追加:</h4>

  <%= form_tag( {:action => "remain", :id => @payment_slip}, 
                :method => :get) do %>
<%   if inv_currency %>
[通貨 = <%= inv_currency.name %>]
<%     if ar_partner %>
[取引先 = <%= ar_partner.name %>]
<%     end %>
<%= link_to "[債務を追加する...]", 
        {:action => "remain", :id => @payment_slip, :currency => inv_currency,
         :ar_partner => ar_partner},
        :data => confirm_msg %>
<%   else 
       # まだ通貨が固まっていない
  %>
  <select name="currency">
    <%= options_for_select Currency.find(:all).collect {|cur| [cur.name, cur.id]} %>
  </select>
  <input type="submit" value="債務を追加する..." />
<%     end %>
<%   end %>
<% end %>




  <h3>(2) 社員</h3>

<% if !petty_pays.empty? %>
  <%= render :partial => "show_petty_pays", 
             :locals => {:petty_pays => petty_pays} %>
<% end %>



<% # 入金/出金 ################################################################
  %>
<h2>3.<%= slip_type %></h2>


<% # ネット表示
  %>
<% if inv_currency %>
<table class="table" >
  <tr><th align="right">債権・債務の額(純額; 債権側がプラス): 
    <td nowrap style="background-color:#ccffff"><%= format_amount(amount_total, inv_currency.exponent) %>
      <%= inv_currency.code %>
</table>
<% end %>




<%= error_messages_for :payment_slip %>

  <%= render :partial => "slip_cash_out", 
             :locals => {:currency => inv_currency, :inv_ttl => inv_ttl} %>

<% if !(@payment_slip.payments.empty? && petty_pays.empty? && 
        @payment_slip.receivings.empty?) %>

<%   if @payment_slip.state < 10 %>
    <h4>■<%= slip_type %>を更新:</h4>
  <%= form_tag( {:action => "update_cash", :id => @payment_slip}, 
                                               :method => :post) do |f| %>
  <%= render :partial => "edit_cash", 
             :locals => {:currency => inv_currency, :f => f} %>
<p><%= submit_tag "更新" %>
<% end %>

<%   elsif @payment_slip.state >= 10 && @payment_slip.state <= 20 %>
<p><%= link_to "[#{slip_type}を更新...]", 
              {:action => "edit_cash", :id => @payment_slip},
              :data => confirm_msg %>
<%   else %>
<p><span style="color:gray">[<%= slip_type %>を更新...]</span>
<%   end %>


<% end %>














<h2>履歴</h2>

<p>created by <%=h User.find(@payment_slip.created_by).name %> at <%= format_time @payment_slip.created_at %>

<% logs = RsLog.find :all, 
             :conditions => ["payment_slip_id = ?", @payment_slip.id],
             :order => "done_at" %>
<% logs.each {|log| %>
<p><%= RsLog::KIND_NAMES[log.kind] %> by <%= log.done_by.name %>
  at <%= format_time log.done_at %> <%= log.remarks %>
<% } %>

<% if @payment_slip.state == 20 %>
<p><em>会計システム連動済み</em>; <b>計上日:</b> <%= @payment_slip.date %>, exported at <%= @payment_slip.journal_export_at %>
<% end %>
