<% # -*- coding:utf-8 -*-
   @page_title = "仮払申請"
   @crumbs = [
     {:controller => "petty_expenses", :action => "index", 
                                                   :title => "小口伝票の一覧"}
] %>

<table>
  <tr><th align="right">CA Key:<td><%= @cash_advance.ca_key %>
  <tr><th align="right">申請者: 
    <td><%= @cash_advance.user.worker_code %>
      <%= @cash_advance.user.name %>
  <tr><th align="right">小口グループ: <td><%= @cash_advance.petty_group.name %>
  <tr><th align="right">本人提出日: <td><%= @cash_advance.submit_date %>
  <tr><th align="right">経理承認日: <td><%= @cash_advance.processing_date %>
  <tr><th align="right">金額: 
    <td nowrap><%= @cash_advance.journal_amount %>
      <%= @cash_advance.reimb_currency.code %>
</table>





<h2>支払い</h2>

<table>
<% @cash_advance.pays.each do |pay| %>
  <tr>
    <td><%= pay.demand_batch_close_date %>
    <td><%= link_to pay.demand_batch_id,
                        :controller => "petty_pays", :action => "list",
                        :batch_id => pay.demand_batch_id %>
    <td align="right" nowrap><%= pay.amount %> <%= pay.currency.code %>
<% end %>
</table>


<h2>経費精算 (使用)</h2>

<table class="table table-condensed">
  <tr>
    <th>Report ID
    <th>レポート名
    <th colspan="2">金額
    
<% @cash_advance.ca_offsets.each do |ca_offset| %>
  <tr>
    <td><%= ca_offset.expense.report_id %>
    <td><%= ca_offset.expense.report_name %>
    <td nowrap align="right"><%= ca_offset.amount %>
    <td nowrap><%= ca_offset.currency.code %>
<% end %>
</table>




