<% # -*- coding:utf-8; mode:html -*- 
  %>

  <tr><th align="right">Active: <td><%= check_box "company", "active" %>
  <tr><th align="right">名前: <td><%= text_field 'company', 'name', :size => 60 %>
  <tr><th align="right">Name (en): <td><%= text_field 'company', 'name_en', :size => 60 %>

  <tr><th align="right">国: <td><%= text_field "company", "country", :size => 4 %> 2文字コード. ex) "JP"

  <tr><th align="right">機能通貨: 
    <td><%= collection_select 'company', 'currency_id', Currency.all, :id, :name %>

  <tr><th align="right">販売請求書カウンタ: 
    <td><%= text_field 'company', 'si_counter', :size => 12 %>
  <tr><th align="right" nowrap>請求書フッタ:
    <td><%= text_area 'company', 'si_footer', :rows => 5 %>
  <tr><th align="right">請求書ロゴ:
    <td><%= file_field 'company', 'logo_image' %> (変更する場合のみ)
  <tr><th align="right">登録番号: 
    <td><%= text_field 'company', 'tax_reg_number', :size => 14 %> 適格請求書発行事業者登録番号.「T」＋法人番号の14桁
