
<h1>カンパニーの編集</h1>

<%= form_tag( {:action => 'update', :id => @company}, :multipart => true, :class => "well") do %>
<%= error_messages_for 'company' %>

<table>
  <%= render :partial => 'form' %>

  <tr><th align="right">送金手数料の計上部門:
    <td><select name="bank_division_id">
<%= options_for_select( @divisions.collect {|r| [r.name2, r.id]}, 
                        @company.company_setting ? 
                            @company.company_setting.bank_division_id : nil ) %>
      </select>

  <tr><th align="right">fallback部門:
    <td><select name="fallback_division_id">
<%= options_for_select( @divisions.collect {|r| [r.name2, r.id]}, 
                  @company.company_setting ? 
                      @company.company_setting.fallback_division_id : nil ) %>
      </select>
</table>

<p><%= link_to 'キャンセル', :action => 'show', :id => @company %> 
  <%= submit_tag '更新' %>
<% end %>

