
<h1>締め処理</h1>

<%= form_tag :action => 'gl_fix2', :id => @company do %>
<%= error_messages_for 'company' %>

<p>会計システムへの連携の際,「確定済みの決算日」当日またはそれ以前の日付の伝票は,「確定済みの決算日」の翌日の計上日になります。

<p>「伝票に表示〜」のほうは、印刷される伝票に表示される日付を、前もって変えるために使います。
  
<table>
  <tr><th align="right">伝票に表示する確定日: 
    <td><%= date_select2 'company', 'fixed_day' %>
  <tr><th align="right">確定済みの決算日: 
    <td><%= date_select2 'company', 'fixed_gl_day' %>
</table>

<p><%= link_to 'キャンセル', :action => 'show', :id => @company %>
  <%= submit_tag '更新' %>
<% end %>

