
<% @page_title = "カンパニーの一覧"
   @crumbs = [
     {:controller => 'keiri', :action => 'show', :title => '経理'} 
   ] 
  %>


<table class="table table-condensed">
  <tr>
    <th>名前
    <th>Name (en)
    <th>国
    <th>機能通貨
    <th>確定済み決算日
  </tr>

<% for company in @companies %>
  <tr>
    <td><%=h company.name %>
    <td><%=h company.name_en %>
    <td><%= company.country %>
    <td><%= company.functional_currency.code %>
    <td><%= company.fixed_gl_day %>
    <td><%= link_to '詳細', :action => 'show', :id => company %></td>
  </tr>
<% end %>
</table>


<%== pagy_nav(@pagy) %>

<P><%= link_to '新しいカンパニー...', :action => 'new' %>
