
<h1>新しいカンパニー</h1>

<%= form_tag( {:action => 'create'}, :multipart => true, :class => "well") do %>
  <%= error_messages_for 'company' %>

<table>
  <%= render :partial => 'form' %>
</table>

<p><%= link_to 'キャンセル', :action => 'index' %>
  <%= submit_tag "作成" %>
<% end %>


