
<% @page_title = "カンパニー " + @company.name
   @crumbs = [
       {:controller => 'keiri', :action => 'show', :title => "経理"},
       {:controller => 'companies', :action => 'index',
        :title => "カンパニーの一覧"},
   ] %>

<% if @error %>
<div id="errorExplanation">
  <%= @error %>
</div>
<% end %>



<table>
  <tr><th align="right">Active?: <td><%= @company.active %>
	
  <tr><th align="right">名前: <td><%=h @company.name %>
  <tr><th align="right">Name (en):<td><%=h @company.name_en %>

  <tr><th align="right">国: <td><%= @company.country %>
  <tr><th align="right">機能通貨: <td><%=h @company.functional_currency.name %>
  <tr><th align="right">販売請求書カウンタ: <td><%= @company.si_counter %>
  <tr><th align="right">請求書フッタ: <td><%= raw h(@company.si_footer).split(/\r?\n/).join("<br/>") %>
  <tr><th align="right">請求書ロゴ: 
    <td><img src="/companies/logo_image/<%= @company.id %>">
  <tr><th align="right">登録番号: <td><%= @company.tax_reg_number %>
  
  <tr><th align="right">送金手数料の計上部門:
    <td>
<% if @company.bank_division %>
  <%= @company.bank_division.name %>
<% else %>
<span style='color:red'>(設定なし) 会計部門作成後、設定してください。</span>
<% end %>

  <tr><th align="right">fallback部門:
    <td>
<% if @company.company_setting %>
  <%= @company.company_setting.fallback_division.name %>
<% else %>
<span style="color:red">(設定なし) 会計部門作成後、設定してください。</span>
<% end %>
</table>

<p><%= link_to '[編集...]', :action => 'edit', :id => @company %> 
  | <%= link_to "[削除]", {:action => "destroy", :id => @company},
                  :data => {:confirm => '本当に削除しますか？　復活できませんよ？'}, :method => :post %>


  

<h2>仕訳生成の計上日</h2>

<p>古い伝票は,「確定済みの決算日」の翌日が計上日になります。
  
<table>
  <tr><th align="right">伝票に表示する確定日: <td><%= @company.fixed_day %>
  <tr><th align="right">確定済みの決算日: <td><%= @company.fixed_gl_day %>
</table>

<p><%= link_to '締め処理...', :action => 'gl_fix', :id => @company %>



<h2>会計部門の一覧</h2>

<% dv = Division.where("company_id = ?", @company.id)
   if dv.empty? %>
<p style="color:red">このカンパニーには会計部門が一つもありません。まず会計部門/コストセンタを登録してください。</p>
<% else 
     dv.each {|division| %>
<%= division.name %>
<%   }
   end %>   
