
<%= error_messages_for "petty_group" %>

<table>
  <tr><th align="right">カンパニー: 
    <td><%= f.collection_select :company_id, Company.all, :id, :name %>
  </tr>
  <tr><th align="right">グループコード:
    <td><%= f.text_field :group_code %> 必須. 英数
  </tr>
  <tr><th align="right">名前: <td><%= f.text_field :name %>
  <tr><th align="right">説明: <td><%= f.text_area :description, :rows => 5 %>
</table>
