
<h1>小口グループの編集</h1>

<%= form_for @petty_group, :url => {:action => "update", :id => @petty_group},
             :html => {:class => "well"} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>

  <%= link_to "キャンセル", :action => "show", :id => @petty_group %>
  <%= f.submit %>
<% end %>
