<% # -*- coding:utf-8; mode:html -*-
   @page_title = "小口グループの一覧"
   @crumbs = [
     {:title => "経理", :controller => "keiri"},
   ] %>



<table class="table table-condensed">
  <tr>
    <th>カンパニー</th>
    <th>グループコード</th>
    <th>名前</th>
  </tr>

<% @petty_groups.each do |petty_group| %>
  <tr>
    <td><%= petty_group.company.name %>
    <td><%= petty_group.group_code %>
    <td><%= petty_group.name %>
    <td><%= link_to '詳細', :action => "show", :id => petty_group %></td>
  </tr>
<% end %>
</table>

<p><%= link_to '新しい小口グループ...', :action => "new" %>
