
<h1>新しい小口グループ</h1>

<%= form_for @petty_group, :url => {:action => "create"}, :html => {:class => "well"} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>

  <%= link_to "キャンセル", :action => "index" %>
  <%= f.submit %>
<% end %>
