<% # -*- coding:utf-8; mode:html -*-
   @page_title = @petty_group.name 
   @crumbs = [
     {:title => "経理", :controller => "keiri"},
     {:title => "小口グループの一覧", 
                          :controller => "petty_groups", :action => "index"}
   ] %>




<table>
  <tr><th align="right">カンパニー: <td><%= @petty_group.company.name %>
  <tr><th align="right">グループコード: <td><%= @petty_group.group_code %>

  <tr><th align="right">名前: <td><%= @petty_group.name %>
  <tr><th align="right">説明: 
    <td><%= h(@petty_group.description).gsub(/\r?\n/, "<br />").html_safe %>
</table>

<p><%= link_to '編集...', :action => "edit", :id => @petty_group %> |
  <%= link_to '削除', {:action => "destroy", :id => @petty_group}, 
             :data => {:confirm => 'Are you sure?'}, :method => :delete %>
