
<%= error_messages_for 'our_bank' %>

<!--[form:our_bank]-->
<table>
  <tr><th align="right">カンパニー:
    <td><%= @company.name %>
      <%= f.hidden_field "company_setting_id", :value => @company.id %>

  <tr><th align="right">名前:
    <td><%= f.text_field :name %>

  <tr><th align="right">勘定科目:
    <td><%= f.select 'account_title_id', 
            AccountTitle.find(:all, 
               :conditions => '(end_day IS NULL) AND (aggregate_flag IS FALSE) AND kind = 0',
               :order => 'account_code, suppl_code').collect {|r| [r.name2, r.id]}
          %> 

  <tr><th align="right">通貨:
    <td><%= f.collection_select "currency_id", Currency.find(:all), :id, :name %>

  <tr><th align="right">依頼人コード: 
    <td><%= f.text_field 'applicant_code' %>  数字

  <tr><th align="right">remarks:
    <td><%= f.text_area 'remarks', :rows => 3 %>
</table>
<!--[eoform:our_bank]-->

