
<h1>自社資金口座の編集</h1>

<%= form_for @our_bank, :url => {:action => 'update', :id => @our_bank}, 
                    :method => :post, :html => {:class => "well"} do |f| %>

  <%= render :partial => 'form', :locals => {:f => f} %>

<p><%= link_to 'キャンセル', :action => 'show', :id => @our_bank %>
  <%= submit_tag '更新' %>
<% end %>

<p>Active/Inactiveは、勘定科目マスタで設定してください。
