<% # -*- coding:utf-8;mode:html -*-
   @page_title = '自社銀行口座/現金の一覧' 
   @crumbs = [
     {:title => "経理", :controller => "keiri"}
   ] %>


<%= form_tag( {:action => 'index'}, :method => "get" ) do %>
<p><b>カンパニー:</b>
  <%= select_tag 'company', options_for_select(Company.find(:all).collect {|r| [r.name, r.id]}) %>
  <%= submit_tag '表示' %>
<% end %>


<hr />

<p><b>カンパニー:</b> <%=h @company.name %>





<table class="table table-condensed">
  <tr>
    <th>名前
    <th>勘定科目
    <th>銀行/支店名 <th>口座番号 <th>受取人名 <th nowrap>通貨 <th>用途など 
  </tr>
<% for our_bank in @our_banks %>
  <tr>
    <td><%= our_bank.name %>
    <td><%= "#{our_bank.account_title.account_code}/#{our_bank.account_title.suppl_code}" %>

<%   if our_bank.bank_account
       account = our_bank.bank_account %>
    <td <%= our_bank.account_title.end_day ? "style='text-decoration:line-through'".html_safe : nil %>><%=h account.bank_name %>
    <td <%= our_bank.account_title.end_day ? "style='text-decoration:line-through'".html_safe : nil %>><%=h BankAccount::ACTYPE_NAMES[account.ac_type] %> <%= account.ac_number %>
    <td><%=h account.kana_name %>
<%   elsif our_bank.en_bank_account 
       account = our_bank.en_bank_account %>
    <td><%=h account.bank_name %>
    <td><%= h(account.iban_code || account.account_no) %>
    <td><%=h account.account_name %>
<%   else %>
    <td>(設定なし)<td><td>
<%   end %>
    <td><%= our_bank.currency.name %>
    <td><%=h our_bank.remarks %>
    <td nowrap><%= link_to '詳細', :action => 'show', :id => our_bank %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @our_banks %>




<p><%= link_to '[新しい自社銀行口座/現金...]', :action => 'new', :company => @company %>
