
<h1>新しい自社銀行口座/現金</h1>

<%= form_for @our_bank, :url => {:action => 'create'}, 
                                        :html => {:class => "well"} do |f| %>
  <%= f.hidden_field 'company_setting_id' %>

<%= render :partial => "form", :locals => {:f => f} %>

<p><%= link_to 'キャンセル', :action => 'index', :id => @our_bank,
               :company => @company %>
  <%= submit_tag '作成' %>
<% end %>

