
<h1>銀行口座 (ja-JP) を選択する 2/2</h1>

<%= form_tag :action => 'new2', :id => @our_bank do %>
  <%= render :partial => 'bank_accounts/search' %>
<% end %>

<p><%= link_to 'キャンセル', :action => 'show', :id => @our_bank %>


<div style="background-color:#e5ecf9;border-top:solid 1px #0000cc; padding:2px">
<em style="font-weight:bold;font-style:normal"><%=h @search.text %></em> の検索結果 <%= @bank_accounts.size %>件
</div>

<p>自社口座とする銀行口座をクリックしてください。

<table>
<% @bank_accounts.each {|b| 
     branch = b.bank_branch %>
  <tr>
    <td><%=h branch.bank.name %>
    <td><%=h branch.name %>
    <td><%=h BankAccount::ACTYPE_NAMES[b.ac_type] %>
    <td><%= link_to b.ac_number, 
               {:action => 'bind_account', :id => @our_bank, :bank_account => b}, 
               :method => :post %>
    <td><%=h b.kana_name %>
  </tr>
<% } %>
</table>
