<% # -*- coding:utf-8 -*- 
  %>

<h1>銀行口座 (ja-JP) を選択する 1/2</h1>


<%= form_tag :action => 'new2', :id => @our_bank do %>
  <%= render :partial => 'bank_accounts/search' %>
<% end %>

<p><%= link_to 'キャンセル', :action => 'show', :id => @our_bank %>

<% if @error %>
<div id="errorExplanation">
  <%= @error %>
</div>
<% end %>  
