<% # -*- coding:utf-8; mode:html -*-
   @page_title = "自社口座 " + @our_bank.name
   @crumbs = [
     {:title => "経理", :controller => "keiri"},
     {:title => "自社銀行口座・現金の一覧", :action => "index"}
   ] %>




<table>
  <tr><th align="right">Active: 
    <td><%= @our_bank.account_title.end_day ? "Inactive" : "Active" %>

  <tr><th align="right">カンパニー:
    <td><%= @our_bank.company_setting.name %>
  <tr>
    <th align="right">名前:
    <td><%= @our_bank.name %>
  <tr><th align="right">依頼人コード: <td><%= @our_bank.applicant_code %>
  <tr><th align="right">勘定科目: 
    <td><%= link_to "#{@our_bank.account_title.account_code}/#{@our_bank.account_title.suppl_code}", :controller => "account_titles", 
                     :action => "show", :id => @our_bank.account_title %> 
      <%= @our_bank.account_title.name %>
  <tr><th align="right">通貨: <td><%= @our_bank.currency.name %>

  <tr><th align="right">remarks: <td><%=h @our_bank.remarks %>

</table>


<p><%= link_to '[編集...]', :action => 'edit', :id => @our_bank %> 
  <%= link_to '[削除]', {:action => 'destroy', :id => @our_bank}, 
                    :data => {:confirm => 'Are you sure?'}, :method => :post %>


<p>※Active/Inactiveは、勘定科目マスタで設定してください。






<% if @our_bank.bank_account 
     @bank_account = @our_bank.bank_account %>
<h2>日本の銀行口座</h2>
<%= render :partial => 'bank_accounts/detail' %>
<% end %>

<p><%= link_to '[銀行口座 (ja-JP) を選択する...]', 
                            :action => 'select_account', :id => @our_bank %>



<% if @our_bank.en_bank_account 
     account = @our_bank.en_bank_account %>
<h2>英語表記</h2>
<table>
  <tr><th align="left">(銀行)
  <tr><th align="right">SWIFT: <td><%=h account.swift_code %>
  <tr><th align="right">銀行/支店名: <td><%=h account.bank_name %>
  <tr><th align="right" valign="top">所在地: 
    <td><%=h account.bank_addr1 %><br /><%=h account.bank_addr2 %>
  <tr><th align="right">国コード: <td><%=h account.bank_country %>

  <tr><th align="left">(受取人)
  <tr><th align="right">名前: <td><%=h account.account_name %>
  <tr><th align="right" valign="top">住所: 
    <td><%=h account.account_addr1 %><br /><%=h account.account_addr2 %>
  <tr><th align="right">IBAN/口座番号: <td><%= h(account.iban_code || account.account_no) %>
</table>


<p><%= link_to '[英語表記を編集...]', :controller=> 'en_bank_accounts', :action => 'edit', :id => account, :our_bank => @our_bank %>
<% else %>
<p><%= link_to '[英語表記を設定する...]', :controller => 'en_bank_accounts', :action => 'new', :our_bank => @our_bank %>
<% end %>

