
<% bank = @bank_account.bank_branch.bank 
   branch = @bank_account.bank_branch %>

<table>
  <tr><th align="right">Active: <td><%= @bank_account.active ? "&#x2713;active".html_safe : "□ inactive" %>
  <tr><th align="right">取引先コード(枝番): <td><%=h @bank_account.zaimu_ac %> 
  <tr><th>■口座情報
  <tr><th align="right">銀行: <td><%= bank.id %> <%=h bank.name %> <%=h bank.kana_name %>
  <tr><th align="right">支店: <td><%= branch.branch_code %> <%=h branch.name %> <%= branch.kana_name %>
  <tr><th align="right">種別: <td><%=h BankAccount::ACTYPE_NAMES[@bank_account.ac_type] %>
  <tr><th align="right">口座番号: <td><%=h @bank_account.ac_number %>
  <tr><th align="right">名義: <td><%=h @bank_account.kana_name %>

</table>

