
<% @action_javascript = "bank_accounts" %>

<div id="sel_bank_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
  </div>
</div>




<%= error_messages_for 'bank_account' %>

<% if @error %>
<div id="errorExplanation">
  <%= @error %>
</div>
<% end %>


<!--[form:bank_account]-->
<table>
  <tr><th align="right">取引先: <td><%= @partner.zaimu_id %> <%= @partner.name %>
  <tr><th align="right">Active: <td><%= check_box 'bank_account', 'active' %>
  <tr><th align="right">取引先コード(枝番): 
    <td><%= text_field 'bank_account', 'zaimu_ac' %> 数字のみ. 取引先コードと同じも可.

  <tr><th>■口座情報
  <tr><th align="right">銀行: 
    <td><span id="bank_name">
        <%= @bank_branch && @bank_branch.bank ? "#{@bank_branch.bank.id} #{@bank_branch.bank.name}" : nil %>
      </span>
  <tr><th align="right">支店:
    <td>
      <%= hidden_field_tag "branch_id", @bank_branch ? @bank_branch.id : nil %>
      <span id="branch_name">
<% if @bank_branch %>
        <%= @bank_branch.branch_code %> <%= @bank_branch.name %> 
        <%= @bank_branch.kana_name %> 
<% end %>
      </span>

      <button type="button" style="padding:0" 
              onclick="open_sel_bank();return false;">
        <span class="glyphicon glyphicon-edit"></span>

  <tr><th align="right">口座種別: 
    <td><%= select "bank_account", "ac_type", 
                   (BankAccount::ACTYPE_NAMES.map do |k, v| [v, k] end) %>

  <tr><th align="right">口座番号: <td><%= text_field "bank_account", "ac_number" %>
  <tr><th align="right">名義: 
    <td><%= text_field "bank_account", "kana_name" %> カタカナのみ

</table>
<!--[eoform:bank_account]-->

