    <div id="dialog_body" class="modal-body">

<p>(銀行名, 支店名) の組か, 支店名を入力してください。部分一致で検索, 振りがなはカタカナ.
<p><b>銀行名:</b> <%= text_field_tag "bank_text" %>
  <b>支店名:</b> <%= text_field_tag "branch_text" %>
  <button type="button" onclick="list_banks(); return false;" 
              class="btn btn-primary">検索</button>

<p><b>検索結果:</b> <%= @bank_text %> <%= @branch_text %>
<table class="table">
  <tr>
    <th>銀行
    <th>支店
<% @branches.each do |branch| %>
  <tr>
    <td><%= branch.bank.name %> <%= branch.bank.kana_name %>
    <td><%= branch.name %> <%= branch.kana_name %>
    <td><button type="button" onclick="update_bank(<%= branch.id %>); return false;">選択</button>
                
<% end %>
</table>

    </div> <!-- model-body -->

