<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">銀行・支店の選択</h4>
    </div>

    <div id="dialog_body" class="modal-body">

<p>(銀行名, 支店名) の組か, 支店名を入力してください。部分一致で検索, 振りがなはカタカナ.
<p><b>銀行名:</b> <%= text_field_tag "bank_text" %>
  <b>支店名:</b> <%= text_field_tag "branch_text" %>
  <button type="button" onclick="list_banks(); return false;" 
              class="btn btn-primary">検索</button>


    </div> <!-- model-body -->

    <div class="modal-footer">
      <button type="button" class="btn" data-dismiss="modal">キャンセル</button>
    </div>
  </div>
</div><!-- .modal-dialog -->
