
<h1>取引先との紐づけを変更</h1>

<p>銀行口座: <%=h @bank_account.format_long %> 
<p>現在の取引先: <%= @bank_account.partner.name %>

<p><b>変更先:</b>
<%= form_tag({:action => 'change_partner2'},
             :class => "form-inline", :role => "form") do %>
  <%= hidden_field_tag 'id', @bank_account.id %>
  <%= render :partial => 'partners/search' %>
<% end %>

<p><%= link_to 'キャンセル', :action => 'show', :id => @bank_account %>
