
<h1>銀行口座に紐づける取引先を変更</h1>

<p><b>現在の取引先:</b> <%= @bank_account.partner.name %>

<% if @error %>
<div id="errorExplanation">
  <%= @error %>
</div>
<% end %>

<p><b>変更先:</b>
<%= form_tag({:action => 'change_partner2'},
             :class => "form-inline", :role => "form") do %>
  <%= hidden_field_tag 'id', @bank_account.id %>
  <%= render :partial => 'partners/search' %>
<% end %>

<p><%= link_to 'キャンセル', :action => 'show', :id => @bank_account %>



<div style="background-color:#e5ecf9;border-top:solid 1px #0000cc; padding:2px">
<em style="font-weight:bold;font-style:normal"><%=h @search.text %></em> の検索結果 <%= @partners.size %>件
</div>

<p>変更先をクリックしてください。

<table class="table table-condensed">
  <tr>
    <th class="col-sm-1">取引先(代表)コード
    <th class="col-sm-4">名前
<% for partner in @partners %>
  <tr>
    <td><%= partner.zaimu_id %>
    <td><%= link_to h(partner.name),
               {:action => 'change_partner_do', :id => @bank_account, :partner => partner }, :method => 'post' %> 
    <td><%=h partner.kana_name %> 
    <td><%=h partner.remarks %> 
<% end %>
</table>
