
<h1>銀行口座の編集</h1>



<%= form_tag :action => 'update', :id => @bank_account do %>
  <%= render :partial => 'form' %>

<p><%= link_to 'キャンセル', :action => 'show', :id => @bank_account %>  
  <%= submit_tag '更新' %>
<% end %>

