<% # -*- coding:utf-8; mode:html -*-
   @page_title = "取引先銀行口座の一覧"
   @crumbs = [
     {:title => "経理", :controller => "keiri"},
   ] %>



<table class="table table-condensed">
  <tr>
  <% for column in BankAccount.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for bank_account in @bank_accounts %>
  <tr>
  <% for column in BankAccount.content_columns %>
    <td><%=h bank_account.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => bank_account %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @bank_accounts %>

<p>※新規作成は、取引先の画面からおこなってください。
