<% # -*- coding:utf-8 -*-
   @page_title = "取引先銀行口座の一覧"
   @crumbs = [
     {:controller => 'partners', :action => 'index', :title => '取引先の検索'},
     {:controller => "partners", :action => "show", :id => @partner, 
               :title => @partner.name}
   ] 
  %>




<h2>日本(カナ)の口座</h2>

<% if @bank_accounts.size > 0 %>

<%= will_paginate @bank_accounts %>

<table class="table table-condensed">
  <tr>
    <th>取引先コード<br />(枝番)
    <th>Active?
    <th>銀行口座
<%   @bank_accounts.each do |ac| %>
  <tr>
    <td><%= ac.zaimu_ac %>
    <td><%= ac.active ? "Yes" : nil %>
    <td><%=h ac.format_long %> 
    <td><%= link_to '[詳細]', :controller => 'bank_accounts', 
                            :action => 'show', :id => ac %>
<%   end %>
</table>
<% else %>
（銀行口座の設定がありません。）
<% end %>

<p><%= link_to '新しい銀行口座(JP)...', 
            :action => "new", :partner => @partner %>




<h2>英語表示の口座</h2>

<table>
  <tr>
    <th>BANK NAME
    <th>BANK COUNTRY
    <th>ACCOUNT NAME
  </tr>

<% @en_bank_accounts.each do |en_bank_account| %>
  <tr>
    <td><%=h en_bank_account.bank_name %>
    <td><%=h en_bank_account.bank_country %>
    <td><%=h en_bank_account.account_name %>
    <td><%= link_to '詳細', :controller => "en_bank_accounts", :action => "show", :id => en_bank_account %></td>
  </tr>
<% end %>
</table>


<p><%= link_to '新しい銀行口座(En)...', 
            :controller => "en_bank_accounts", :action => "new_for_partner", 
            :partner => @partner %>
