<% @page_title = "新しい取引先銀行口座" %>


<%= form_tag({:action => 'create', :partner => @partner}, :role => "form", :class => "form-horizontal") do %>
  <%= render :partial => 'form' %>

<p><%= link_to 'キャンセル', :action => 'list', :partner => @partner %>  
  <%= submit_tag "作成", :class => "btn btn-primary" %>
<% end %>


