<% # -*- coding:utf-8 -*-
   @page_title = "銀行口座 #{@bank_account.ac_number}"
   @crumbs = [
     {:title => '取引先の検索', :controller => 'partners', :action => 'index'},
     {:title => "取引先 #{@bank_account.partner.name}", :controller => 'partners', 
                          :action => 'show', :id => @bank_account.partner},
     {:title => "取引先銀行口座の一覧", :action => "list", :partner => @bank_account.partner}
   ] %>


<%= render :partial => 'detail' %>

<p>created by <%= @bank_account.create_user_id ? @bank_account.created_by.name :
                      "(nil)" %> 
  at <%= @bank_account.created_at %>

<p>updated by <%= @bank_account.update_user_id ? @bank_account.updated_by.name :
                      "(nil)" %>
  at <%= @bank_account.updated_at %>




<% if current_user.has_role?(:keiri) %>
<p><%= link_to '編集...', :controller => 'bank_accounts', :action => 'edit', 
                         :id => @bank_account %>
  <%= link_to '削除', {:action => 'destroy', :id => @bank_account},
          :data => {:confirm => '本当に削除しますか？'}, :method => 'post' %>
  | <%= link_to '取引先との紐づけを変更...', :action => 'change_partner', :id => @bank_account %>
<% end %>
