

$('#bank_name').text('<%= "#{@branch.bank.id} #{@branch.bank.name}" %>');

$('#branch_id')[0].value = <%= @branch.id %>;
$('#branch_name').text('<%= @branch.name %>');

$('#sel_bank_modal').modal('hide');
