
  <%= f.error_messages %>

<% our_bank = OurBank.find :first, 
           :conditions => ["en_bank_account_id = ?", @en_bank_account.id] %>

<table>
  <tr><th align="left">(銀行)
  <tr><th align="right">SWIFTコード: <td><%= f.text_field :swift_code %>
  <tr><th align="right">銀行/支店名: <td><%= f.text_field :bank_name, :style => 'width:30em' %>
  <tr><th align="right">所在地:    <td><%= f.text_field :bank_addr1, :style => 'width:30em' %>
  <tr><th align="right">           <td><%= f.text_field :bank_addr2, :style => 'width:30em' %>
  <tr><th align="right" nowrap>国コード:  <td><%= f.text_field :bank_country, :style => 'width:3em' %> 2レター

  <tr><th align="left">(受取人)
  <tr><th align="right">名前: <td><%= f.text_field :account_name %>
  <tr><th align="right">住所: <td><%= f.text_field :account_addr1, :style => 'width:30em' %>
  <tr><th align="right">      <td><%= f.text_field :account_addr2, :style => 'width:30em' %>
  <tr><th align="right">IBAN: <td><%= f.text_field :iban_code %>    口座番号とどちらか一方のみ.
  <tr><th align="right">口座番号: <td><%= f.text_field :account_no %>

</table>
