
<h1>自社銀行口座 (en) の編集</h1>

<%= form_for :en_bank_account, 
            :url => {:action => "update", :id => @en_bank_account}, 
            :method => :post do |f| %>
<% if @our_bank %>
<%= hidden_field_tag 'our_bank', @our_bank.id %>
<% end %>
<%= render :partial => 'form', :locals => {:f => f} %>

<p>
<% if @our_bank %>
  <%= link_to 'キャンセル', 
           :controller => 'our_banks', :action => 'show', :id => @our_bank %>
<% else %>
  <%= link_to 'キャンセル', :action => "show", :id => @en_bank_account %>
<% end %>
  <%= f.submit '更新' %>
</p>
<% end %>

