
<h1>銀行口座(en)</h1>

<%= form_for @en_bank_account, :url => {:action => "create"} do |f| %>

  <%= hidden_field_tag 'our_bank', @our_bank.id %>
  <%= render :partial => 'form', :locals => {:f => f} %>

<p>
  <%= link_to 'キャンセル', :controller => 'our_banks', :action => 'show', 
                                                       :id => @our_bank %>
  <%= f.submit '作成' %>
</p>

<% end %>
