
<h1>新しい外貨口座</h1>

<%= form_for @en_bank_account, :url => {:action => "create_for_partner"} do |f| %>
<%= hidden_field_tag "partner", @partner.id %>
<%= render :partial => 'form', :locals => {:f => f} %>

<p>
  <%= link_to 'キャンセル', :controller => "bank_accounts", :action => 'list', 
              :partner => @partner %>
  <%= f.submit '作成' %>
</p>

<% end %>

