<% # -*- coding:utf-8 -*-
   @page_title = '銀行口座' 
   @crumbs = [
     {:title => '取引先の検索', :controller => 'partners', :action => 'index'},
     {:title => @partner.name, :controller => 'partners', 
                          :action => 'show', :id => @partner},
     {:title => "取引先銀行口座の一覧", :controller => "bank_accounts", :action => "list", :partner => @partner}
   ] %>





<h1>詳細</h1>


<table border="0">
  <tr><th align="left">■受取人取引銀行
  <tr><th align="right">SWIFT (BIC) コード: <td><%=h @en_bank_account.swift_code %> 
  <tr><th align="right">銀行, 支店名: <td><%=h @en_bank_account.bank_name %>
  <tr><th align="right">住所1: <td><%=h @en_bank_account.bank_addr1 %>
  <tr><th align="right">住所2: <td><%=h @en_bank_account.bank_addr2 %>
  <tr><th align="right">国コード (2letter): <td><%=h @en_bank_account.bank_country %>

  <tr><th align="left"><br />■受取人
  <tr><th align="right">口座名: <td><%=h @en_bank_account.account_name %>
  <tr><th align="right">住所1: <td><%=h @en_bank_account.account_addr1 %>
  <tr><th align="right">住所2: <td><%=h @en_bank_account.account_addr2 %>
  <tr><th align="right">IBANコード: <td><%=h @en_bank_account.iban_code %>
  <tr><th align="right">口座番号: <td><%=h @en_bank_account.account_no %>
</table>

<p><%= link_to '[編集...]', :action => "edit", :id => @en_bank_account %> |
  <%= link_to '[削除]', {:action => "destroy", :id => @en_bank_account},
          :data => {:confirm => 'Are you sure?'}, :method => :post %>

