<% @page_title = "仕訳の出力"
   @crumbs = [
     {:title => "経理", :controller => "keiri"}
   ] %>

<p><em style="color:red;font-weight:bold">[制限事項]</em> この画面を同時に二人以上で開かないでください。データ投入がダブります。


<%= form_tag( {:controller => "keiri", :action => 'export'}, :method => :get, 
              :class => "form-inline" ) do %>
<div class="form-group">
  <label>カンパニー:
    <select name="company" class="form-control">
    <%= options_for_select Company.find(:all).collect {|r| [r.name, r.id]},
                    @company.id %>
    </select>
  </label>
</div>
  <%= submit_tag '変更' %>
<% end %>


<hr />

<table border=0>
  <tr><th align="right" valign="top">カンパニー: <td><%=h @company.name %>

    <p>現在の仕訳締め日：<em style="font-weight:bold"><%=h @company.fixed_gl_day %></em>; 
為替レートの有効期限: 
<% rate_day = GlobalSetting.find(:first).currency_limit_day
   if rate_day < Date.today - 5 %>
<em style="color:red;font-weight:bold;font-size:14pt;"><%= rate_day %></em>
<% else %>
<%= rate_day %>
<% end %>

  <tr><th align="right">今回出力する会計伝票: <td><%= @size %>件
  <tr><th align="right" valign="top">延期した会計伝票:    
    <td>
      <table>
        <tr><td>(購買)請求書 <td><%= @deferred.size %>: <% @deferred.each do |i| %><%= link_to i, "/invoices/show/#{i}" %> &nbsp;<% end %>
        <tr><td>販売請求書   <td><%= @deferred_si.size %>: <% @deferred_si.each do |i| %><%= link_to i, "/sales_invoices/show/#{i}" %> &nbsp;<% end %>
        <tr><td>入金/出金伝票     <td><%= @deferred_ps.size %>: <% @deferred_ps.each do |i| %><%= link_to i, "/payment_slips/show/#{i}" %> &nbsp;<% end %>
      </table>
</table>




<div role="tabpane1">
  <!-- nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#direct" aria-controls="direct" role="tab" data-toggle="tab">会計システムに直接投入</a>
    <li role="presentation">
      <a href="#csv" aria-controls="csv" role="tab" data-toggle="tab">仕訳CSV出力</a>
  </ul>

  <!-- tab panes -->
  <div class="tab-content">
    <div role="tabpane1" class="tab-pane active" id="direct">
<% # 投入先のサーバを選択 ########################################################
  %>
<script type="text/javascript">
function disable_form() {
  document.getElementById("btnSubmit").disabled = true;
  return true;
}
</script>

<%= form_for( :server_loc, 
       :url => {:controller => "sbo", :action => "export_apar_xml", 
                :company => @company}, 
       :method => :post, 
       :html => {:class => "panel panel-default", 
                 :onsubmit => "return disable_form();"} ) do |f| %>
<%= error_messages_for :server_loc %>

  <div class="panel-body">
<label>サーバ.会社DB:
<% list = [] 
   KeiriFront::Application.config.sbo_servers.each_with_index do |c, i|
     if c[:company].id == @company.id
       if Rails.env.development?
         next if c[:company_db] =~ /production/
       end
       list << [c[:server].server + "/" + c[:company_db] + 
                " " + c[:company_name],
                i]
     end
   end %>
  <%= f.select :company_db_idx, list %>
</label>
<label>ユーザID:
  <%= f.text_field :username %>
</label>
<label>パスワード:
  <%= f.password_field :password %>
</label>
    <p><%= submit_tag "投入", :id => "btnSubmit" %>
  </div>
<% end %>
    </div>  <!-- /#direct -->

    <div role="tabpane1" class="tab-pane" id="csv">
  <span style="font-size:14pt;">
    <%= link_to "[CSV出力]", {:controller => "taisho", 
                           :action => "export_apar", :company => @company.id}, 
              :method => :post %>
  </span> ※請求書発行依頼、支払依頼のほかは正常に出力されない

<p>
  <span style="font-size:14pt;">Step 2. 
  <%= link_to "[完了]", {:action => "finish_export", :company => @company.id}, 
                       :method => :post %>
  </span>

  <em style="color:red;font-weight:bold">正常に出力できたことを確認したら, 必ず「完了」ボタンを押してください。</em>
</p>
    </div>  <!-- /#csv -->






<h3>■投入される仕訳リスト</h3>

<table border="1" style="border-collapse:collapse;margin-top:1em">
  <tr>
    <th rowspan=2>伝票日
    <th rowspan=2>伝票番号
    <th colspan="6">借方
    <th colspan="6">貸方
    <th rowspan=2>金額
    <th rowspan=2>
    <th rowspan=2>消費税
    <th rowspan=2>摘要
    <th rowspan=2>期日
  <tr><th colspan="2">勘定科目<th>会計部門 <th>次元2 <th>取引先 <th>社員
    <th colspan="2">勘定科目<th>会計部門 <th>次元2 <th>取引先 <th>社員
<% @entries.each {|line| %>
<tr>
  <td><%= line[:entry_day] %>
  <td><%= line[:entry_no] %>

  <td><%=h "#{line[:dr_account_title] ? line[:dr_account_title].account_code : 0} #{line[:dr_account_title] ? line[:dr_account_title].main_name : nil}" %>
  <td><%= line[:dr_account_title] ? line[:dr_account_title].suppl_code : nil %>
  <td><%=h line[:dr_division] ? "#{line[:dr_division].division_code} #{line[:dr_division].name}" : nil %>
  <td><%= line[:dr_dim2] ? line[:dr_dim2].dim_code : nil %>
  <td><%= line[:dr_partner_code] %>
  <td><%= line[:dr_worker_code] %>

  <td><%=h "#{line[:cr_account_title] ? line[:cr_account_title].account_code : 0} #{line[:cr_account_title] ? line[:cr_account_title].main_name : nil}" %>
  <td><%= line[:cr_account_title] ? line[:cr_account_title].suppl_code : nil%>
  <td><%=h line[:cr_division] ? "#{line[:cr_division].division_code} #{line[:cr_division].name}" : nil %>
  <td><%= line[:cr_dim2] ? line[:cr_dim2].dim_code : nil %>
  <td><%= line[:cr_partner_code] %>
  <td><%= line[:cr_worker_code] %>

  <td align="right" nowrap><%= format_amount(line[:amount], 0) %>
  <td>
  <td><%= line[:vat] %>
  <td><%=h line[:remarks] %>
  <td><%= line[:due_day] %>
<% } %>
</table>
