

<table>
  <tr>
    <th>時刻
<% @export_ats.each do |r| 
     next if !r.journal_export_at %>
  <tr>
    <td><%= link_to r.journal_export_at, {:action => "export_old_gl2", :at => Marshal.dump(r.journal_export_at)}, :method => :post  %>
<% end %>
</table>
