<a href="/">トップ</a> &gt;
<a href="/keiri">経理</a> &gt;
<h1>取引先インポート・ログ</h1>

<p>出力欄に Finished と表示されれば完了です。何かエラー・警告が発生したときは、エラー出力に表示されます。

<script type="text/javascript">
function reload_page() {
  window.location.reload();
}
setTimeout(reload_page, 5000); // ミリ秒単位
</script>



<h2>出力</h2>

<%= h(@out).split(/\r?\n|\r/).join("<br />\n").html_safe %>




<h2>エラー出力</h2>

<%= h(@err).split(/\r?\n|\r/).join("<br />\n").html_safe %>
