<a href="/">トップ</a> &gt;
<a href="/keiri">経理</a> &gt;
<h1>総勘定元帳 (仕訳) のインポート</h1>

<%= form_for( :import, :url => {:action => 'do_import_gl'} ) do |f| %>
  <%= f.collection_select 'company_id', Company.find(:all), :id, :name %>
  <%= submit_tag 'インポート開始' %>
<% end %>


<p><b>先頭行:</b>

<table border="1" >
  <tr>
    <th>伝票日付
    <th>
    <th>
    <th>
    <th>
    <th>
    <th>
    <th>
    <th colspan="11">借方
    <th>
    <th colspan="11">貸方

<% @head.each {|line| %>
  <tr><% line.each {|c| %><td><%=h c %><% } %>
<% } %>
</table>

