
<% @page_title = '経理' 
   @crumbs = [] %>





<div class="col-sm-6">
<h2>共通マスタ管理</h2>

<p><a href="/global_settings">大域設定</a>

<p><a href="/companies">カンパニー</a> 決算締め処理日などはここで設定します。

<p><a href="/currencies">通貨と為替レート</a>

<p><a href="/banks">銀行マスタ</a>

<p><a href="/vats">消費税・VAT</a>


<p><a href="/dimensions">次元2マスタ</a> 

</div>







<div class="col-sm-6">
<h2>予算実績管理 (Business Reporting)</h2>

<p><a href="/general_ledger/view">部門別　予算・実績のダウンロード</a>

<p><%= link_to '全社　元帳 (実績) ダウンロード', :controller => 'general_ledger', :action => 'select_ledger' %>



<p><a href="/account_title_trees">勘定科目の集計</a>

<p><a href="/control_divisions">コストセンタ (部門集計木)</a>




<p><a href="/kubuns">元帳区分</a>

<p><a href="/reports">Reportingマスタ</a>

</div>












<div class="col-sm-6">
<h2>請求・債権管理 (AR)</h2>

<p><a href="/sales_invoices/sign_off_list">請求書発行依頼の承認</a>

<p><%= link_to '請求書発行者マスタ', :controller => 'our_contacts' %>

<p><a href="/our_banks">自社銀行口座/現金マスタ</a>

</div>




<div class="col-sm-6">
<h2>購買管理 (AP)</h2>

<p><a href="/bank_accounts">取引先銀行口座マスタ</a>

<p><a href="/invoices/sign_off_list">支払依頼の承認</a>

</div>






<div class="col-sm-6">
<h2>小口経費 (petty)</h2>

<p><a href="/petty_groups">小口グループ</a>

<p><a href="/petty_payees">コーポレートカード・マスタ</a>
  
</div>






<div class="col-sm-6">
<h2>CMS</h2>

<p><a href="/attach_kinds">ファイル種別マスタ</a>

</div>






<div class="col-sm-6">
<h2>発売報告 (sales report)</h2>

<p><a href="/our_branches">店舗マスタ</a>

</div>









<div class="col-sm-6">
<h2>システム連携</h2>

<p><%= link_to '[会計システムへの仕訳連動 (CSV出力)...]', :action => 'export' %> |

  <%= link_to '過去の出力', :action => "export_old_gl" %>

<p><%= link_to "取引先・社員マスタのエクスポート", 
               {:controller => "sbo", :action => "export_bp_master"}, 
               :class => "btn btn-warning"  %> 
  (クリックで実行)
  | <%= link_to "ログ", :controller => "sbo", 
                                       :action => "export_bp_master_log" %>



<h3>会計システムからインポート</h3>

<p><%= link_to '勘定科目', :action => 'import_account_titles' %> &nbsp; <%= link_to 'ログを見る', :action => 'import_account_titles_log' %>

<p><%= link_to '総勘定元帳 (仕訳)...', :action => 'import_gl' %> &nbsp; <%= link_to 'ログを見る', :action => 'import_gl_log' %>

<p><%= link_to '取引先', :action => 'import_partners' %> &nbsp; <%= link_to 'ログを見る', :action => 'import_partners_log' %>



<h3>その他インポート</h3>

<p><%= link_to "銀行マスタ...", :action => "import_banks" %>

</div>

