<% @page_title = "仕訳の出力の完了"
   @crumbs = [
     {:title => "経理", :controller => "keiri"}
   ] %>

<% # @param @company カンパニー
   # @param @entries 仕訳行の配列
   # @param @size 件数
  %>

<table border=0>
  <tr><th align="right" valign="top">カンパニー: <td><%=h @company.name %>

    <p>現在の仕訳締め日：<em style="font-weight:bold"><%=h @company.fixed_gl_day %></em>; 
為替レートの有効期限: 
<% rate_day = GlobalSetting.find(:first).currency_limit_day
   if rate_day < Date.today - 5 %>
<em style="color:red;font-weight:bold;font-size:14pt;"><%= rate_day %></em>
<% else %>
<%= rate_day %>
<% end %>

  <tr><th align="right">完了した会計伝票: <td><%= @size %>件
</table>


<p><%= @retids.inspect %>


<table border="1" style="border-collapse:collapse;margin-top:1em">
  <tr>
    <th rowspan=2>伝票日
    <th rowspan=2>伝票番号
    <th colspan="6">借方
    <th colspan="6">貸方
    <th rowspan=2>金額
    <th rowspan=2>
    <th rowspan=2>消費税
    <th rowspan=2>摘要
    <th rowspan=2>期日
  <tr><th colspan="2">勘定科目<th>会計部門 <th>次元2 <th>取引先 <th>社員
    <th colspan="2">勘定科目<th>会計部門 <th>次元2 <th>取引先 <th>社員
<% @entries.each {|line| %>
<tr>
  <td><%= line[:entry_day] %>
  <td><%= line[:entry_no] %>

  <td><%=h "#{line[:dr_account_title] ? line[:dr_account_title].account_code : 0} #{line[:dr_account_title] ? line[:dr_account_title].main_name : nil}" %>
  <td><%= line[:dr_account_title] ? line[:dr_account_title].suppl_code : nil %>
  <td><%=h line[:dr_division] ? "#{line[:dr_division].division_code} #{line[:dr_division].name}" : nil %>
  <td><%= line[:dr_dim2] ? line[:dr_dim2].dim_code : nil %>
  <td><%= line[:dr_partner_code] %>
  <td><%= line[:dr_worker_code] %>

  <td><%=h "#{line[:cr_account_title] ? line[:cr_account_title].account_code : 0} #{line[:cr_account_title] ? line[:cr_account_title].main_name : nil}" %>
  <td><%= line[:cr_account_title] ? line[:cr_account_title].suppl_code : nil%>
  <td><%=h line[:cr_division] ? "#{line[:cr_division].division_code} #{line[:cr_division].name}" : nil %>
  <td><%= line[:cr_dim2] ? line[:cr_dim2].dim_code : nil %>
  <td><%= line[:cr_partner_code] %>
  <td><%= line[:cr_worker_code] %>

  <td align="right" nowrap><%= format_amount(line[:amount], 0) %>
  <td>
  <td><%= line[:vat] %>
  <td><%=h line[:remarks] %>
  <td><%= line[:due_day] %>
<% } %>
</table>
