<h1>Editing reporting_title</h1>

<%= error_messages_for :reporting_title %>

<%= form_for(@reporting_title) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @reporting_title %> |
<%= link_to 'Back', reporting_titles_path %>
