<h1>Listing reporting_titles</h1>

<table>
  <tr>
  </tr>

<% for reporting_title in @reporting_titles %>
  <tr>
    <td><%= link_to 'Show', reporting_title %></td>
    <td><%= link_to 'Edit', edit_reporting_title_path(reporting_title) %></td>
    <td><%= link_to 'Destroy', reporting_title, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New reporting_title', new_reporting_title_path %>
