<h1>New reporting_title</h1>

<%= error_messages_for :reporting_title %>

<%= form_for(@reporting_title) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', reporting_titles_path %>
