
<table>
  <tr><th align="right" nowrap>カンパニー:
    <td>
<% if controller.action_name == "new" || controller.action_name == "create" %>
      <%= f.select "company_setting_id", 
                   Company.find(:all).collect {|r| [r.name, r.id]} %>
      後から変更できません。
<% else %>
      <%= @company.name %>           
<% end %>
  <tr><th align="right">言語:
    <td><%= f.select 'lang', [['日本語', 'ja'], ['英語', 'en']] %>
  <tr><th align="right" valign="top">所在地:
    <td>〒<%= f.text_field 'zip', :size => 10 %>
      <%= f.text_field 'addr1', :size => 50 %> (英語のときは zip は空白)<br />
      <%= f.text_field 'addr2', :size => 65 %><br />
      <%= f.text_field 'addr3', :size => 65 %>
  <tr><th align="right" valign="top">役職氏名:
    <td><%= f.text_field 'name', :size => 60 %>
  <tr><th align="right" nowrap>電話番号:
    <td><%= f.text_field 'tel', :size => 25 %>
</table>
