
<h1>請求書発行者の編集</h1>


<%= form_for @our_contact,
             :url => {:action => "update", :id => @our_contact} do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f} %>
  
<p><%= link_to 'キャンセル', :action => "show", :id => @our_contact %>
  <%= f.submit "更新" %>
<% end %>

