<a href="/">トップ</a> &gt;
<a href="/keiri">経理</a> &gt;

<h1>請求書発行者の一覧</h1>

<table class="table table-condensed">
  <tr>
    <th>カンパニー
    <th nowrap>言語
    <th>役職氏名
  </tr>

<% for our_contact in @our_contacts %>
  <tr>
    <td><%=h our_contact.company_setting.name %>
    <td><%=h our_contact.lang %>
    <td><%=h our_contact.name %>
    <td nowrap><%= link_to '詳細', :action => "show", :id => our_contact %></td>
  </tr>
<% end %>
</table>

<p><%= link_to '新しい請求書発行者...', :action => "new" %>
