
<h1>新しい請求書発行者</h1>


<%= form_for @our_contact, :url => {:action => "create"} do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f} %>
<p><%= link_to 'キャンセル', :action => "index" %> <%= f.submit "作成" %>
<% end %>

