
<a href="/">トップ</a> &gt;
<a href="/keiri">経理</a> &gt;
<a href="/our_contacts">請求書発行者の一覧</a> &gt;
<h1><%=h @our_contact.name %></h1>

<table>
  <tr><th align="right">カンパニー: <td><%=h @our_contact.company_setting.name %>
  <tr><th align="right">言語: <td><%=h @our_contact.lang %>
  <tr><th align="right" valign="top">所在地: 
    <td><%=h @our_contact.zip %><br />
      <%=h @our_contact.addr1 %><br />
      <%=h @our_contact.addr2 %><br />
      <%=h @our_contact.addr3 %>

  <tr><th align="right">役職氏名: <td><%=h @our_contact.name %>
  <tr><th align="right">電話番号: <td><%=h @our_contact.tel %>
</table>

<p><%= link_to '[編集...]', :action => "edit", :id => @our_contact %> 
  <%= link_to '[削除]', {:action => "destroy", :id => @our_contact},
              :data => {:confirm => 'Are you sure?'}, :method => :post %>
