
<%= f.error_messages %>

<table>
  <tr><th align="right">Active: <td><%= f.check_box 'active' %>
  <tr><th align="right">名前:   <td><%= f.text_field 'name' %>
</table>

<p>※名前に部署名は含めない。例）「営業部長」ではなく「部長」.

<p>役職名はヒストリデータ。役職名の変更は、新しいレコードを作ってください。
