<h1>Editing worker_position</h1>

<%= form_for(@worker_position,
             :url => {:action => "update", :id => @worker_position}) do |f| %>

  <%= render :partial => "form", :locals => {:f => f} %>

<p><%= link_to 'キャンセル', :action => "show", :id => @worker_position %> |
  <%= f.submit 'Update' %>
<% end %>

