<a href="/">トップ</a> &gt;
<a href="/human_resources/">Human Resources</a> &gt;

<h1>役職の一覧</h1>

<table>
  <tr>
    <th>名前 <th>Active
  </tr>

<% @worker_positions.each do |worker_position| %>
  <tr>
    <td><%=h worker_position.name %>
    <td><%= worker_position.active ? "&#x2713;Yes".html_safe : "□" %>
    <td><%= link_to '詳細', :action => "show", :id => worker_position %></td>
  </tr>
<% end %>
</table>

<p><%= link_to '新しい役職...', :action => "new" %>
