
<h1>新しい役職</h1>

<%= form_for(@worker_position, :url => {:action => "create"}) do |f| %>

  <%= render :partial => "form", :locals => {:f => f} %>

<p><%= link_to 'キャンセル', :action => "index" %> <%= f.submit '作成' %>
<% end %>

