<a href="/">トップ</a> &gt;
<a href="/human_resources/">Human Resources</a> &gt;
<a href="/worker_positions/">役職の一覧</a> &gt;

<h1>役職 <%=h @worker_position.name %></h1>

<table>
  <tr><th align="right">Active: <td><%= @worker_position.active ? "&#x2713;active".html_safe : "□ inactive" %>
  <tr><th align="right">名前: <td><%=h @worker_position.name %>
</table>

<p><%= link_to '編集...', :action => "edit", :id => @worker_position %> |
  <%= link_to '削除', {:action => "destroy", :id => @worker_position},
              :data => {:confirm => 'Are you sure?'}, :method => :delete %>
