

<h1>部門集計木 (ルート) の編集</h1>

<%= form_for @root, :url => {:action => "update_root", :id => @root} do |f| %>

<table>
  <tr><th align="right">名前: <td><%= f.text_field "name" %>
  <tr><td colspan="2"><%= link_to "キャンセル", :action => "index" %> <%= f.submit "更新" %>
</table>

<% end %>
