
<h1>コストセンタの編集</h1>

<%= form_tag :action => 'update', :id => @control_division do %>
<table>
  <tr><th align="right">名前: <td><%= text_field 'control_division', 'name'  %>
  <tr><th>ルート: 
    <td><%=h @control_division.root.name %>
</table>

<p><%= link_to '[キャンセル]', :action => @back, :id => @control_division %> 
  <%= submit_tag '更新' %>
<% end %>

