<a href="/">トップ</a> &gt;
<a href="/keiri">経理</a> &gt;

<h1>コストセンタ (部門集計木)</h1>


<ul class="nav nav-tabs">
  <li><b>部門集計木:</b> 
<% ControlDivision.roots.each {|root| %>
<%   if root.id == @root_controller.id %>
  <li class="active"><a><%= root.name %></a>
<%   else %>
  <li><%= link_to root.name, :action => "index", :root => root %>
<%   end %> &nbsp;
<% } %>
</ul>

<p><%= link_to '[新しい部門集計木...]', :action => 'new_root' %> 

  <%= link_to '[部門集計木 (ルート) の編集...]', :action => 'edit_root', :id => @root_controller %>
  <% if @control_divisions.empty? &&
                    GlobalSetting.first.default_division_tree_root_id !=
                                        @root_controller.id %>
  | <%= link_to "[削除]", {:action => "destroy_root", :id => @root_controller},
                :data => {:confirm => "本当に削除しますか？"}, :method => :post %>
<% else %>
  | <span style="color:gray">[削除]</span>
<% end %>




<% if !@dangling_divisions.empty? %>
<div style="border:solid 2px #99ffff">
<p>コストセンタに結びついていない会計部門::
<blockquote>
<% @dangling_divisions.each {|r| %>
<%= link_to h(r.name), {:controller => 'divisions', :action => 'show', :id => r}, 
                    :style => "color:red" %>
<% } %>
</blockquote>
</div>
<% end %>




<h2>木 '<%= @root_controller.name %>'</h2>

<% if @control_divisions.empty? %>
<div style="color:red">
  この木にはコストセンタがありません。一つ以上のコストセンタが必要です。
</div>
<% end %>

<dl>
<% @control_divisions.each {|controller| %>
  <dt style="margin-top:1em;"><span style="font-weight:bold;"><%=h controller.name %></span>
&nbsp; <%= link_to '[詳細]', :action => 'show', :id => controller %>
<%= link_to '[編集...]', :action => 'edit', :id => controller, :back => "index" %>

  <dd>
<%   controller.divisions.each {|division| %>
<% if division.end_day %>
<span style="color:#999999;"><%=h division.name %></span>
<% else %>
<%=h division.name %> 
<% end %>
&nbsp;
<%   }
   } %>
</dl>


<%== pagy_nav(@pagy) %>



<p><%= link_to '新しいコストセンタ...', :action => 'new', :root => @root_controller %>



