<% # -*- coding:utf-8 -*- 
  %>

<h1>新しいコストセンタ</h1>

<%= form_for "control_division", :url => {:action => 'create'}, 
             :method => :post do |f| %>

  <%= error_messages_for 'control_division' %>

<table>
  <tr><th>ルート: 
    <td><%= @root.name %> <%= hidden_field_tag "root", @root.id %>
  <tr><th align="right">名前: 
    <td><%= f.text_field 'name'  %>
</table>


<p><%= link_to 'キャンセル', :action => 'index', :root => @root %> <%= f.submit "作成" %>
<% end %>

