
<h1>新しい部門集計木</h1>

<%= form_for 'control_division', :url => {:action => 'create_root'},
             :method => :post do |f| %>

  <%= error_messages_for 'control_division' %>

<table>
  <tr><th align="right">名前: <td><%= f.text_field 'name' %>
</table>
<%= link_to 'キャンセル', :action => 'index' %> <%= submit_tag "作成" %>
<% end %>

