
<a href="/">トップ</a> &gt;
<a href="/keiri">経理</a> &gt;
<%= link_to "コストセンタ: " + @control_division.root.name, 
            :action => "index", :root => @control_division.root %> &gt;


<h1><%=h @control_division.name %></h1>


<table>
  <tr><th align="right">名前: <td><%=h @control_division.name %>
  <tr><th align="right">ルート: <td><%=h @control_division.root.name %>
</table>


<p><%= link_to '[編集...]', :action => 'edit', :id => @control_division %>
  <%= link_to '[削除]', {:action => 'destroy', :id => @control_division, :root => @control_division.root}, :data => {:confirm => '本当に削除しますか？'}, :method => :post %>



<h2>会計部門</h2>
<ul>
<% for division in @control_division.divisions %>
  <li><%= link_to h(division.name), :controller=>'divisions', :action=>'show', :id=>division %>
<% end %>
</ul>


