
<% # @param f フォーム
  %>

  <%= error_messages_for 'mat_part' %>

<% if @error %>
<div id="errorExplanation">
  <%= @error %>
</div>
<% end %>


<p>※注意: Fixed asset flagを変更しても, 支払依頼のほうには反映されません.

<table>
  <tr><th align="right">Part no:     <td><%= f.text_field :part_no %>
  <tr><th align="right">Description: <td><%= f.text_field :description %>
  <tr><th align="right">Mat type:
    <td><%= f.select :mat_type,
            MatPart::MAT_TYPES.map {|k, v| [v, k]} %>
  <tr><th align="right">Mat class:
    <td><%= f.select :mat_class, MatPart::MAT_CLASSES.map {|k, v| [v, k]} %>
  <tr><th align="right">Fixed asset?:
    <td><label><%= f.radio_button :fixed_asset_flag, true %> Yes</label>
      <label><%= f.radio_button :fixed_asset_flag, false %> No</label>
</table>

