
<h1>資材(Part)の編集</h1>

<%= form_for(:mat_part, :url => {:action => "update", :id => @mat_part},
             :html => {:class => "form-horizontal well"}) do |f| %>

  <%= render :partial => 'form', :locals => {:f => f} %>

<p><%= link_to '[キャンセル]', :action => "show", :id => @mat_part %>
  <%= f.submit "更新" %>
<% end %>


