
<% @page_title = '資材(Part)の一覧'
   @crumbs = [
   ] %>


<%= will_paginate @mat_parts %>

<table class="table table-condensed">
  <tr>
    <th>Part no.</th>
    <th>Description
    <th>Mat type</th>
    <th>Mat class</th>
    <th>Fixed asset?
  </tr>

<% @mat_parts.each do |mat_part| %>
  <tr>
    <td><%= mat_part.part_no %>
    <td><%= mat_part.description %>
    <td><%= mat_part.mat_type %>
    <td><%= mat_part.mat_class %>
    <td><%= mat_part.fixed_asset_flag %>
    <td><%= link_to '詳細', :action => "show", :id => mat_part %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @mat_parts %>


<p><%= link_to '新しい資材(Part)...', :action => "new" %>
