
<h1>新しい資材(Part)</h1>

<%= form_for(:mat_part, :url => {:action => "create"},
             :html => {:class => "form-horizontal well"}) do |f| %>

  <%= render :partial => 'form', :locals => {:f => f} %>

<p><%= link_to '[キャンセル]', :action => "index" %>
  <%= f.submit "作成" %>
<% end %>
