
<% @page_title = 'Part ' + (@mat_part.part_no)
   @crumbs = [
     {:controller => 'mat_parts', :action => 'index', :title => '資材(Part)の一覧'},
   ] %>


<table>
  <tr><th align="right">Part no.: <td><%= @mat_part.part_no %>
  <tr><th align="right">Description: <td><%= @mat_part.description %>
  <tr><th align="right">Mat. type:
    <td><%= @mat_part.mat_type %> <%= MatPart::MAT_TYPES[@mat_part.mat_type] %>
  <tr><th align="right">Mat. class:
    <td><%= @mat_part.mat_class %> <%= MatPart::MAT_CLASSES[@mat_part.mat_class] %>
  <tr><th align="right">Fixed asset?: <td><%= @mat_part.fixed_asset_flag ? "TRUE" : "FALSE" %>
</table>

<p><%= link_to '編集...', :action => "edit", :id => @mat_part %>
  | <%= link_to '削除', {:action => "destroy", :id => @mat_part},
                :data => {:confirm => 'Are you sure?'}, :method => :delete %>



<h2>購入履歴</h2>
  
<% receivings = MatReceiving.where("part_no = ?", @mat_part.part_no) %>

<table>
  <tr>
    <th>vendor
    <th>order type
    <th>order no.
    <th>part serial
    <th>delivery date
    <th>receiving no.
    <th>qty
    <th>amount<br />excl. tax
    <th>currency
    <th>tax code
    <th>tax amount
<% receivings.each do |receiving| %>
  <tr>
    <td><%= receiving.vendor_code %>
    <td><%= receiving.order_type %>
    <td><%= receiving.order_no %>
    <td><%= receiving.part_serial %>

    <td><%= receiving.delivery_date %>
    <td><%= receiving.receiving_no %>
    <td><%= receiving.quantity %>

    <td><%= receiving.total_amount %>
    <td><%= receiving.currency_code %>
    <td><%= receiving.tax_code %>
    <td><%= receiving.tax_amount %>
      
    <td><%= link_to "支払依頼", :controller => "invoices", :action => "show",
                    :id => receiving.invoice %>
<% end %>
</table>
