
<h1>パスワードの変更</h1>


<%= error_messages_for 'worker' %>


<%= form_tag( {:action => 'update_password'}, :class => "well" ) do %>
<table>
  <tr><th align="right">パスワード: <td><%= password_field 'worker', 'password' %>
  <tr><th align="right">パスワード (確認): <td><%= password_field 'worker', 'password_confirmation' %>
</table>
<%= link_to 'キャンセル', :controller => 'users', :action => 'show', :id => current_user %>
<%= submit_tag '更新' %>
<% end %>
