

<% @page_title = "ログイン" %>


<% if @error %>
<div id="errorExplanation">
  <%=h @error %>
</div>
<% end %>

<%= form_tag({}, :class => "well") do -%>
<table>
  <tr><th align="right">ログインID: <td><%= text_field_tag 'login' %>
  <tr><th align="right">パスワード: <td><%= password_field_tag 'password' %>
</table>

<p><%= submit_tag 'ログイン', :class => "btn btn-primary" %></p>
<% end -%>

<p>ログインIDはメールアドレスの@より左部分です。パスワードの初期値も同じです。
<p>最初のログイン後、アカウント管理画面でパスワードを変更してください。



<p><%= link_to "Log in with Concur", "/auth/concur_oauth2" %>
