
  <%= f.error_messages %>

<table>
  <tr><th align="right">取引先: 
    <td><%= @partner.name %>
  <tr><th align="right">vendorコード: <td><%= f.text_field :vendor_code %>
  <tr><th align="right">名前: <td><%= f.text_field :name %>
</table>
