<h1>Editing Bp Address</h1>

<%= form_for( @bp_address, :url => {:action => "update", :id => @bp_address} ) do |f| %>

  <%= render :partial => 'form', :locals => {:f => f} %>

<p><%= link_to "キャンセル", :action => "show", :id => @bp_address %>
  <%= f.submit %>
<% end %>
