<% # -*- mode:html -*-
   @page_title = 'アドレス一覧' 
   @crumbs = [
   ] %>

<%= will_paginate @bp_addresses %>

<table class="table table-condensed">
  <tr>
    <th>取引先 <th>vendor code <th>名前
<% @bp_addresses.each do |bp_addr| %>
  <tr>
    <td><%= link_to bp_addr.partner.name, :controller => "partners", 
                    :action => "show", :id => bp_addr.partner %>
    <td><%= bp_addr.vendor_code %>
    <td><%= bp_addr.name %>
    <td><%= link_to '詳細', :action => 'show', :id => bp_addr %>
<% end %>
</table>

<%= will_paginate @bp_addresses %>


