<% # -*- mode:html -*-
   @page_title = 'アドレス一覧' 
   @crumbs = [
{:controller => 'partners', :action => 'index', :title => '取引先の検索'},
{:controller => 'partners', :action => 'show', :id => @partner, :title => @partner.name}
   ] %>

<table>
  <tr>
    <th>vendor code <th>名前
<% @bp_addresses.each do |bp_addr| %>
  <tr>
    <td><%= bp_addr.vendor_code %>
    <td><%= bp_addr.name %>
    <td><%= link_to "詳細", :action => "show", :id => bp_addr %>
<% end %>
</table>

<p><%= link_to "新しいアドレス...", :action => "new", :partner => @partner %>
