
<% # @param @partner 取引先
  %>

<%= form_for( @bp_address, :url => {:action => "create"} ) do |f| %>

  <%= hidden_field_tag "partner", @partner.id %>

  <%= render :partial => 'form', :locals => {:f => f} %>


<p><%= link_to "キャンセル", :action => "list", :partner => @partner %>
  <%= f.submit %>
<% end %>

