
<%= link_to @bp_address.partner.name, :action => "list", :partner => @bp_address.partner %>

<table>
  <tr><th align="right">vendorコード: <td><%= @bp_address.vendor_code %>
  <tr><th align="right">名前: <td><%= @bp_address.name %>
</table>

<p><%= link_to '編集...', :action => "edit", :id => @bp_address %> |
  <%= link_to '[削除]', {:action => 'destroy', :id => @bp_address},
              :data => {:confirm => '本当に削除しますか？'}, :method => :post %>
