@charset "UTF-8";

body{
    /* [2024-11] いったんデフォルトで作る。*/
    /*font-size: 10.5pt;*/ /* pxで指定すべきでない */
    /*line-height: 1.43; */
}

h2 {
  margin-top: 1.5em;
}

/* 印刷時の取引先コード、支払日 */
em.pp {
  font-style: normal;
  font-weight:bold;
  font-size:18pt;
  font-family:sans-serif;
}


div.tree {  /* IE対策。divで囲む */
  border-left:solid 2px green;
  border-radius:8px;
  -moz-border-radius:8px;
}

li.folder {
  list-style-image:url(/images/folder.png);
}

li.leaf {
  list-style-image:none;
}

/* 印刷用 */
h1.slip {
  border-bottom:solid 4px #333333;
  text-align:center;
}



/** 
 * dynamic_form error messages
 *
 * <div id="errorExplanation">
     <h2>1 error prohibited this OBJECT_NAME from being saved</h2>
     <p>There were problems with the following fields:</p>
     <ul>
       <li>FIELD_NAME can't be blank</li>
     </ul>
   </div>
 */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: inline-block;  /* display:table では囲まれない */
}

#errorExplanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 1.2em; /* 12px */
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation ul li {
  font-size: 1em;  /* 12px */
  list-style: square;
}



/** 表で, 交互に色を付ける */
.color-row td {
  background-color: #dce6f1;
  /* border-bottom: solid 1px #99cc99; */
  /* border-top: solid 1px #99cc99; */
}

.color-row input {
  background-color: #dce6f1;
}

.color-row select {
  background-color: #dce6f1;
}
