
<% @page_title = "小口の支払いの一覧" 
   @crumbs = [
     {:controller => 'petty_expenses', :action => 'index', 
                                        :title => '小口経費精算'}, 
   ] 
  %>



<table class="table table-condensed">
  <tr>
    <th>バッチID
    <th>締め日
    <th>金額
    <th>出金伝票
<% # 単なるリストではない
   @petty_pays.each do |pay| %>
  <tr>
    <td><%= link_to pay.demand_batch_id, :controller => "petty_pays",
                    :action => "list", :batch_id => pay.demand_batch_id %>
    <td><%= pay.demand_batch_close_date %>
    <td align="right"><%= pay.amount %>
    <td>
<%   # 複数回の支払いがありえる 
     slips = PaymentSlip.find(:all,
                :select => "DISTINCT payment_slips.*",
                :joins => "JOIN petty_pays ON petty_pays.cash_slip_id = payment_slips.id",
                :conditions => ["demand_batch_id = ?", pay.demand_batch_id])
     slips.each do |slip| %>
      <%= link_to "出金伝票", :controller => "payment_slips", :action => "show",
                             :id => slip %>
      <%= slip.date %>
      <%= PettyPay.where("cash_slip_id = ?", slip.id)
                    .select("SUM(amount) AS amount").order("").first.amount %>

<%   end %>
<% end %>

</table>
