<% # -*- coding:utf-8; mode:html -*-
   @page_title = "支払い"
   @crumbs = [
     {:controller => 'petty_expenses', :action => 'index', 
                                                 :title => '小口伝票の一覧'} 
   ] 
  %>



<table>
  <tr><th align="right">バッチID: <td><%= @petty_pays.first.demand_batch_id %>
  <tr><th align="right">締め日: <td><%= @petty_pays.first.demand_batch_close_date %>
</table>


<table class="table table-condensed">
  <tr>
    <th>社員
    <th>小口グループ
    <th>種別
    <th>小口伝票
    <th>金額
<% @petty_pays.each do |pay| %>
  <tr>
    <td><%= pay.user.name %>
    <td><%= pay.petty_group.name %>
    <td><%= pay.transaction_type %>
    <td>
<% if pay.cash_advance_id %>
      仮払い <%= pay.cash_advance.ca_key %>
<% else %>
      経費精算 <%= link_to pay.expense.report_id, 
                     :controller => "petty_expenses", :action => "show", 
                     :id => pay.expense %>
<% end %>
    <td nowrap align="right"><%= pay.amount %>
      <%= pay.currency.code %>
<% end %>
</table>



<h2>出金伝票</h2>

<% slips = PaymentSlip.find :all, 
               :select => "DISTINCT payment_slips.*",
               :joins => "JOIN petty_pays ON petty_pays.cash_slip_id = payment_slips.id",
               :conditions => ["demand_batch_id = ?", @petty_pays.first.demand_batch_id]
   if slips.empty? %>
<p><%= link_to "出金伝票の作成...", 
               :controller => "payment_slips", :action => "new", 
               :company => @petty_pays.first.petty_group.company.id,
               :petty_pay => @petty_pays.first.demand_batch_id,
               :slip_type => 2 %>
<% else %>
<% slips.each do |slip| %>
  <p><%= link_to "出金伝票", :controller => "payment_slips", :action => "show", 
                 :id => slip %>
<%   end
   end %>

