
<%= error_messages_for 'account_title' %>



<!--[form:account_title]-->
<table border="0">
  <tr><th align="right">勘定科目コード:
    <td><%= text_field 'account_title', 'account_code', :size => 8 %> - <%= text_field 'account_title', 'suppl_code', :size => 4 %> 整数

  <tr><th align="right">集計科目: 
<% if !@account_title.id %>
    <td><%= check_box 'account_title', 'aggregate_flag' %><label for="account_title_aggregate_flag">集計科目</label> (後から変更できません)
<% else %>
    <td><%= raw @account_title.aggregate_flag ? "&#x2713;Yes" : "□No" %>
<% end %>

  <tr><th align="right">主コード名:
    <td><%= text_field 'account_title', 'main_name', :class => "col-sm-8" %> 主コードだけについての名前
  <tr><th align="right">名前:
    <td><%= text_field 'account_title', 'name', :class => "col-sm-8" %> 全体の名前 (主コード部分も)

  <tr><th align="right">振りガナ:
    <td><%= text_field 'account_title', 'kana_name', :class => "col-sm-8" %> (全角カタカナ)

  <tr><th align="right">定義など:
    <td><%= text_area 'account_title', 'description', :rows => 5, :class => "col-sm-8" %>

  <tr><th align="right">終了日:
    <td><%= check_box_tag 'disable', "1", @account_title.end_day %> 
      <%= date_select 'account_title', 'end_day' %>

  <tr><th align="right">表示上の正残:
    <td><%= select 'account_title', 'sign', [['借方', +1], ['貸方', -1]] %>

</table>



<h3>実在科目の場合</h3>
<table>
  <tr><th align="right">種別: 
    <td>
<% AccountTitle::KIND_NAMES.each {|k, v| %>
<%= radio_button "account_title", "kind", k %><label for="account_title_kind_<%= k %>"><%= v %></label>
<% } %>

  <tr><th align="right" valign="top">伝票追加可能:
    <td>※種別が「その他」「仮払消費税」のときのみ.
      <table border="0">
        <tr><td><th>有効? <th>相手(債権/債務)科目
        <tr><th align="right">(購買)請求書: 
          <td><%= check_box 'account_title', :enable_invoice %>
          <td><%= collection_select 'account_title', 'payable_id', 
                    AccountTitle.payable_candidates, :id, :name2 %>
        <tr><th align="right">販売請求書:
          <td><%= check_box 'account_title', :enable_si_invoice %>
          <td><%= collection_select 'account_title', 'receivable_id', 
                    AccountTitle.receivable_candidates, :id, :name2 %>
      </table>
      
  <tr><th align="right" valign="top">課税売上/仕入:
    <td>
      <label><%= radio_button "account_title", "tax_side", 0 %>
        対象外(消費税不可)
      </label> <br/>
<% (1..2).each do |i| %>
      <label><%= radio_button "account_title", "tax_side", i %>
        <%= Vat::TAX_SIDES[i] %>
      </label>
<% end %>
        <b>税グループ(初期値):</b>
          <%= select 'account_title', 'default_tax_type', 
                        options_for_select( (Vat::TAX_TYPES.to_a.map() do |x| 
                                           [x[0].to_s + " " + x[1], x[0]] end),
                                           :selected => @account_title.default_tax_type ) %>
    </td>

  <tr><th align="right">補助: 
    <td><%= check_box 'account_title', 'req_partner' %><label for="account_title_req_partner">取引先が必須</label>
</table>
<!--[eoform:account_title]-->

