
<ul class="nav nav-tabs">
  <li class="active"><a>勘定科目の検索</a>
  <li><%= link_to '一覧表示', :action => 'list' %>
  <li><%= link_to '科目の集計', :controller => 'account_title_trees', 
              :action => 'index' %>
</ul>


<%= form_tag({:action => 'search'}, {:method => 'get', :class => "form-inline"}) do %>
  <%= error_messages_for 'search' %>

  <div class="form-group">
    <%= text_field 'search', 'name', :size => 45, :class => "form-control" %> 
  </div>

  <button type="submit" class="btn btn-primary">
    <span class="glyphicon glyphicon-search"></span> 検索
  </button>

<p>振りがなは全角カタカナ。
<% end %>

