
<h1>勘定科目の編集</h1>

<%= form_with(model:@account_title, class: "well form-horizontal") do |form| %>
  <%= render :partial => 'form' %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= link_to 'キャンセル', :action => 'show', :id => @account_title %>
      <%= form.submit "更新", class:"btn btn-primary" %>
    </div>
  </div>
<% end %>

