
<% @page_title = '勘定科目の検索' 
   @crumbs = [] 
  %>


<%= render :partial => 'search' %>


<% if current_user.has_role?(:keiri) %>
<p><%= link_to '新しい勘定科目...', :action => 'new' %> | 
  <%= link_to "特殊な勘定科目", :controller => "global_settings", :action => "show_specials" %>
<% end %>

