
<% @page_title = "勘定科目の一覧"
   @crumbs = [
     #{:controller => 'keiri', :action => 'index', :title => '経理'} 
   ] 
  %>


<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to '勘定科目の検索', {action: 'index'}, class:"nav-link" %>
  <li class="nav-item"><a class="nav-link active">一覧表示</a>
  <li class="nav-item">
    <%= link_to '科目の集計', {controller: 'account_title_trees', 
        action: 'index'}, class:"nav-link" %>
</ul>





<table class="table table-sm">
  <tr>
    <th>科目コード
    <th>名前
    <th>振りガナ
    <th>終了日
    <th>表示正残
    <th>取引先必須
    <th colspan="2">課税売上/仕入

    <th>請求書:AR
    <th>AP
  </tr>

<% for account_title in @account_titles %>
  <tr style="background-color:<%= cycle("white", "#c9dEfC") %>">
    <td><%= "#{account_title.account_code}/#{account_title.suppl_code}" %>
    <td>
<% if account_title.aggregate_flag %>
      <span class="glyphicon glyphicon-folder-close"</span>
<% end %>
      <%=h account_title.name %>

    <td><%=h account_title.kana_name %>
    <td><%= account_title.end_day %>
    <td nowrap><%= account_title.sign == 1 ? "借方" : "(貸方)" %>
    <td align="center"><%= raw account_title.req_partner ? "&#x2713;Yes" : nil %>
    <td nowrap><%= (case account_title.tax_side 
	    when 1; "売上"
	    when 2; "仕入"
	    else; "－" end) %>
    <td><%= (account_title.tax_side != 0 ?
                      Vat::TAX_TYPES[account_title.default_tax_type] : "－") %>

    <td><%=h account_title.enable_si_invoice ? account_title.receivable.name : nil %>
    <td><%=h account_title.enable_invoice ? account_title.payable.name : nil %>

    <td nowrap><%= link_to '詳細', :action => 'show', :id => account_title %></td>
  </tr>
<% end %>
</table>

<%== pagy_nav(@pagy) %>


<p><%= link_to '新しい勘定科目...', :action => 'new' %> 
  | <%= link_to '請求書で使用可能か設定...', :action => 'select_addable' %>

