<% # -*- coding:utf-8; mode:html -*-
   @page_title = '新しい勘定科目' 
  %>


<%= form_tag( {:action => 'create'}, :class => "well form-horizontal") do %>
  <%= render :partial => 'form' %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= link_to 'キャンセル', :action => "index" %>
      <button type="submit" class="btn btn-primary">作成</button>
    </div>
  </div>

<% end %>

