<% @page_title = '勘定科目の検索' 
   @crumbs = [{:title => '経理', :controller => 'keiri', :action => 'show'}] %>


  <%= render :partial => 'search' %>



<div style="background-color:#e5ecf9;border-top:solid 1px #0000cc; padding:2px">
<em style="font-weight:bold;font-style:normal"><%=h @search.name %></em> の検索結果 <%= @account_titles.size %>件
</div>

<% for account_title in @account_titles %>
<p><%= account_title.account_code %>/<%= account_title.suppl_code %> 
<% if account_title.aggregate_flag %>
  <span class="glyphicon glyphicon-folder-close"</span>
<% end %>
  <%= link_to h(account_title.name), :action => 'show', :id => account_title %> 
<% end %>


<p><%= link_to '新しい勘定科目...', :action => 'new' %>


