<a href="/">トップ</a> &gt;
<a href="/keiri">経理</a> &gt;
<%= link_to '勘定科目の一覧', :action => 'list' %> &gt;
<h1>請求書で使用可能か設定</h1>

<% columns = ['name', 'kana_name'] 
   pc = AccountTitle.payable_candidates
   rc = AccountTitle.receivable_candidates
   opt_nil = '(追加不可)'
   # http://www.pen-chan.jp/~tdiary/pen-chan/20070618.html
  %>


<p>請求書で追加できるようにしたい科目は、相手勘定となる未収入金/未払金科目を指定してください。



<%= form_tag :action => 'update_addable' do %>
<table>
  <tr>
    <th>科目コード
    <th>名前
    <th>振りカナ
    <th>使用可能:AR
    <th>AP
  </tr>

<%   for @account_title in @account_titles do %>
  <tr>
    <td><%= "#{@account_title.account_code}/#{@account_title.suppl_code}" %>
    <td><%=h @account_title.name %>
    <td><%=h @account_title.kana_name %>
    <td><%= collection_select "account_title[]", "receivable_id", rc, :id, :name2, :include_blank => opt_nil %>
    <td><%= collection_select "account_title[]", "payable_id", pc, :id, :name2, :include_blank => opt_nil %>
  </tr>
<%   end %>
</table>

<%= submit_tag '更新' %>
<% end %>

