
<% @page_title = "勘定科目 #{@account_title.name}"
   @crumbs = [
     #{:controller => 'keiri', :action => 'index', :title => '経理'} ,
     {:controller => "account_titles", :action => "index", :title => "勘定科目の検索"}
   ] 
  %>


<table>
  <tr><th align="right">勘定科目コード: 
    <td><%= @account_title.account_code %> - <%= @account_title.suppl_code %>
  <tr><th align="right">集計科目: 
    <td><%= raw @account_title.aggregate_flag ? "&#x2713;Yes" : "□No" %>
  <tr><th align="right">主コード名: <td><%=h @account_title.main_name %>
  <tr><th align="right">名前: <td><%=h @account_title.name %>
  <tr><th align="right">振りガナ: <td><%=h @account_title.kana_name %>
  <tr><th align="right">定義など: 
    <td><%= h(@account_title.description).split(/\r?\n/).join('<br/>') %>
  <tr><th align="right">終了日: <td><%= @account_title.end_day %>
  <tr><th align="right">表示上の正残: 
    <td><%= @account_title.sign > 0 ? "借方" : "貸方" %>
<% same_acs = AccountTitle.where("account_code = ? AND id != ?", 
                           @account_title.account_code, @account_title.id)
   error = false
   same_acs.each do |ac|
     if ac.sign != @account_title.sign
       error = true; break
     end
   end
   if error %>
      <p class="alert-warning">Warning: 表示上の正残が, 同じ科目コードのなかで異なっています。</p>
<% end %>

<% if !@account_title.aggregate_flag %>
  <tr><th align="right">種別:
    <td><%= AccountTitle::KIND_NAMES[@account_title.kind] %>

  <tr><th align="right" valign="top">伝票追加可能: 
    <td>
      <table class="table table-condensed">
        <tr><td> <th nowrap>有効? <th>相手(債権/債務)科目
        <tr><td>(購買)請求書: <td><%= @account_title.enable_invoice %> 
          <td><%=h @account_title.enable_invoice && @account_title.payable ?
		                     @account_title.payable.name : "－" %>
        <tr><td>販売請求書: <td><%= @account_title.enable_si_invoice %> 
          <td><%=h @account_title.enable_si_invoice && @account_title.receivable ? @account_title.receivable.name : "－" %>
      </table>

  <tr><th align="right" valign="top">課税売上/仕入:
    <td><%= Vat::TAX_SIDES[@account_title.tax_side] %>
<% if @account_title.tax_side != 0 %>
      <table>
        <tr><th align="right">税グループ(初期値): 
          <td><%= @account_title.default_tax_type %> <%=h Vat::TAX_TYPES[@account_title.default_tax_type] %>
      </table>
<% end %>

<% error = false
   if @account_title.tax_side != 0
     same_acs.each do |ac|
       if ac.tax_side != 0 && ac.tax_side != @account_title.tax_side
         error = true; break
       end
     end
   end
   if error %>
      <p class="alert-warning">Warning: 課税売上/仕入が, 同じ科目コードのなかで異なっています。</p>
<% end %>
     
  <tr><th align="right">取引先必須: <td><%= @account_title.req_partner %>
<% end %>

</table>

<p><%= link_to '[編集...]', :action => 'edit', :id => @account_title %> 
  <%= button_to '[削除]', { :action => 'destroy', :id => @account_title },
              :data => {:turbo_confirm => 'Are you sure?'}, :method => 'delete' %>





<% if @account_title.created_at %>
<p>Created at <%= @account_title.created_at %> 
<%   if @account_title.created_by %>
  by <%= @account_title.created_by.name %>
<%   end %>
<% end %>

<% if @account_title.updated_at %>
<p>Updated at <%= @account_title.updated_at %> 
<%   if @account_title.updated_by %>
  by <%= @account_title.updated_by.name %>
<%   end %>
<% end %>

