
<p>不課税(対象外) をここで登録しないでください。不課税についても会計システム連携が必要な場合は, 仕訳ジェネレータで発生させてください。
  

  <%= error_messages_for 'vat' %>


<table>
  <tr><th align="right">Active: <td><%= f.check_box :active %>
        
  <tr><th align="right">国コード: 
    <td>
<% if params[:action] == "edit" %>
      <%= @vat.country %>
<% else %>
      <%= f.text_field :country, :size => 5 %> ex) "JP". あとから変更できません.
<% end %>
 
  <tr><th align="right" nowrap>課税売上/仕入:
    <td><label><%= f.radio_button :tax_side, 1 %> 売上</label>
      <label><%= f.radio_button :tax_side, 2 %> 仕入</label>
  <tr><th align="right">会計システム税コード: 
    <td><%= f.text_field :tax_code %> 半角英数. 課税売上/仕入が異なる場合, 同じ税コード可.

  <tr><th align="right">名前:
    <td><%= f.text_field :name %>

  <tr><th align="right">税率:
    <td>
<% if params[:action] == "edit" %>
      <%= @vat.tax_rate %>
<% else %>
      <%= f.text_field :tax_rate, :size => 5 %> ex) "5.0". あとから変更できません。
<% end %>

  <tr><th align="right">税グループ:
    <td><%= tag "select", {:name => "vat[tax_group]"}, true %> 
        <%= options_for_select( (Vat::TAX_TYPES.to_a.map() do |x| 
                                           [x[0].to_s + " " + x[1], x[0]] end),
                                :selected => @vat.tax_group ) %>
      </select>
    
  <tr><th align="right">開始日: 
    <td><%= date_select2 :vat, :effective_day %>

  <tr><th align="right">勘定科目:
    <td><%= f.select :account_title_id, 
                    (AccountTitle.where("end_day IS NULL") 
                                 .order("account_code").map do |ac| 
                              ["#{ac.account_code} #{ac.name}", ac.id] end) %>

</table>
