
<h1>消費税・税金の編集</h1>

<p>※税率が変更になるときは, 新たに別レコードを作成してください。

<%= form_for @vat, :url => {:action => "update", :id => @vat}, 
             :html => {:class => "well"} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= link_to 'キャンセル', :action => "show", :id => @vat %>
      <button type="submit" class="btn btn-primary">更新</button>
    </div>
  </div>
<% end %>

