
<% @page_title = "消費税・VATの一覧"
   @crumbs = [
     {:controller => 'keiri', :action => 'show', :title => '経理'} 
   ] 
  %>

<p>勘定科目ごとに (税グループ, 課税仕入/売上) を設定します。伝票作成の際は, 勘定科目の課税仕入/売上に一致する税コードが選択肢となり, さらに税グループに属する税金が初期値となります。

<table class="table table-condensed">
  <tr>
    <th>税コード
    <th>名前
    <th>国
    <th>税率
    <th>課税売上/仕入
    <th>税グループ
    <th>開始日
  </tr>

<% @vats.each do |vat| %>
  <tr>
    <td><%= vat.tax_code %>
    <td><%= vat.name %>
    <td><%= vat.country %>
    <td><%= vat.tax_rate %>
    <td><%= (case vat.tax_side.to_i
               when 1; "売上"
               when 2; "仕入"
               else; raise end) %>
    <td><%= "#{vat.tax_group} #{Vat::TAX_TYPES[vat.tax_group]}" %>
    <td><%= vat.effective_day %>
    <td><%= link_to '詳細', :action => "show", :id => vat %>
  </tr>
<% end %>
</table>

<p><%= link_to "新しい消費税・税金...", :action => "new" %>
