<% # -*- coding:utf-8 -*-
   @page_title = @vat.name
   @crumbs = [
     {controller: "keiri", action:'show', title: "経理"},
     {:action => "index", :title => "消費税・VATの一覧"}
] %>



<table>
  <tr><th align="right">Active: <td><%= @vat.active ? "Yes" : "No" %>
  <tr><th align="right">国コード: 
    <td><%= @vat.country %>
        
  <tr><th align="right">税コード: 
    <td><%= @vat.tax_code %>

  <tr><th align="right">名前:
    <td><%= @vat.name %>

  <tr><th align="right" nowrap>課税売上/仕入:
    <td><%= (case @vat.tax_side.to_i
            when 1; "売上"
            when 2; "仕入"
            else; raise end) %>
  <tr><th align="right">税率:
    <td><%= @vat.tax_rate %>%
  <tr><th align="right">税グループ:
    <td><%= @vat.tax_group.to_s + Vat::TAX_TYPES[@vat.tax_group] %>

  <tr><th align="right">開始日: 
    <td><%= @vat.effective_day %>
  <tr><th align="right">勘定科目:
    <td><%= "#{@vat.account_title.account_code}/#{@vat.account_title.suppl_code} " + @vat.account_title.name %>
</table>



<p><%= link_to '編集...', :action => "edit", :id => @vat %> |
  <%= button_to '削除', {:action => "destroy", :id => @vat}, 
              :data => {:turbo_confirm => 'Are you sure?'}, :method => :delete %>
