<?xml version="1.0" encoding="UTF-8"?>
<env:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/">
  <env:Header>
    <SessionID><%= @di_session_id %></SessionID>
  </env:Header>
  <env:Body>
    <dis:AddObject xmlns:dis="http://www.sap.com/SBO/DIS" 
                   CommandID="Add <%= Time.now %>">
<% if @dry_run %>
      <DryRun>True</DryRun>
<% end %>
      <BOM>
<%= @xml_entries.html_safe %>
      </BOM>
    </dis:AddObject>
  </env:Body>
</env:Envelope>
