<?xml version="1.0" encoding="UTF-8"?>
<env:Envelope xmlns:env="http://schemas.xmlsoap.org/soap/envelope/">
  <env:Body>
    <Login xmlns="LoginService">
      <DatabaseServer><%= @db.database_server %></DatabaseServer>
      <DatabaseName><%= @db.company_db %></DatabaseName>
      <DatabaseType><%= @db.database_type %></DatabaseType>
      <DatabaseUsername><%= @db.database_username %></DatabaseUsername>
      <DatabasePassword><%= @db.database_password %></DatabasePassword>
      <CompanyUsername><%= @db.company_username %></CompanyUsername>
      <CompanyPassword><%= @db.company_password %></CompanyPassword>
      <Language><%= @db.language %></Language>
      <LicenseServer><%= @db.license_server %></LicenseServer>
    </Login>
  </env:Body>
</env:Envelope>
