<a href="/">トップ</a> &gt;
<a href="/keiri">経理</a> &gt;
<h1>取引先・社員マスタエクスポート・ログ</h1>

<p>出力欄に Finished と表示されれば完了です。何かエラー・警告が発生したときは、エラー出力に表示されます。

<% if !@out.index("Finish") %>
<script type="text/javascript">
function reload_page() {
  window.location.reload();
}
setTimeout(reload_page, 5000); // ミリ秒単位
</script>
<% end %>


<p>Finished と表示されたら, /home/upload のファイルを投入してください。




<h2>出力</h2>

<%= h(@out).split(/\r?\n/).join("<br />\n").html_safe %>


<h2>ERR</h2>

<%= h(@err).split(/\r?\n/).join("<br />\n").html_safe %>



