

<% @rest.delete(parent.id) %>
<%= link_to '子を選択...', :action => 'edit', :parent_id => parent %>
<% pairs = AccountTitleTree.find :all, 
                            :conditions => ['parent_id = ?', parent.id]
   if !pairs.empty? 
     des = parent.descendant %>
<div class="tree"><ul>
<%   pairs.each {|pair| %>
<%= render :partial => 'entry', :locals => {:entry => pair.child, :des => des } %>
<%   } %>
</ul></div>
<% end %>
