
<% styles = []
   if des.include?(entry.id)
     styles << "color:red;font-weight:bold"
   elsif entry.end_day
     styles << "color:gray"
   end
   if entry.aggregate_flag && !@rest.include?(entry.id)
     styles << "font-style:italic"
   end %>
  <li class="<%= entry.aggregate_flag ? 'folder' : 'leaf' %>">
<% if styles.empty? %>
  <%=h entry.name2 %>
<% else %>
  <span style="<%= styles.join(';') %>"><%=h entry.name2 %></span>
<% end 
   if entry.aggregate_flag && @rest.include?(entry.id) %>
<%= render :partial => 'aggregate', :locals => {:parent => entry} %>
<% end %>
