
<% # -*- encoding:utf-8 -*- %>

<table>
  <tr>
    <th>集計先
    <th>含める科目
  </tr>
  <tr>
    <td valign="top"><%=h @parent.name2 %>
    <td><select name="account_title_tree[child_id][]" size="30" multiple="multiple"> 
<option value=""></option>
<%= options_from_collection_for_select(@child_cand, :id, :name2, 
                                       @parent.children.collect {|r| r.id}) %>
</select>
  </tr>
</table>
