
<h1>集計元を選択</h1>

<%= error_messages_for :account_title_tree %>

<%= form_tag :action => 'update', :parent_id => @parent do %>
<%= render :partial => 'form' %>
<p><%= link_to 'キャンセル', :action => 'index' %> <%= submit_tag "更新" %>
<% end %>


