

<% @page_title = '勘定科目の集計' 
   @crumbs = [] 
  %>





<ul class="nav nav-tabs">
  <li ><%= link_to '勘定科目の検索', :controller => 'account_titles', :action => 'index' %>
  <li ><%= link_to "一覧表示", :controller => "account_titles", :action => "list" %>
  <li class="active"><a>科目の集計</a>
</ul>



<p>複数のルートを持つことができます。また、各科目は、複数の集計先へ集計できます。

<ul>
<% @root_nodes.each {|r| %>
<%= render :partial => 'entry', :locals => {:entry => r, :des => []} %>
<% } %>
</ul>


