<% # -*- coding:utf-8 -*-
  %>
<h1>新しい集計先</h1>

<%= error_messages_for :account_title_tree %>

<%= form_tag :action => 'create' do %>
<%= render :partial => 'form' %>
<p><%= link_to 'キャンセル', :action => 'index' %>
  <%= submit_tag "作成" %>
<% end %>

