<%= error_messages_for 'kubun' %>

<!--[form:kubun]-->
<table>
  <tr><th align="right">内部名: <td><%= text_field 'kubun', 'name' %> (半角英数)
  <tr><th align="right">名前: <td><%= text_field 'kubun', 'long_name' %>
  <tr><th align="right">Active: <td><%= check_box 'kubun', 'active' %>
</table>
<!--[eoform:kubun]-->

