
<h1>元帳区分の編集</h1>

<%= form_tag :action => 'update', :id => @kubun do %>
  <%= render :partial => 'form' %>
  <%= submit_tag '更新' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @kubun %> |
<%= link_to 'Back', :action => 'list' %>
