<a href="/">トップ</a> &gt;
<a href="/keiri">経理</a> &gt; 
<h1>元帳区分の一覧</h1>

<table>
  <tr>
  <% for column in Kubun.content_columns %>
    <th><%= column.human_name %></th>
  <% end %>
  </tr>
  
<% for kubun in @kubuns %>
  <tr>
  <% for column in Kubun.content_columns %>
    <td><%=h kubun.send(column.name) %></td>
  <% end %>
    <td><%= link_to 'Show', :action => 'show', :id => kubun %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => kubun %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @kubuns %>


<p><%= link_to '新しい元帳区分...', :action => 'new' %>
