
<a href="/">トップ</a> &gt;
<a href="/keiri">経理</a> &gt; 
<a href="/kubuns">元帳区分の一覧</a> &gt;
<h1><%= @kubun.name %></h1>



<table>
<% for column in Kubun.content_columns %>
  <tr><th align="right"><%= column.human_name %>:
    <td><%=h @kubun.send(column.name) %>
<% end %>
</table>


<p><%= link_to '編集...', :action => 'edit', :id => @kubun %> |
  <%= link_to '削除', { :action => 'destroy', :id => @kubun }, 
              :confirm => 'Are you sure?', :method => 'post' %>
