
<a href="/">トップ</a> &gt;
<a href="/keiri">経理</a> &gt;
<h1>reportの一覧</h1>

<table>
  <tr>
    <th>名前
  </tr>

<% for report in @reports %>
  <tr>
    <td><%=h report.name %>
    <td><%= link_to '詳細', report %></td>
  </tr>
<% end %>
</table>

<p><%= link_to '新しいreport...', new_report_path %>
