
<h1>新しいreport</h1>

<%= error_messages_for :report %>

<%= form_for(@report) do |f| %>
<table>
  <tr><th align="right">名前: <td><%= f.text_field 'name' %>
</table>

<p>
  <%= link_to 'キャンセル', reports_path %> <%= f.submit "作成" %>
</p>
<% end %>

