
<a href="/">トップ</a> &gt;
<a href="/keiri">経理</a> &gt;
<a href="/reports">reportの一覧</a> &gt;
<h1><%=h @report.name %></h1>

<% @report.list %>
<table>
  <tr>
    <th>科目
    <th>修飾
  </tr>
</table>

<p><%= link_to '編集', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>



    <td><%= link_to 'Edit', edit_report_path(report) %></td>
    <td><%= link_to 'Destroy', report, :confirm => 'Are you sure?', :method => :delete %></td>
