
<% # @param @mat_receiving 編集する材料仕入
  %>

<% if @error %>
<div id="errorExplanation">
  <%= @error.inspect %>
</div>
<% end %>



  <%= error_messages_for 'mat_receiving' %>


<p>■材料仕入
<table>
  <tr><th align="right">booking type:<td><%= @mat_receiving.booking_type %>
  <tr><th align="right">order type:<td><%= @mat_receiving.order_type %>
  <tr><th align="right">order no:<td><%= @mat_receiving.order_no %>

  <tr><th align="right">part serial: <td><%= @mat_receiving.part_serial %>
  <tr><th align="right">delivery date:<td><%= @mat_receiving.delivery_date %>
  <tr><th align="right">receiving no:<td><%= @mat_receiving.receiving_no %>
  <tr><th align="right">quantity:<td><%= @mat_receiving.quantity %>
  <tr><th align="right">amount:<td><%= @mat_receiving.total_amount %>
  <tr><th align="right">tax code:<td><%= @mat_receiving.tax_code %>
  <tr><th align="right">tax amount:<td><%= @mat_receiving.tax_amount %>
  <tr><th align="right">charge:<td><%= @mat_receiving.amount_of_charges %>
</table>


<div class="well">
  <h3>■Part</h3>
<% @part = @mat_receiving.part || MatPart.new %>

<table>
  <tr><th align="right">part no:<td><%= @part.part_no %>
  <tr><th align="right">desc.:<td><%= @part.description %>
  <tr><th align="right">mat. type:
    <td>
<% MatPart::MAT_TYPES.each do |code, name| %>
      <label><%= radio_button :part, :mat_type, code %> <%= name %></label>
<% end %>

  <tr><th align="right">mat. class:<td><%= @mat_receiving.part_mat_class %>
  <tr><th align="right">fixed asset?:
    <td><label><%= f.radio_button :fixed_asset_flag, true %> Fixed Asset</label>
      <label><%= f.radio_button :fixed_asset_flag, false %> Non-FA</label>
</table>

  <div class="actions">
    <%= f.submit %>
  </div>
</div>

