

<h1>Partの編集</h1>

<%= form_for(@mat_receiving, 
             :url => {:action => "update", :id => @mat_receiving}) do |f| %>

  <%= render :partial => 'form', :locals => {:f => f} %>

<p><%= link_to 'キャンセル', :controller => "invoices", :action => "show", 
                           :id => @invoice %>

<% end %>
  
