<h1>Listing mat_receivings</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mat_receivings.each do |mat_receiving| %>
  <tr>
    <td><%= link_to 'Show', :action => 'show', :id => mat_receiving %></td>
    <td><%= link_to 'Edit', :action => 'edit', :id => mat_receiving %></td>

    <td><%= link_to 'Destroy', {:action => 'destroy', :id => mat_receiving}, 
                               :data => {:confirm => 'Are you sure?'},
                               :method => :delete %></td>
  </tr>
<% end %>
</table>

<p><%= link_to 'New Mat receiving', :action => "new" %>
