<h1>New mat_receiving</h1>

<%= form_for(@mat_receiving, :url => {:action => "create"}) do |f| %>

  <%= render :partial => 'form', :locals => {:f => f} %>

<p><%= link_to 'キャンセル', :action => "index" %>
<% end %>
