<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta charset="UTF-8" />

  <title>
<% if !@page_title.blank? %>
      <%= @page_title %>
<% else %>
      <%= controller.action_name %>: <%=h controller.controller_name %>
<% end %>
      - 社内経理システム
  </title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="manifest" href="/manifest.json" />
  <link rel="icon" href="/icon.png" type="image/png" />
  <link rel="icon" href="/icon.svg" type="image/svg+xml" />
  <link rel="apple-touch-icon" href="/icon.png" />

    <!-- bootstrap -->
<% # media="screen" を付けないと, リンクのURLが印刷時に表示されてしまう.
  %>
<% cntr = controller.controller_name
   actn = controller.action_name
   if !( (cntr == "invoices" &&        actn == "print_out") ||
         (cntr == "sales_invoices" &&  actn == "print_request") ||
         (cntr == "receiving_slips" && actn == "print") ||
         (cntr == "payment_slips" &&   actn == "print") ) %>
  <link href="/bootstrap5/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<% end %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag 'pagination', :media => 'all' %>

  <%= javascript_include_tag "application", 
                             "data-turbo-track": "reload", type: "module" %>
  <script type="text/javascript" src="/bootstrap5/js/bootstrap.bundle.min.js" ></script>
<% if @action_javascript %>
  <%= javascript_include_tag @action_javascript %>
<% end %>

<% # 必要な場合だけ追加の script を読み込む。jQuery もここで読み込む.
  %>     
  <%= yield :head %>
</head>
<body class="no-thank-yu">





<nav class="navbar navbar-expand-lg bg-body-tertiary" role="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Keiri</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarScroll" aria-controls="navbarScroll"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>

      <ul class="navbar-nav">
<% if Rails.env.development? %>
        <li class="nav-item"><span style="color:red;font-weight:bold;font-size:14pt">
      [DEVELOPMENT ENV.]</span>
<% elsif Rails.env.staging? %>
        <li class="nav-item"><span style="color:blue;font-weight:bold;font-size:14pt">
      [STAGING ENV.]</span>
<% end %>

<% if current_user.is_a?(User) %>
        <li class="nav-item">ログインユーザ:
    <%= h("#{current_user.worker_code} #{current_user.name}") %>
    <%= current_user.has_role?(:keiri) ? h("<本社経理>") : nil %>
    <%= link_to '[ログアウト]', {:controller => 'account', :action => 'sign_out'}, 
                data:{"turbo-method": :post} %>
<% else %>
        <li class="nav-item">(Not logged in)
    <a href="/account/sign_in" class="btn btn-outline-primary">ログイン...</a>
<% end %>
      </ul>
    </div>
  </div>
</nav><!-- /.navbar -->




<div class="container">

<% if (flash_text = flash[:notice]) != nil %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= flash_text %>
    <button type="button" class="btn-close" data-bs-dismiss="alert"
            aria-label="Close"></button>
  </div>
<% end %>

<% if (flash_text = flash[:alert]) != nil %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error</strong> <%= flash_text %>
    <button type="button" class="btn-close" data-bs-dismiss="alert"
            aria-label="Close"></button>
  </div>
<% end %>


  <header class="page-header">
<% if @crumbs %>
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">トップ</a>
<%   @crumbs.each {|opt_hash| 
       opt = opt_hash.dup; opt.delete(:title) %>
  <li class="breadcrumb-item"><%= link_to opt_hash[:title], opt %>
<%   } %>
  <li class="breadcrumb-item active"></li>
</ol>
<% end %>


<% if @page_title %>
    <h1><%=h @page_title %></h1>
<% end %>
  </header> <!-- /.page-header -->



<%= yield  %>


</div><!-- container -->


  <footer id="footer" style="height:60px;background-color:#f5f5f5;margin-top:5em;">
    <div class="container">
      <p align="right">Powered by <a href="http://www.rubyonrails.org/">Ruby on Rails</a> and <a href="http://www.postgresql.org/">PostgreSQL</a>
    </div>
  </footer>

</body>
</html>
